<div style="width: 100% !important">


  <div class={{className}}>

    <select id={{idSelect}} class="p-2"></select>

    <div class="mb-3">
      <span class="text-white text-uppercase">{{ t (is-concat 'visualization.search.second.' source) }}</span>
    </div>

    <select id={{idSelect2}} class="p-2"></select>

    {{#if reset }}
    <button class="btn btn-outline-secondary text-uppercase mt-5" {{action "reset"}} style="padding: 0 20px;">{{ t 'visualization.clear' }}</button>
    {{/if}}
  </div>


</div>
