<form class="">
  {{#if canYearToggle}}
    <fieldset class="settings__input__wrap">
      <label class="settings__input">
        {{t 'graph_builder.settings.year'}}
      </label>
      <button
        {{bindAttr class=":btn :btn--standalone :btn--stream" disabled="disableDecreaseYear"}}
        {{action "decreaseYear"}}>
        {{t 'graph_builder.settings.year.previous'}}
      </button>
      <span>
        {{year}}
      </span>
      <button
        {{bindAttr class=":btn :btn--standalone :btn--stream" disabled="disableIncreaseYear"}}
        {{action "increaseYear"}}>
        {{t 'graph_builder.settings.year.next'}}
      </button>
    </fieldset>
  {{/if}}

  {{#if isScatter }}
    <fieldset class="settings__input__wrap">
      <label class="settings__input">
        {{t 'graph_builder.settings.rca'}}
      </label>
      <button {{bindAttr class=":btn :btn--standalone :btn--stream isGreater:btn--stream--active"}}{{action 'rcaGreater'}}>
        {{t 'graph_builder.settings.rca.greater'}}
      </button>
      <button {{bindAttr class=":btn :btn--standalone :btn--stream isLess:btn--stream--active"}}{{action 'rcaLess'}}>
        {{t 'graph_builder.settings.rca.less'}}
      </button>
      <button {{bindAttr class=":btn :btn--standalone :btn--stream isAll:btn--stream--active"}}{{action 'rcaAll'}}>
        {{t 'graph_builder.settings.rca.all'}}
      </button>
    </fieldset>
  {{/if}}
</form>

