<form class="buildermod__drawer buildermod__drawer--settings">
  <fieldset class="settings__input__wrap">
      <label for="settings__input--time" class="settings__input">{{t 'graph_builder.settings.change_time'}}</label>
      <select class="settings__input--select" data-dateIndex="start" {{action 'changeStart' on='change'}}>
        {{#each dateRange key="@index" as |item|}}
          <option value="{{item}}" selected={{is-equal item newStartDate}}>
            {{item}}
          </option>
        {{/each}}
      </select>
      <span class="settings__input__text">{{t 'graph_builder.settings.to'}}</span>
      <select class="settings__input--select" data-dateIndex="end" {{action 'changeEnd' on='change'}}>
        {{#each dateRange key="@index" as |item|}}
          <option value="{{item}}" selected={{is-equal item newEndDate}}>
            {{item}}
          </option>
        {{/each}}
      </select>
  </fieldset>
  <button class="settings__btn--close btn btn--standalone btn--stream" {{action 'closeSettingsDrawer'}}>{{t 'graph_builder.settings.close_settings'}}</button>
</form>

