{{#if canYearToggle}}
  {{#unless isSingleYear}}

  <div class="col-sm-12 mb-5">
    <h1 class="text-uppercase">{{t 'graph_builder.settings.year'}}</h1>
  </div>

  <div class="col-sm-12 mb-5">
    
    <div class="d-lg-flex d-md-block justify-content-between">
      <button data-prev-year {{bind-attr class=":btn :btn-outline-secondary disableDecreaseYear:btn--stream--disable" disabled="disableDecreaseYear"}} {{action "decreaseYear"}}>
      {{t 'graph_builder.settings.year.previous'}}
      </button>
      <p class="text-white text-uppercase">{{year}}</p>
      <button data-next-year {{bind-attr class=":btn :btn-outline-secondary  disableIncreaseYear:disabled" disabled="disableIncreaseYear"}} {{action "increaseYear"}}>
        {{t 'graph_builder.settings.year.next'}}
      </button>
    </div>

    
  </div>

  <!--<fieldset class="settings__input__wrap">
    <label class="settings__input">
      {{t 'graph_builder.settings.year'}}
    </label>
    <button data-prev-year {{bind-attr class=":btn :btn--standalone :btn--stream disableDecreaseYear:btn--stream--disable" disabled="disableDecreaseYear"}} {{action "decreaseYear"}}>
      {{t 'graph_builder.settings.year.previous'}}
    </button>
    <span data-year-display class='settings__input-year'>
      {{year}}
    </span>
    <button data-next-year {{bind-attr class=":btn :btn--standalone :btn--stream  disableIncreaseYear:btn--stream--disable" disabled="disableIncreaseYear"}} {{action "increaseYear"}}>
      {{t 'graph_builder.settings.year.next'}}
    </button>
  </fieldset>-->

  {{/unless}}
{{/if}}

{{#if isScatter }}

  <fieldset class="settings__input__wrap">
    <label class="settings__input">
      {{t 'graph_builder.settings.rca'}}
    </label>
    <button {{bind-attr class=":btn :btn--standalone :btn--stream isGreater:btn--stream--active"}}{{action 'rcaGreater'}}>
      {{t 'graph_builder.settings.rca.greater'}}
    </button>
    <button {{bind-attr class=":btn :btn--standalone :btn--stream isLess:btn--stream--active"}}{{action 'rcaLess'}}>
      {{t 'graph_builder.settings.rca.less'}}
    </button>
    <button {{bind-attr class=":btn :btn--standalone :btn--stream isAll:btn--stream--active"}}{{action 'rcaAll'}}>
      {{t 'graph_builder.settings.rca.all'}}
    </button>
  </fieldset>

{{/if}}

