<label for="settings__input--time" class="settings__input">{{t 'graph_builder.settings.change_time'}}</label>
{{!-- {{view "select" class="settings__input--select" content=dateRange value=startDate}} --}}
<select class="settings__input--select" {{action 'change' on='change'}}>
  {{#each content key="@index" as |item|}}
    <option value="{{item}}" selected={{is-equal item selectedValue}}>
      {{item}}
    </option>
  {{/each}}
</select>
<span class="settings__input__text">to</span>
{{!-- {{view "select" class="settings__input--select" content=dateRange value=endDate}} --}}
