<div class="results__text">
  {{#if isLocation }}
    <ul>
      {{#each locationBreadcrumbs as |crumb|}}
        <li class="results__breadcrumb">
          {{crumb.name_es}}
        </li>
      {{/each}}
      <li class="results__breadcrumb">{{breadcrumb}}</li>
    </ul>
  {{else}}
    <ul>
      <li class="results__breadcrumb">{{breadcrumb}}</li>
    </ul>
  {{/if}}
  <p class="results__name" data-search-result-name>{{name}}</p>
</div>
{{#link-to
  profileLink result.id
  data-search-profile=''
  class="btn btn--standalone btn--search results__btn"
}}
  <i class="fa fa-caret-right"></i>
{{/link-to}}

