{{#unless isFiltered }}
  <h3 class="section__head">{{setTitle}}</h3>
{{/unless}}

{{#if showTotal}}
  {{#unless isFiltered }}
    {{component 'multiples-graph'
      classNames='buildermod__viz--multiples'
      immutableData=totalSet
      data=totalSet
      dataType=dataType
      varDependent=varDependent
      startDate=startDate
      dateExtent=dateExtent
      endDate=endDate
      markerGroup='total'
    }}
  {{/unless}}
{{/if}}

{{#if showParent}}
  {{#if showParentHeader}}<h3 class="section__head">{{parentBreadcrumb}}</h3>{{/if}}
  {{component 'multiples-graph'
    classNames='buildermod__viz--multiples'
    immutableData=parentSet
    data=parentSet
    dataType=dataType
    varDependent=varDependent
    startDate=startDate
    dateExtent=dateExtent
    endDate=endDate
    markerGroup='parent'
  }}
{{/if}}

{{#if showChildHeader}}<h3 class="section__head">{{childBreadcrumb}}</h3>{{/if}}
{{component 'multiples-graph'
  classNames='buildermod__viz--multiples'
  immutableData=data
  data=data
  dataType=dataType
  varDependent=varDependent
  startDate=startDate
  dateExtent=dateExtent
  endDate=endDate
  markerGroup='subsets'
}}

