{{#unless isFiltered }}

{{/unless}}

{{#if showTotal}}
  {{#unless isFiltered }}
    {{component 'multiples-graph'
      classNames='buildermod__viz--multiples'
      immutableData=totalSet
      data=totalSet
      dataType=dataType
      varDependent=varDependent
      startDate=startDate
      dateExtent=dateExtent
      endDate=endDate
      markerGroup='total'
      title=title
    }}
  {{/unless}}
{{/if}}

{{#if showParent}}
  {{#if showParentHeader}}<h3 class="section__head">{{parentBreadcrumb}}</h3>{{/if}}
  {{component 'multiples-graph'
    classNames='buildermod__viz--multiples'
    immutableData=parentSet
    data=parentSet
    dataType=dataType
    varDependent=varDependent
    startDate=startDate
    dateExtent=dateExtent
    endDate=endDate
    markerGroup='parent'
    title=title
  }}
{{/if}}

{{#if showChildHeader}}<h3 class="section__head">{{childBreadcrumb}}</h3>{{/if}}
{{component 'multiples-graph'
  classNames='buildermod__viz--multiples'
  immutableData=data
  data=data
  dataType=dataType
  varDependent=varDependent
  startDate=startDate
  dateExtent=dateExtent
  endDate=endDate
  markerGroup='subsets'
  title=title
}}
<!--<div class="col-lg-12 mt-5">
  <div class="text-left">
    <button type="button" class="btn btn-outline-secondary" {{action 'savePdf'}}><i class="fas fa-file-pdf mr-3"></i>Descargar gráfico (PDF)</button>
  </div>
</div>-->
