<header class="stream__header stream__header--builder">
  {{#if isLocation}}
    <ul>
      {{#each breadcrumbs as |crumb|}}
        {{#link-to 'location.show' crumb.id  tagName='li' class='breadcrumb'}}
          {{crumb.name_es}}
        {{/link-to}}
      {{/each}}
    </ul>
  {{/if}}
  {{#if isProduct }}
    <ul>
      <li class="breadcrumb">{{t 'general.product' }}</li>
    </ul>
  {{/if}}
  {{#if isIndustry}}
    <ul>
      <li class="breadcrumb">{{t 'general.industry' }}</li>
    </ul>
  {{/if}}
  {{#if isLocation}}
    <h2 class="stream__head" data-location-name>{{model.name}}</h2>
    {{ partial 'partials/builder-questions-location'}}
  {{/if}}
  {{#if isProduct}}
    <h2 class="stream__head" data-location-name>{{model.name}} ({{model.code}})</h2>
    {{ partial 'partials/builder-questions-product'}}
  {{/if}}
  {{#if isIndustry}}
    <h2 class="stream__head" data-location-name>{{model.name}} ({{model.code}})</h2>
    {{ partial 'partials/builder-questions-industry'}}
  {{/if}}
  {{#if isLandUse}}
    <h2 class="stream__head" data-location-name>{{model.name}}</h2>
    {{ partial 'partials/builder-questions-land-use'}}
  {{/if}}
  {{#if isAgproduct}}
    <h2 class="stream__head" data-location-name>{{model.name}}</h2>
    {{ partial 'partials/builder-questions-agproduct'}}
  {{/if}}
</header>

