<div class="container-fluid my-5 pl-sm-5 pl-md-x10">
  <header class="stream__header stream__header--builder">
  {{#if isLocation}}

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">{{#link-to 'index'}}Home{{/link-to}}</li>
        <li class="breadcrumb-item">{{#link-to 'search' (query-params filter="location")}}{{ t 'search.results_locations' }}{{/link-to}}</li>
        <li class="breadcrumb-item active" aria-current="page">{{model.name}}</li>
      </ol>
    </nav>

  {{/if}}

  {{#if isIndustry}}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">{{#link-to 'index'}}Home{{/link-to}}</li>
        <li class="breadcrumb-item">{{#link-to 'search' (query-params filter="industry")}}{{ t 'search.results_industries' }}{{/link-to}}</li>
        <li class="breadcrumb-item active" aria-current="page">{{model.name}}</li>
      </ol>
    </nav>
  {{/if}}

  {{#if isShowingIndex}}
    <div class="stream__transparent" {{action 'toggleIndex'}}></div>
  {{/if}}
  {{#if isLocation}}

    <div class="my-5">
      <h1 class="stream-header__title">{{ t 'general.locations' }}</h1>
      <h1 class="stream-header__subtitle">{{model.name}} ({{model.code}})</h1>
    </div>

    {{#if isShowingIndex}}
      {{ partial 'partials/builder-questions-location'}}
    {{/if}}
  {{/if}}
  {{#if isProduct}}

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">{{#link-to 'index'}}Home{{/link-to}}</li>
        <li class="breadcrumb-item">{{#link-to 'search' (query-params filter="product")}}{{ t 'search.results_products' }}{{/link-to}}</li>
        <li class="breadcrumb-item active" aria-current="page">{{model.name}}</li>
      </ol>
    </nav>

  {{/if}}
  {{#if isIndustry}}
    <div class="my-5">
      <h1 class="stream-header__title">{{ t 'general.industry' }}</h1>
      <h1 class="stream-header__subtitle">{{model.name}} ({{model.code}})</h1>
    </div>
    {{#if isShowingIndex}}
      {{ partial 'partials/builder-questions-industry'}}
    {{/if}}
  {{/if}}

  {{#if isProduct }}

  <div class="my-5">
    <h1 class="stream-header__title">{{ t 'general.product' }}</h1>
    <h1 class="stream-header__subtitle">{{model.name}} ({{model.code}})</h1>
  </div>

  {{/if}}

  {{#if isLandUse}}

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">{{#link-to 'index'}}Home{{/link-to}}</li>
        <li class="breadcrumb-item">{{#link-to 'search' (query-params filter="rural")}}{{ t 'search.results_rural' }}{{/link-to}}</li>
        <li class="breadcrumb-item active" aria-current="page">{{ t 'search.rural.land-use' }}</li>
      </ol>
    </nav>

    <div class="my-5">
      <h1 class="stream-header__title">{{ t 'search.results_rural' }}</h1>
      <h1 class="stream-header__subtitle">{{model.name}}</h1>
    </div>

    {{#if isShowingIndex}}
      {{ partial 'partials/builder-questions-land-use'}}
    {{/if}}
  {{/if}}
  {{#if isAgproduct}}

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">{{#link-to 'index'}}Home{{/link-to}}</li>
        <li class="breadcrumb-item">{{#link-to 'search' (query-params filter="rural")}}{{ t 'search.results_rural' }}{{/link-to}}</li>
        <li class="breadcrumb-item active" aria-current="page">{{ t 'search.rural.agproduct' }}</li>
      </ol>
    </nav>

    <div class="my-5">
      <h1 class="stream-header__title">{{ t 'search.rural.agproduct' }}</h1>
      <h1 class="stream-header__subtitle">{{model.name}}</h1>
    </div>

    {{#if isShowingIndex}}
      {{ partial 'partials/builder-questions-agproduct'}}
    {{/if}}
  {{/if}}
  {{#if isNonag}}


    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">{{#link-to 'index'}}Home{{/link-to}}</li>
        <li class="breadcrumb-item">{{#link-to 'search' (query-params filter="rural")}}{{ t 'search.results_rural' }}{{/link-to}}</li>
        <li class="breadcrumb-item active" aria-current="page">{{ t 'search.rural.nonag' }}</li>
      </ol>
    </nav>

    <div class="my-5">
      <h1 class="stream-header__title">{{ t 'search.results_rural' }}</h1>
      <h1 class="stream-header__subtitle">{{model.name}}</h1>
    </div>

    {{#if isShowingIndex}}
      {{ partial 'partials/builder-questions-nonag'}}
    {{/if}}
  {{/if}}
  {{#if isLivestock}}

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">{{#link-to 'index'}}Home{{/link-to}}</li>
        <li class="breadcrumb-item">{{#link-to 'search' (query-params filter="rural")}}{{ t 'search.results_rural' }}{{/link-to}}</li>
        <li class="breadcrumb-item active" aria-current="page">{{ t 'search.rural.livestock' }}</li>
      </ol>
    </nav>

    <div class="my-5">
      <h1 class="stream-header__title">{{ t 'search.results_rural' }}</h1>
      <h1 class="stream-header__subtitle">{{model.name}}</h1>
    </div>

    {{#if isShowingIndex}}
      {{ partial 'partials/builder-questions-livestock'}}
    {{/if}}
  {{/if}}
</header>
</div>

