<header class="stream__header stream__header--builder">
  {{#if isLocation}}
    <ul>
      {{#each crumb in breadcrumbs}}
        {{#link-to 'location.show' crumb.id  tagName='li' class='breadcrumb'}}
          {{crumb.name_es}}
        {{/link-to}}
      {{/each}}
    </ul>
  {{/if}}
  {{#if isProduct }}
    <ul>
      <li class="breadcrumb">{{t 'general.product' }}</li>
    </ul>
  {{/if}}
  {{#if isIndustry}}
    <ul>
      <li class="breadcrumb">{{t 'general.industry' }}</li>
    </ul>
  {{/if}}

  {{#if isShowingIndex}}
    <div class="stream__transparent" {{action 'toggleIndex'}}></div>
  {{/if}}
  {{#if isLocation}}
    <h2 class="stream__head" data-location-name>{{model.name}}</h2>
    {{#if isShowingIndex}}
      {{ partial 'partials/builder-questions-location'}}
    {{/if}}
  {{/if}}
  {{#if isProduct}}
    <h2 class="stream__head" data-location-name>{{model.name}} ({{model.code}})</h2>
    {{#if isShowingIndex}}
      {{ partial 'partials/builder-questions-product'}}
    {{/if}}
  {{/if}}
  {{#if isIndustry}}
    <h2 class="stream__head" data-location-name>{{model.name}} ({{model.code}})</h2>
    {{#if isShowingIndex}}
      {{ partial 'partials/builder-questions-industry'}}
    {{/if}}
  {{/if}}
  {{#if isLandUse}}
    <h2 class="stream__head" data-location-name>{{model.name}}</h2>
    {{#if isShowingIndex}}
      {{ partial 'partials/builder-questions-land-use'}}
    {{/if}}
  {{/if}}
  {{#if isAgproduct}}
    <h2 class="stream__head" data-location-name>{{model.name}}</h2>
    {{#if isShowingIndex}}
      {{ partial 'partials/builder-questions-agproduct'}}
    {{/if}}
  {{/if}}
    <aside class="cta__wrap--right">
    <a class="btn overview" > {{t 'header.overview'}} </a>
    <a class="btn btn--standalone btn--text index" {{ action 'toggleIndex' }}> {{t 'header.index'}} </a>
    </aside>
</header>

