<aside class="cta__wrap">
  <a class="btn btn--standalone btn--stream btn--cta" {{action 'save'}}>
    {{fa-icon "download" classNames="cta__icon"}}
  </a>
{{!--   <a class="btn btn--standalone btn--stream btn--cta" {{action 'save'}}>
    {{fa-icon "facebook" classNames="cta__icon"}}
  </a>
  <a class="btn btn--standalone btn--stream btn--cta" {{action 'save'}}>
    {{fa-icon "twitter" classNames="cta__icon"}}
  </a> --}}
</aside>

