<div class="row">
  <div class="col-lg-12 mb-5">
    <h4 class="title_yellow">{{t varDependent}}</h4>
  </div>
	{{#each key in legend}}
		<div class="col-sm-12 text-white">
            <i class="fa fa-circle" class={{key.class}}></i> {{key.start}} - {{key.end}}
	  	</div>
	{{else}}
	{{/each}}
	<div class="col-lg-12 mt-5">
        <div class="text-left">
            <button type="button" id="savepng" class="btn btn-outline-secondary"><i class="fas fa-file-image mr-3"></i>Descargar grafico (PNG)</button>
            <button type="button" id="savepdf" class="btn btn-outline-secondary"><i class="fas fa-file-pdf mr-3"></i>Descargar grafico (PDF)</button>
        </div>
    </div>
</div>
