<div class="buildermod__questions buildermod__drawer--questions">
  <h4 class="builder__questions__header" {{action 'togglePanel' 'employment'}}>{{t 'graph_builder.builder_questions.employment'}} <span class="builder__questions__triangle"/></h4>
  {{#if (array-contains openPanels 'employment') }}
  <ul class="builder__questions__list">
    <li class="builder__questions__item">
      {{#link-to 'industry.visualization' model.id 'departments' 'treemap' 'employment' (query-params startDate=lastYear endDate=lastYear)
        class="icon-cidcon_treemap builder__questions__item__icon"
        tagNmae='i'
      }} {{/link-to}}
      {{#link-to 'industry.visualization' model.id 'departments' 'multiples' 'employment' (query-params startDate=firstYear endDate=lastYear)
        class="icon-cidcon_multiples builder__questions__item__icon"
        tagNmae='i'
      }} {{/link-to}}
      {{#link-to 'industry.visualization' model.id 'departments' 'geo' 'employment' (query-params startDate=lastYear endDate=lastYear)
        class="icon-cidcon_geo builder__questions__item__icon"
        tagNmae='i'
      }} {{/link-to}}
      <div class="builder__questions__item__textwrap">
        <span>
          {{#link-to 'industry.visualization' model.id 'departments' 'multiples' 'employment' (query-params startDate=firstYear endDate=lastYear)
            class="builder__questions__question"
          }}
            {{t 'graph_builder.page_title.industry.departments.employment'}}
          {{/link-to}}
        </span>
      </div>
    </li>
    <li class="builder__questions__item">
      {{#link-to 'industry.visualization' model.id 'cities' 'treemap' 'employment' (query-params startDate=lastYear endDate=lastYear)
        class="icon-cidcon_treemap builder__questions__item__icon"
        tagNmae='i'
      }} {{/link-to}}
      {{#link-to 'industry.visualization' model.id 'cities' 'multiples' 'employment' (query-params startDate=firstYear endDate=lastYear)
        class="icon-cidcon_multiples builder__questions__item__icon"
        tagNmae='i'
      }} {{/link-to}}
      <div class="builder__questions__item__textwrap">
        <span>
        {{#link-to 'industry.visualization' model.id 'cities' 'multiples' 'employment' (query-params startDate=firstYear endDate=lastYear)
          class="builder__questions__question"
        }}
          {{t 'graph_builder.page_title.industry.cities.employment'}}
        {{/link-to}}
        </span>
      </div>
    </li>
  </ul>
  {{/if}}
  <h4 class="builder__questions__header" {{action 'togglePanel' 'wages'}}>{{t 'graph_builder.builder_questions.wage'}} <span class="builder__questions__triangle"/></h4>
  {{#if (array-contains openPanels 'wages') }}
  <ul class="builder__questions__list">
    <li class="builder__questions__item">
      {{#link-to 'industry.visualization' model.id 'departments' 'treemap' 'wages' (query-params startDate=lastYear endDate=lastYear)
        class="icon-cidcon_treemap builder__questions__item__icon"
        tagNmae='i'
      }} {{/link-to}}
      {{#link-to 'industry.visualization' model.id 'departments' 'multiples' 'wages' (query-params startDate=firstYear endDate=lastYear)
        class="icon-cidcon_multiples builder__questions__item__icon"
        tagNmae='i'
      }} {{/link-to}}
      {{#link-to 'industry.visualization' model.id 'departments' 'geo' 'wages' (query-params startDate=lastYear endDate=lastYear)
        class="icon-cidcon_geo builder__questions__item__icon"
        tagNmae='i'
      }} {{/link-to}}
      <div class="builder__questions__item__textwrap">
        <span>
          {{#link-to 'industry.visualization' model.id 'departments' 'multiples' 'wages' (query-params startDate=firstYear endDate=lastYear)
            class="builder__questions__question"
          }}
            {{t 'graph_builder.page_title.industry.departments.wages'}}
          {{/link-to}}
        </span>
      </div>
    </li>
    <li class="builder__questions__item">
      {{#link-to 'industry.visualization' model.id 'cities' 'treemap' 'wages' (query-params startDate=lastYear endDate=lastYear)
        class="icon-cidcon_treemap builder__questions__item__icon"
        tagNmae='i'
      }} {{/link-to}}
      {{#link-to 'industry.visualization' model.id 'cities' 'multiples' 'wages' (query-params startDate=firstYear endDate=lastYear)
        class="icon-cidcon_multiples builder__questions__item__icon"
        tagNmae='i'
      }} {{/link-to}}
      <div class="builder__questions__item__textwrap">
        <span>
        {{#link-to 'industry.visualization' model.id 'cities' 'multiples' 'wages' (query-params startDate=firstYear endDate=lastYear)
            class="builder__questions__question"
          }}
          {{t 'graph_builder.page_title.industry.cities.wages'}}
        {{/link-to}}
        </span>
      </div>
    </li>
  </ul>
  {{/if}}
  {{#unless isIndustryClass}}
  <h4 class="builder__questions__header" {{action 'togglePanel' 'occupation'}}>{{t 'graph_builder.builder_questions.occupation'}} <span class="builder__questions__triangle"/></h4>
  {{#if (array-contains openPanels 'occupation') }}
  <ul class="builder__questions__list">
    <li class="builder__questions__item">
      {{#link-to 'industry.visualization' model.id 'occupations' 'treemap' 'num_vacancies' (query-params startDate=lastYear endDate=lastYear)
        class="icon-cidcon_treemap builder__questions__item__icon"
        tagNmae='i'
      }} {{/link-to}}
      <div class="builder__questions__item__textwrap">
        <span>
          {{#link-to 'industry.visualization' model.id 'occupations' 'treemap' 'num_vacancies' (query-params startDate=lastYear endDate=lastYear)
            class="builder__questions__question"
          }}
            {{t 'graph_builder.page_title.industry.occupations.num_vacancies'}}
          {{/link-to}}
        </span>
      </div>
    </li>
  </ul>
  {{/if}}
  {{/unless}}
</div>
