<div class="new__buildermod__questions">

  <div class="container-fluid px-md-x10 pb-5">
    <div class="row row-without-margin">
      <div class="col-sm-12 pl-md-0">
        <h1 class="question__title my-5">Realice una búsqueda por Temáticas del sector</h1>
      </div>
    </div>
    <div class="row row-without-margin">

      <div class="col-sm-12 col-md-6 pl-md-0">
        <h2 class="new__builder__questions__header">{{t 'graph_builder.builder_questions.employment'}}</h2>

        <div class="mt-4">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'industry.visualization' model.id 'departments' 'multiples' 'employment' (query-params startDate=firstYear endDate=lastYear)
            class="builder__questions__question"
          }}
            {{t 'graph_builder.page_title.industry.departments.employment'}}
          {{/link-to}}
        </div>

        <div class="mt-3">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'industry.visualization' model.id 'cities' 'multiples' 'employment' (query-params startDate=firstYear endDate=lastYear)
            class="builder__questions__question"
          }}
            {{t 'graph_builder.page_title.industry.cities.employment'}}
          {{/link-to}}
        </div>

      </div>

      <div class="col-sm-12 col-md-6 pt-5 pt-md-0">
        <h2 class="new__builder__questions__header">{{t 'graph_builder.builder_questions.wage'}}</h2>

        <div class="mt-4">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'industry.visualization' model.id 'departments' 'multiples' 'wages' (query-params startDate=firstYear endDate=lastYear)
            class="builder__questions__question"
          }}
            {{t 'graph_builder.page_title.industry.departments.wages'}}
          {{/link-to}}
        </div>

        <div class="mt-3">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'industry.visualization' model.id 'cities' 'multiples' 'wages' (query-params startDate=firstYear endDate=lastYear)
              class="builder__questions__question"
            }}
            {{t 'graph_builder.page_title.industry.cities.wages'}}
          {{/link-to}}
        </div>

      </div>

    </div>
  </div>
</div>
