<article class="profile stream">
  <img src="assets/img/hero_images/location/loc_05.jpg" class="stream__img--hero">
  <header class="stream__header profile__header">
    <h2 class="stream__head" data-location-name>{{model.name}}</h2>
    <ol class="breadcrumbs">
      <li class="breadcrumb"><a href="#" class="breadcrumb__link">Industry</a></li>
      <li class="breadcrumb"><a href="#" class="breadcrumb__link">{{model.level}}</a></li>
      <li class="breadcrumb"><a href="#" class="breadcrumb__link">{{model.name}}</a></li>
    </ol>
  </header>
  <section class="stream__section">
    <header class="section__header">
      <h3 class="section__head">Employment and Wages</h3>
    </header>
    <table class="table--summaries">
      <thead>
        <tr class="table__row table__row--header">
          <th class="table__header"></th>
          <th class="table__header table__header--summaries--dotplot">Industries</th>
          <th class="table__header">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table__row table__row--body">
          <td class="table__cell table__cell--summaries">
            Employment Growth (2008-2013)
          </td>
          <td class="table__cell table__cell--summaries">
            {{dot-plot
              elementId='dotplot--employment-growth'
              data=employmentGrowthDotPlot
              varX='employment_growth'
              varText='name_en'
              varId='industry_id'
              type='percentage'
              currentLocation=model.id
            }}
          </td>
          <td class="table__cell table__cell--summaries">
            {{displayEmploymentGrowth}}
          </td>
          {{!--
          <td class="table__cell table__cell--summaries">
             {{spark-line
              data=model.timeseries
              varId='industry_id'
              yVar='employment'
              elementId='spark--employment'
              type='population'
              currentLocation=model.id
              currentLocationName=model.name
              }}
          </td>
          --}}
        </tr>
        <tr class="table__row table__row--body">
          <td class="table__cell table__cell--summaries">
            Average Wage (2013)
          </td>
          <td class="table__cell table__cell--summaries">
            {{dot-plot
              elementId='dotplot--avg-wage'
              data=averageWageDotPlot
              varX='avg_wage'
              varText='name_en'
              varId='industry_id'
              currentLocation=model.id
            }}
          </td>
          <td class="table__cell table__cell--summaries">
            {{model.lastAvgWage}}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="tabmod">
      {{#ivy-tabs}}
        {{#ivy-tab-list classNames='tabmod__tabs'}}
          {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
            <a class="tab__link">Average Wages ({{year}})</a>
          {{/ivy-tab}}
          {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active' action='puts'}}
            <a class="tab__link">Employment ({{year}})</a>
          {{/ivy-tab}}
        {{/ivy-tab-list}}
        {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
          <div class="vizmod">
            <div class="vizmod--treemod">
              {{d3plus-tree-map
                isInTab='true'
                data=departmentsData
                immutableData=departmentsData
                varIndependent=treemapIndependentVars
                elementId='wages-tree-map'
                dataType='industries'
                varDependent='avg_wage'
              }}
            </div>
          </div>
        {{/ivy-tab-panel}}
        {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
          <div class="vizmod">
            <div class="vizmod--treemod">
              {{d3plus-tree-map
                isInTab='true'
                data=departmentsData
                immutableData=departmentsData
                varIndependent=treemapIndependentVars
                elementId='employment-tree-map'
                varDependent='employment'
              }}
            </div>
          </div>
        {{/ivy-tab-panel}}
      {{/ivy-tabs}}
    </div>
  </section>
  <section class="stream__section">
    <header class="section__header">
      <h3 class="section__head">Industry Composition, 2012</h3>
    </header>
    {{component 'graphbuilder-table'
      data=model.classIndustries
      source='industryClasses'
    }}
  </section>
  <div class="interstitial">
    <h3 class="interstitial__head">Share</h3>
    <div class="interstitial__btnmod">
      <button class="interstitial__btn">Facebook</button>
      <button class="interstitial__btn">Twitter</button>
    </div>
  </div>
  <div class="interstitial">
    <h3 class="interstitial__head">Download data for this profile</h3>
    <div class="interstitial__btnmod">
      <button class="interstitial__btn">CSV (13MB)</button>
      <button class="interstitial__btn">Excel (41MB)</button>
    </div>
  </div>
  <section class="stream__section">
  </section>
</article>
<footer class="footer">
  <p class="footer__text">Footer TK</p>
</footer>
