<section class="stream__section">
  <header class="section__header">
     <h3 class="section__head">{{t 'country.show.economic_structure' }}</h3>
  </header>
  <p class="section__p">
    {{t 'country.show.economic_structure.copy' }}
  </p>
  {{partial 'location/country-dotplots'}}
</section>

<section class="stream__section">
  <header class="section__header">
    <h3 class="section__head">
      {{t 'country.show.employment_wage_occupation'}}
    </h3>
  </header>
  <p class="section__p">
    {{t 'country.show.employment_wage_occupation.copy.p1'}}
  </p>
  <p class="section__p">
    {{t 'country.show.employment_wage_occupation.copy.p2'}}
  </p>
  <div class="tabmod">
    {{#ivy-tabs}}
      {{#ivy-tab-list classNames='tabmod__tabs'}}
        {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
          <a class="tab__link">
            {{t 'location.show.total_wages' lastYear=year}}
          </a>
        {{/ivy-tab}}
        {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active' action='puts'}}
          <a class="tab__link">
            {{t 'location.show.employment' lastYear=year}}
          </a>
        {{/ivy-tab}}
      {{/ivy-tab-list}}
      {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
        <div class="vizmod">
          <div class="vizmod--treemod">
            {{d3plus-tree-map
              isInTab='true'
              data=lastIndustryData
              immutableData=lastIndustryData
              elementId='wages-tree-map'
              dataType='industries'
              varDependent='wages'
            }}
          </div>
        </div>
      {{/ivy-tab-panel}}
      {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
        <div class="vizmod">
          <div class="vizmod--treemod">
            {{d3plus-tree-map
              data=lastIndustryData
              immutableData=lastIndustryData
              isInTab='true'
              elementId='employment-tree-map'
              dataType='industries'
              varDependent='employment'
            }}
          </div>
        </div>
      {{/ivy-tab-panel}}
    {{/ivy-tabs}}
  </div>
</section>
<section class="stream__section">
  <header class="section__header">
    <h3 class="section__head">
        {{t 'country.show.industry_complex'}}
    </h3>
  </header>
  <p class="section__p">
    {{t 'country.show.industry_complex.copy.p1'}}
  </p>
  <p class="section__p">
    {{t 'country.show.industry_complex.copy.p2'}}
  </p>
  <div class="tabmod">
    {{#ivy-tabs}}
      {{#ivy-tab-list classNames='tabmod__tabs'}}
        {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
          <a class="tab__link">
            {{t 'country.show.industry_space'}}
          </a>
        {{/ivy-tab}}
      {{/ivy-tab-list}}
      {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
        <div class="vizmod buildermod__vizwrap--is--fixedheight">
          {{d3plus-network
            data=lastIndustryData
            immutableData=lastIndustryData
            elementId='industry-space'
            dataType='industries'
            height=600
          }}
        </div>
      {{/ivy-tab-panel}}
    {{/ivy-tabs}}
  </div>
</section>
<section class="stream__section">
  <div class="ember__table__wrap">
    {{component 'graphbuilder-table'
      data=lastIndustryData
      source='industries'
      isSingleYear='true'
    }}
    {{component 'table-download'
      data=lastIndustryData
    }}
  </div>
</section>
<section class="stream__section">
  <header class="section__header">
    <h3 class="section__head">
      {{t 'country.show.exports'}}
    </h3>
  </header>
  <p class="section__p">
    {{t 'country.show.exports.copy.p1'}}
  </p>
  <div class="tabmod">
    {{#ivy-tabs}}
      {{#ivy-tab-list classNames='tabmod__tabs'}}
        {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
          <a class="tab__link">
            {{t 'location.show.exports' year=year}}
          </a>
        {{/ivy-tab}}
        {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
          <a class="tab__link">
            {{t 'country.show.export_composition' year=year}}
          </a>
        {{/ivy-tab}}
      {{/ivy-tab-list}}

      {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
        <div class="vizmod">
          <div class="vizmod--treemod">
            {{d3plus-tree-map
              isInTab='true'
              data=productsData
              immutableData=productsData
              elementId='export-tree-map'
              varDependent='export_value'
              metadata=model.metaData
            }}
          </div>
        </div>
      {{/ivy-tab-panel}}
      {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
        <div class="vizmod">
          <div class="vizmod--treemod">
            {{d3plus-tree-map
              isInTab='true'
              data=departmentsData
              immutableData=departmentsData
              elementId='export-department-map'
              varDependent='export_value'
              metadata=model.metaData
            }}
          </div>
        </div>
      {{/ivy-tab-panel}}
    {{/ivy-tabs}}
  </div>
</section>
<section class="stream__section">
  <header class="section__header">
    <h3 class="section__head">
      {{t 'country.show.export_complexity_possibilities'}}
    </h3>
  </header>
  <p class="section__p">
    {{t 'country.show.export_complexity_possibilities.copy.p1'}}
  </p>
  <p class="section__p">
    {{t 'country.show.export_complexity_possibilities.copy.p2'}}
  </p>
  <p class="section__p">
    {{t 'country.show.export_complexity_possibilities.copy.p3'}}
  </p>
  <div class="tabmod">
    {{#ivy-tabs}}
      {{#ivy-tab-list classNames='tabmod__tabs'}}
        {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
          <a class="tab__link">
            {{t 'country.show.product_space'}}
          </a>
        {{/ivy-tab}}
      {{/ivy-tab-list}}

      {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
        <div class="vizmod">
          <div class="vizmod--treemod">
          {{d3plus-network
            data=productsData
            immutableData=productsData
            elementId='product-space'
            dataType='products'
            metadata=model.metaData
            height=600
          }}
          </div>
        </div>
      {{/ivy-tab-panel}}
    {{/ivy-tabs}}
  </div>
</section>
<section class="stream__section">
  <div class="ember__table__wrap">
    {{component 'graphbuilder-table'
      data=productsData
      source='products'
      isSingleYear='true'
    }}
    {{component 'table-download'
      data=productsData
    }}
  </div>
</section>
