<div class="container-fluid px-md-x10 pb-5">
  <div class="row">

    <table class="table datlas-table">
      <col style="width:30%">
      <col style="width:20%">
      <col style="width:50%">
      <thead>
        <tr class="table__row--header">
          <th scope="col"></th>
          <th scope="col" class="d-flex justify-content-between">
            <div>{{t 'location.show.value'}}</div>
            <div>{{t 'rankings.table-title'}}</div>
          </th>
          <th scope="col">{{t 'location.show.all_departments'}}</th>
        </tr>
      </thead>
      <tbody class="text-white">

        <tr class="table__row table__row--body">
          <td scope="row">{{t 'location.show.ag_farmsize'}}</td>
          <td class="d-flex justify-content-between">
            {{model.agFarmsize}}
            {{table-rank rank=model.agFarmsizeRank}}
          </td>
          <td class="table__cell table__cell--summaries" style="height:10rem;">
            {{vistk-dotplot
              elementId='dotplot--agfarmsizes'
              data=model.agFarmsizesData
              varX='avg_farmsize'
              varId='location_id'
              type='decimal'
              currentSelection=locationId
            }}
          </td>
        </tr>


        <tr class="table__row table__row--body">
          <td scope="row">{{t 'location.show.nonag_farmsize'}}</td>
          <td class="d-flex justify-content-between">
            {{model.nonagFarmsize}}
            {{table-rank rank=model.nonagFarmsizeRank}}
          </td>
          <td class="table__cell table__cell--summaries" style="height:10rem;">
            {{vistk-dotplot
              elementId='dotplot--nonagfarmsizes'
              data=model.nonagFarmsizesData
              varX='avg_farmsize'
              varId='location_id'
              type='decimal'
              currentSelection=locationId
            }}
          </td>
        </tr>

      </tbody>
    </table>

  </div>
</div>



<section class="stream__section">
  <header class="section__header">
  <h3 class="section__head">{{t 'location.show.overview'}}</h3>
  </header>

</section>

