<div class="buildermod__questions buildermod__drawer--questions">
  <h4 class="builder__questions__header">{{t 'graph_builder.builder_questions.industry'}}</h4>
  <ul class="builder__questions__list">
    <li class="builder__questions__item">
    <i class="icon-cidcon_treemap builder__questions__item__icon"></i>
    <i class="icon-cidcon_multiples builder__questions__item__icon"></i>
      <div class="builder__questions__item__textwrap">
        <span>
        {{#link-to 'location.visualization' model.id 'industries' 'treemap' 'employment' (query-params endDate=lastYear startDate=lastYear search='null')
          class="builder__questions__question"}}
          {{t 'graph_builder.page_title.location.industries.employment' thisLevel=thisLevel}}
        {{/link-to}}
        </span>
      </div>
    </li>
    <li class="builder__questions__item">
    <i class="icon-cidcon_treemap builder__questions__item__icon"></i>
    <i class="icon-cidcon_multiples builder__questions__item__icon"></i>
      <div class="builder__questions__item__textwrap">
        <span>
          {{#link-to 'location.visualization' model.id 'industries' 'treemap' 'wages' (query-params endDate=lastYear startDate=lastYear search='null')
            class="builder__questions__question" }}
            {{t 'graph_builder.page_title.location.industries.wages' thisLevel=thisLevel}}
          {{/link-to}}
        </span>
      </div>
    </li>
    {{#unless isMunicipality}}
      <li class="builder__questions__item">
      <i class="icon-cidcon_scatter builder__questions__item__icon"></i>
        <div class="builder__questions__item__textwrap">
          <span>
          {{#link-to 'location.visualization' model.id 'industries' 'similarity' 'rca' (query-params endDate=lastYear startDate=lastYear)
            class="builder__questions__question"}}
            {{t 'graph_builder.page_title.location.industries.similarity' thisLevel=thisLevel}}
            {{/link-to}}
          </span>
        </div>
      </li>
      {{#unless isCountry}}
        <li class="builder__questions__item">
        <i class="icon-cidcon_similarity builder__questions__item__icon"></i>
        <div class="builder__questions__item__textwrap">
          <span>
            {{#link-to 'location.visualization' model.id 'industries' 'scatter' 'opportunity' (query-params endDate=lastYear startDate=lastYear search='null')
              class="builder__questions__question"}}
              {{t 'graph_builder.page_title.location.industries.scatter' thisLevel=thisLevel}}
            {{/link-to}}
          </span>
        </div>
        </li>
      {{/unless}}
    {{/unless}}
  </ul>
  <h4 class="builder__questions__header">{{t 'graph_builder.builder_questions.export'}}</h4>
  <ul class="builder__questions__list">
    <li class="builder__questions__item">
      <i class="icon-cidcon_treemap builder__questions__item__icon"></i>
      <i class="icon-cidcon_multiples builder__questions__item__icon"></i>
      <div class="builder__questions__item__textwrap">
        <span>
          {{#link-to 'location.visualization' model.id  'products' 'treemap' 'export_value' (query-params search='null' startDate=lastYear  endDate=lastYear)
            class="builder__questions__question"}}
            {{t 'graph_builder.page_title.location.products.export_value' thisLevel=thisLevel}}
          {{/link-to}}
        </span>
      </div>
    </li>
    <li class="builder__questions__item">
      <i class="icon-cidcon_multiples builder__questions__item__icon"></i>
      <i class="icon-cidcon_treemap builder__questions__item__icon"></i>
      <div class="builder__questions__item__textwrap">
        <span class="builder__questions__question">
          {{#link-to 'location.visualization' model.id 'partners' 'treemap' 'export_value' (query-params search='null' startDate=lastYear  endDate=lastYear)
            class="builder__questions__question"}}
            {{t 'graph_builder.page_title.location.partners.export_value' thisLevel=thisLevel }}
          {{/link-to}}
        </span>
      </div>
    </li>
    {{#unless isMunicipality}}
      <li class="builder__questions__item">
        <i class="icon-cidcon_similarity builder__questions__item__icon"></i>
        <div class="builder__questions__item__textwrap">
          <span>
            {{#link-to 'location.visualization' model.id 'products' 'similarity' 'rca' (query-params endDate=lastYear startdate=lastYear search='null')
              class="builder__questions__question"}}
              {{t 'graph_builder.page_title.location.products.similarity' thisLevel=thisLevel}}
            {{/link-to}}
          </span>
        </div>
      </li>
      <li class="builder__questions__item">
        <i class="icon-cidcon_scatter builder__questions__item__icon"></i>
        <div class="builder__questions__item__textwrap">
          <span>
            {{#link-to 'location.visualization' model.id 'products' 'scatter' 'opportunity' (query-params endDate=lastYear startDate=lastYear search='null')
              class="builder__questions__question"}}
              {{t 'graph_builder.page_title.location.products.scatter' thisLevel=thisLevel}}
            {{/link-to}}
          </span>
        </div>
      </li>
  {{/unless}}
  </ul>
    <h4 class="builder__questions__header">{{t 'graph_builder.builder_questions.import'}}</h4>
    <ul class="builder__questions__list">
      <li class="builder__questions__item">
        <i class="icon-cidcon_treemap builder__questions__item__icon"></i>
        <i class="icon-cidcon_multiples builder__questions__item__icon"></i>
        <div class="builder__questions__item__textwrap">
          <span>
            {{#link-to 'location.visualization' model.id 'products' 'treemap' 'import_value' (query-params search='null' startDate=lastYear  endDate=lastYear)
              class="builder__questions__question"}}
              {{t 'graph_builder.page_title.location.products.import_value' thisLevel=thisLevel}}
            {{/link-to}}
          </span>
        </div>
      </li>
      <li class="builder__questions__item">
        <i class="icon-cidcon_multiples builder__questions__item__icon"></i>
        <i class="icon-cidcon_treemap builder__questions__item__icon"></i>
        <div class="builder__questions__item__textwrap">
          <span class="builder__questions__question">
            {{#link-to 'location.visualization' model.id 'partners' 'treemap' 'import_value' (query-params search='null' startDate=lastYear  endDate=lastYear)
              class="builder__questions__question"}}
              {{t 'graph_builder.page_title.location.partners.import_value' thisLevel=thisLevel }}
            {{/link-to}}
          </span>
        </div>
      </li>
    </ul>
</div>
