

<div class="new__buildermod__questions">

  <div class="container-fluid px-md-x10 pb-5">
    <div class="row row-without-margin">
      <div class="col-sm-12 pl-md-0">
        <h1 class="question__title my-5">Realice una búsqueda por</h1>
      </div>
    </div>
    <div class="row row-without-margin">

      <div class="col-sm-12 col-md-6 pl-md-0">
        <h2 class="new__builder__questions__header">{{t 'graph_builder.builder_questions.industry'}}</h2>

        <div class="mt-4">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'location.visualization' model.id 'industries' 'treemap' 'employment' (query-params endDate=lastYear startDate=lastYear search=null)
            class="builder__questions__question"}}
            {{t (is-concat 'graph_builder.page_title.location.industries.employment.' model.level)}}
          {{/link-to}}
        </div>

        <div class="mt-3">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'location.visualization' model.id 'industries' 'treemap' 'wages' (query-params endDate=lastYear startDate=lastYear search=null)
              class="builder__questions__question" }}
              {{t (is-concat 'graph_builder.page_title.location.industries.wages.' model.level)}}
            {{/link-to}}
        </div>

        {{#unless isMunicipality}}
        <div class="mt-3">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'location.visualization' model.id 'industries' 'similarity' 'rca' (query-params endDate=lastYear startDate=lastYear)
          class="builder__questions__question"}}
          {{t (is-concat 'graph_builder.page_title.location.industries.similarity.' model.level)}}
          {{/link-to}}
        </div>

          {{#unless isCountry}}

          <div class="mt-3">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            {{#link-to 'location.visualization' model.id 'industries' 'scatter' 'opportunity' (query-params endDate=lastYear startDate=lastYear search='null')
            class="builder__questions__question"}}
            {{t (is-concat 'graph_builder.page_title.location.industries.scatter.' model.level)}}
          {{/link-to}}
          </div>

          {{/unless}}

        {{/unless}}

      </div>

      <div class="col-sm-12 col-md-6 pl-md-0">

        <h2 class="new__builder__questions__header">{{t 'graph_builder.builder_questions.export'}}</h2>

        <div class="mt-4">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          <span>
            {{#link-to 'location.visualization' model.id  'products' 'treemap' 'export_value' (query-params search='null' startDate=lastYear  endDate=lastYear)
              class="builder__questions__question"}}
              {{t (is-concat 'graph_builder.page_title.location.products.export_value.' model.level)}}
            {{/link-to}}
          </span>
        </div>

        <div class="mt-3">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'location.visualization' model.id 'partners' 'treemap' 'export_value' (query-params search='null' startDate=lastYear  endDate=lastYear)
            class="builder__questions__question"}}
            {{t (is-concat 'graph_builder.page_title.location.partners.export_value.' model.level) }}
          {{/link-to}}
        </div>

        {{#if isDepartment}}
          <div class="mt-3">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            {{#link-to 'location.visualization-product' model.id 1224 'multiples' 'export_value' (query-params search='null' startDate=firstYear endDate=lastYear)
              class="builder__questions__question"}}
              {{t (is-concat 'graph_builder.page_title.location.destination_by_product.export_value.' model.level) }}
            {{/link-to}}
          </div>
        {{/if}}
        {{#unless isMunicipality}}
          <div class="mt-3">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            {{#link-to 'location.visualization' model.id 'products' 'similarity' 'rca' (query-params endDate=lastYear startDate=lastYear search='null')
              class="builder__questions__question"}}
              {{t (is-concat 'graph_builder.page_title.location.products.similarity.' model.level)}}
            {{/link-to}}
          </div>
          <div class="mt-3">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            {{#link-to 'location.visualization' model.id 'products' 'scatter' 'opportunity' (query-params endDate=lastYear startDate=lastYear search='null')
              class="builder__questions__question"}}
              {{t (is-concat 'graph_builder.page_title.location.products.scatter.' model.level)}}
            {{/link-to}}
          </div>
        {{/unless}}

      </div>

      <div class="col-sm-12 col-md-6 pl-md-0 mt-5">
        <h2 class="new__builder__questions__header">{{t 'graph_builder.builder_questions.import'}}</h2>


        <div class="mt-4">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'location.visualization' model.id 'products' 'treemap' 'import_value' (query-params search='null' startDate=lastYear  endDate=lastYear)
            class="builder__questions__question"}}
            {{t (is-concat 'graph_builder.page_title.location.products.import_value.' model.level)}}
          {{/link-to}}
        </div>

        <div class="mt-3">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'location.visualization' model.id 'partners' 'treemap' 'import_value' (query-params search='null' startDate=lastYear  endDate=lastYear)
            class="builder__questions__question"}}
            {{t (is-concat 'graph_builder.page_title.location.partners.import_value.' model.level)}}
          {{/link-to}}
        </div>

        {{#if isDepartment}}
        <!--<div class="mt-3">
          {{#link-to 'location.visualization-product' model.id 1224 'multiples' 'import_value' (query-params search='null' startDate=firstYear endDate=lastYear)
            class="builder__questions__question"}}
            {{t (is-concat 'graph_builder.page_title.location.destination_by_product.import_value.' model.level) }}
          {{/link-to}}
        </div>-->
        {{/if}}

      </div>

      <!--
      {{#unless isMsa }}

      <div class="col-sm-12 col-md-6 pl-md-0 mt-5">

        <h2 class="new__builder__questions__header">{{t 'graph_builder.builder_questions.rural'}}</h2>

        <div class="mt-4">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'location.visualization' model.id 'landUses' 'treemap' 'area' (query-params search='null' startDate=agcensusLastYear  endDate=agcensusLastYear)
            class="builder__questions__question"}}
            {{t (is-concat 'graph_builder.page_title.location.landUses.area.' model.level)}}
          {{/link-to}}
        </div>


        <div class="mt-3">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'location.visualization' model.id 'farmtypes' 'treemap' 'num_farms' (query-params search='null' startDate=agcensusLastYear  endDate=agcensusLastYear)
            class="builder__questions__question"}}
            {{t (is-concat 'graph_builder.page_title.location.farmtypes.num_farms.' model.level)}}
          {{/link-to}}
        </div>

        <div class="mt-3">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'location.visualization' model.id 'agproducts' 'treemap' 'land_sown' (query-params search='null' startDate=agproductLastYear  endDate=agproductLastYear)
            class="builder__questions__question"}}
            {{t (is-concat 'graph_builder.page_title.location.agproducts.land_sown.' model.level)}}
          {{/link-to}}
        </div>

        <div class="mt-3">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'location.visualization' model.id 'agproducts' 'treemap' 'land_harvested' (query-params search='null' startDate=agproductLastYear  endDate=agproductLastYear)
            class="builder__questions__question"}}
            {{t (is-concat 'graph_builder.page_title.location.agproducts.land_harvested.' model.level)}}
          {{/link-to}}
        </div>

        <div class="mt-3">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'location.visualization' model.id 'agproducts' 'treemap' 'production_tons' (query-params search='null' startDate=agproductLastYear  endDate=agproductLastYear)
            class="builder__questions__question"}}
            {{t (is-concat 'graph_builder.page_title.location.agproducts.production_tons.' model.level)}}
          {{/link-to}}
        </div>

        <div class="mt-3">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'location.visualization' model.id 'agproducts' 'multiples' 'yield_ratio' (query-params search='null' startDate=agproductFirstYear  endDate=agproductLastYear)
            class="builder__questions__question"}}
            {{t (is-concat 'graph_builder.page_title.location.agproducts.yield_ratio.' model.level)}}
          {{/link-to}}
        </div>

        <div class="mt-3">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'location.visualization' model.id 'nonags' 'treemap' 'num_farms' (query-params search='null' startDate=agcensusLastYear  endDate=agcensusLastYear)
            class="builder__questions__question"}}
            {{t (is-concat 'graph_builder.page_title.location.nonags.num_farms.' model.level)}}
          {{/link-to}}
        </div>

        <div class="mt-3">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'location.visualization' model.id 'livestock' 'treemap' 'num_livestock' (query-params search='null' startDate=agcensusLastYear  endDate=agcensusLastYear)
            class="builder__questions__question"}}
            {{t (is-concat 'graph_builder.page_title.location.livestock.num_livestock.' model.level)}}
          {{/link-to}}
        </div>

        <div class="mt-3">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'location.visualization' model.id 'livestock' 'treemap' 'num_farms' (query-params search='null' startDate=agcensusLastYear  endDate=agcensusLastYear)
            class="builder__questions__question"}}
            {{t (is-concat 'graph_builder.page_title.location.livestock.num_farms.' model.level)}}
          {{/link-to}}
        </div>

      </div>

      {{/unless}}
      -->
    </div>
  </div>
</div>

