{{navigation-questions
  entityType=entityType
  model=model
  isDepartment=isDepartment
  isMunicipality=isMunicipality
  firstYear=firstYear
  lastYear=lastYear
  agproductFirstYear=agproductFirstYear
  agproductLastYear=agproductLastYear
  agcensusFirstYear=agcensusFirstYear
  agcensusLastYear=agcensusLastYear
}}

{{#if isDepartment }}
  {{partial 'location/department-dotplots'}}
{{else if isMsa}}
  {{partial 'location/subregion-dotplots'}}
{{else if isMunicipality}}
  {{partial 'location/municipality-dotplots'}}
{{/if}}

<!--
{{#if showExports}}

<div class="container-fluid px-md-x10 mt-5">
  <div class="row">

    <div class="col-sm-12">
      <p class="text-white">Filtrar por Año</p>
    </div>

    <div class="col-sm-12">

      <div class="row">
        <div class="col-sm-12 col-md-4 my-auto">
          <div class="">
            <select class="form-control form-filter" id="selectYear">

              {{#each year in rangeYears }}
                <option>{{year}}</option>
              {{/each}}

            </select>
          </div>
        </div>

        <div class="col-sm-12 col-md-4 mx-auto">
          <button class="btn btn-outline-secondary" {{action "setStartYear"}}>FILTRAR</button>
        </div>

        <div class="col-sm-12 col-md-4">
          <ul class="nav nav-pills center-pills" id="pills-tab-tables-graphics" role="tablist">
            <li class="nav-item">
              <a class="nav-link active btn btn-outline-secondary btn-lg btn-block text-uppercase" id="pills-graphic-tab" data-toggle="pill" href="#pills-graphics" role="tab" aria-controls="pills-graphics" aria-selected="true">
                VER COMO GRÁFICA
              </a>
            </li>

            <li class="nav-item ml-5">
              <a class="nav-link btn btn-outline-secondary btn-lg btn-block text-uppercase" id="pills-table-tab" data-toggle="pill" href="#pills-tables" role="tab" aria-controls="pills-tables" aria-selected="true">
                VER COMO TABLA
              </a>
            </li>

          </ul>
        </div>
      </div>

    </div>

    <div class="col-sm-12">
      <div class="mt-5 tab-content" id="pills-tabContent">

        <div class="tab-pane fade active show" id="pills-graphics" role="tabpanel" aria-labelledby="pills-graphics">
          <div class="container-fluid px-md-x10 mt-5">
            <div class="col-md-12 text-center">

              <ul class="nav nav-pills center-pills" id="pills-tab" role="tablist">

                <li class="nav-item">
                  <a class="nav-link active btn btn-outline-secondary btn-lg btn-block text-uppercase" id="pills-exports-tab" data-toggle="pill" href="#pills-exports" role="tab" aria-controls="pills-exports" aria-selected="true">
                    {{t 'location.show.exports_filtered' year=startDate }}
                  </a>
                </li>

                <li class="nav-item ml-5">
                  <a class="nav-link btn btn-outline-secondary btn-lg btn-block text-uppercase" id="pills-exports-country-tab" data-toggle="pill" href="#pills-exports-country" role="tab" aria-controls="pills-exports-country" aria-selected="true">
                    {{t 'location.show.exports_country_filtered' year=startDate }}
                  </a>
                </li>

              </ul>

              <div class="mt-5 tab-content" id="pills-tabContent">

                <div class="tab-pane fade active show" id="pills-exports" role="tabpanel" aria-labelledby="pills-exports">
                  <div class="container-fluid">

                    <div class="col-sm-12 mt-5 pt-5 {{if isGeo 'row'}} visualizationComponent_div geo_background">
                      <div class="visualizationComponent {{if isGeo 'col-md-8'}}">
                        {{
                          zoomable-treemap
                          data=filteredProductsData
                          varDependent='export_value'
                          elementId='zoomable-export-value-treemap'
                          class="position-relative"
                          color='pink'
                          groupByParent=true
                        }}
                      </div>

                      {{#if needsLegend }}
                        {{#unless isGeo }}
                            {{component 'visualization-legend' legend=legend }}
                        {{else}}
                            {{component 'visualization-legend-geomap' legend=geoLegend classNames='col-md-4 d-flex flex-column justify-content-around' }}
                        {{/unless}}
                      {{/if}}

                    </div>

                  </div>
                  <div class="container-fluid">
                    {{
                      category-buttons
                      data=productsData
                      immutableData=inmutableProductsData
                    }}
                  </div>
                  <div class="container-fluid my-5">
                    <div class="text-right">
                      {{#link-to 'location.visualization' model.id 'products' 'treemap' 'export_value' (query-params startDate=startDate endDate=startDate search='null')
                        class="btn btn-outline-secondary"
                      }}
                      VER MAS
                      {{/link-to}}
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade show" id="pills-exports-country" role="tabpanel" aria-labelledby="pills-exports-country">
                  <div class="container-fluid">

                    <div class="col-sm-12 mt-5 pt-5 {{if isGeo 'row'}} visualizationComponent_div geo_background">
                      <div class="visualizationComponent {{if isGeo 'col-md-8'}}">
                        {{
                          zoomable-treemap
                          data=filteredPartnersData
                          varDependent='export_value'
                          elementId='zoomable-export-value-treemap-partner'
                          class="position-relative"
                          color='pink'
                          groupByParent=true
                        }}
                      </div>

                      {{#if needsLegend }}
                        {{#unless isGeo }}
                            {{component 'visualization-legend' legend=legend }}
                        {{else}}
                            {{component 'visualization-legend-geomap' legend=geoLegend classNames='col-md-4 d-flex flex-column justify-content-around' }}
                        {{/unless}}
                      {{/if}}

                    </div>

                  </div>
                  <div class="container-fluid">
                    {{
                      category-buttons
                      data=productsData
                      immutableData=inmutableProductsData
                    }}
                  </div>

                  <div class="container-fluid my-5">
                    <div class="text-right">
                      {{#link-to 'location.visualization' model.id 'partners' 'treemap' 'export_value' (query-params startDate=startDate endDate=startDate search='null')
                        class="btn btn-outline-secondary"
                      }}
                      VER MAS
                      {{/link-to}}
                    </div>
                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>

        <div class="tab-pane fade show" id="pills-tables" role="tabpanel" aria-labelledby="pills-tables">


          <div class="container-fluid px-md-x10 mt-5">
            <div class="row">
              <div class="col-sm-12">
                <h1 class="text_yellow">Productos que más exporta el departamento</h1>
              </div>

              <div class="col-sm-12">
                {{
                  datlas-table
                  data=filteredProductsData
                  source='products'
                  entityType=''
                  search=search
                  startDate=startDate
                  endDate=endDate
                  elementId="productssourceTable"
                }}
              </div>

              <div class="container-fluid my-5">
                <div class="text-right">
                  {{#link-to 'location.visualization' model.id 'products' 'treemap' 'export_value' (query-params startDate=startDate endDate=startDate search='null')
                    class="btn btn-outline-secondary"
                  }}
                  VER MAS
                  {{/link-to}}
                </div>
              </div>

            </div>


            <div class="row">
              <div class="col-sm-12">
                <h1 class="text_yellow">Paises donde más exporta el departamento</h1>
              </div>

              <div class="col-sm-12">
                {{
                  datlas-table
                  data=filteredPartnersData
                  source='partners'
                  entityType=''
                  search=search
                  startDate=startDate
                  endDate=endDate
                  elementId="partnerssourceTable"
                }}
              </div>

              <div class="container-fluid my-5">
                <div class="text-right">
                  {{#link-to 'location.visualization' model.id 'partners' 'treemap' 'export_value' (query-params startDate=startDate endDate=startDate search='null')
                    class="btn btn-outline-secondary"
                  }}
                  VER MAS
                  {{/link-to}}
                </div>
              </div>

            </div>


          </div>


        </div>

      </div>
    </div>


  </div>
</div>

<div class="container-fluid px-md-x10 pb-5">
  <div class="text-right">
    {{#link-to 'location.visualization' model.id 'products' 'scatter' 'opportunity' (query-params startDate=startDate endDate=startDate search='null')
      class="btn btn-outline-secondary"
    }}
    SIGUIENTE
    {{/link-to}}
  </div>
</div>


{{else }}
  {{#if isDepartment }}
    {{partial 'location/department-dotplots'}}
  {{else if isMsa}}
    {{partial 'location/subregion-dotplots'}}
  {{else if isMunicipality}}
    {{partial 'location/municipality-dotplots'}}
  {{/if}}

  <div class="container-fluid px-md-x10 pb-5">
    <div class="text-right">
      <button class="btn btn-outline-secondary" {{action "showExports" true}}>SIGUIENTE</button>
    </div>
  </div>

{{/if}}
-->


<!--
{{#if featureToggle.showIndustries }}
  <section class="stream__section">
    <header class="section__header">
      <h3 class="section__head">
        {{t 'location.show.employment_and_wages'}}
      </h3>
    </header>
    <div class="tabmod">
      {{#ivy-tabs}}
        {{#ivy-tab-list classNames='tabmod__tabs'}}
          {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
            <a class="tab__link">
              {{t 'location.show.employment' lastYear=lastYear}}
            </a>
          {{/ivy-tab}}
          {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active' action='puts'}}
            <a class="tab__link">
              {{t 'location.show.total_wages' lastYear=lastYear}}
            </a>
          {{/ivy-tab}}
        {{/ivy-tab-list}}
        {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
          <div class="vizmod">
            <div class="vizmod--treemod">
              {{vistk-treemap
                data=lastIndustryData
                immutableData=lastIndustryData
                isInTab='true'
                elementId='employment-vistk-treemap'
                dataType='industries'
                varDependent='employment'
                delay=200
              }}
            </div>
          </div>
        {{/ivy-tab-panel}}
        {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
          <div class="vizmod">
            <div class="vizmod--treemod">
              {{vistk-treemap
                isInTab='true'
                data=industriesData
                immutableData=industriesData
                elementId='wages-vistk-treemap'
                dataType='industries'
                varDependent='wages'
                delay=700
              }}
            </div>
          </div>
        {{/ivy-tab-panel}}
      {{/ivy-tabs}}
    </div>
  </section>
{{/if}}
<section class="stream__section">
  <header class="section__header">
    <h3 class="section__head">
      {{t 'location.show.exports_and_imports'}}
    </h3>
  </header>
  <div class="tabmod">
    {{#ivy-tabs}}
      {{#ivy-tab-list classNames='tabmod__tabs'}}
        {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
          <a class="tab__link">
            {{t 'location.show.exports' year=lastYear }}
          </a>
        {{/ivy-tab}}
        {{#if featureToggle.showImports }}
          {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
            <a class="tab__link">
              {{t 'location.show.imports' year=lastYear }}
            </a>
          {{/ivy-tab}}
        {{/if}}
      {{/ivy-tab-list}}

      {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
        <div class="vizmod">
          <div class="vizmod--treemod">

          </div>
        </div>
      {{/ivy-tab-panel}}
      {{#if featureToggle.showImports }}
        {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
          <div class="vizmod">
            <div class="vizmod--treemod">

            </div>
          </div>
        {{/ivy-tab-panel}}
      {{/if}}
    {{/ivy-tabs}}
  </div>
</section>
{{#if isDepartment }}
  <section class="stream__section">
    <header class="section__header">
      <h3 class="section__head">
        {{t 'location.show.subregion.title'}}
      </h3>
    </header>
    <div class="tabmod">
      {{#ivy-tabs}}
        {{#ivy-tab-list classNames='tabmod__tabs'}}
          {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
            <a class="tab__link">
              {{t 'location.show.subregion.exports' year=lastYear}}
            </a>
          {{/ivy-tab}}
          {{#if featureToggle.showImports }}
            {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
              <a class="tab__link">
                {{t 'location.show.subregion.imports' year=lastYear}}
              </a>
            {{/ivy-tab}}
          {{/if}}
        {{/ivy-tab-list}}

        {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
          <div class="vizmod">
            <div class="vizmod--treemod">
              {{vistk-treemap
                isInTab='true'
                data=model.subregions
                immutableData=model.subregions
                elementId='export-subregions-map'
                varDependent='export_value'
                metadata=model.metaData
                delay=3000
              }}
            </div>
          </div>
        {{/ivy-tab-panel}}
        {{#if featureToggle.showImports }}
          {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
            <div class="vizmod">
              <div class="vizmod--treemod">
                {{vistk-treemap
                  isInTab='true'
                  data=model.subregions
                  immutableData=model.subregions
                  elementId='import-subregions-map'
                  varDependent='import_value'
                  metadata=model.metaData
                  delay=3000
                }}
              </div>
            </div>
          {{/ivy-tab-panel}}
        {{/if}}
      {{/ivy-tabs}}
    </div>
  </section>
{{/if}}-->

