{{#if description }}
  <p class="section__p">
    {{description}}
  </p>
{{/if}}

{{#if isDepartment }}
  <section class="stream__section">
    <header class="section__header">
    <h3 class="section__head">{{t 'location.show.overview'}}</h3>
    </header>
    <ul class="list--section list--section--bullets">
      <li class="list__item--section--bullets">
        {{t 'location.show.bullet.gdp_grow_rate' gdpGrowth=model.gdpGrowth yearRange=model.yearRange}}
      </li>
      <li class="list__item--section--bullets">
        {{t 'location.show.bullet.gdp_pc' name=model.name lastGdpPerCapita=model.lastGdpPerCapita}}
      </li>
      <li class="list__item--section--bullets">
        {{t 'location.show.bullet.last_pop' lastPop=model.lastPop}}
      </li>
    </ul>
    <table class="table--summaries">
      <thead>
        <tr class="table__row table__row--header">
          <th class="table__header"></th>
          <th class="table__header table__header--summaries--value">
            {{t 'location.show.value'}}
          </th>
          <th class="table__header table__header--summaries--dotplot">
            {{t 'location.show.all_departments'}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="table__row table__row--body">
          <td class="table__cell table__cell--summaries">
            {{t 'location.show.gdp_pc'}}
          </td>
          <td class="table__cell table__cell--summaries">
            {{model.lastGdpPerCapita}}
          </td>
          <td class="table__cell table__cell--summaries">
            {{dot-plot
              elementId='dotplot--gdp-pc'
              data=departmentsData
              varX='gdp_pc_nominal'
              varText='name'
              varId='department_id'
              currentSelection=locationId
            }}
          </td>
        </tr>
        <tr class="table__row table__row--body">
          <td class="table__cell table__cell--summaries">
            {{t 'location.show.gdp'}}
          </td>
          <td class="table__cell table__cell--summaries">
            {{model.lastGdp}}
          </td>
          <td class="table__cell table__cell--summaries">
            {{dot-plot
              elementId='dotplot--gdp'
              data=departmentsData
              varX='gdp_nominal'
              varText='name'
              varId='department_id'
              currentSelection=locationId
            }}
          </td>
        </tr>
        <tr class="table__row table__row--body">
          <td class="table__cell table__cell--summaries">
            {{t 'location.show.population'}}
          </td>
          <td class="table__cell table__cell--summaries">
            {{model.lastPop}}
          </td>
          <td class="table__cell table__cell--summaries">
            {{dot-plot
              elementId='dotplot--population'
              data=departmentsData
              varX='population'
              varText='name'
              varId='department_id'
              type='population'
              currentSelection=locationId
            }}
          </td>
        </tr>
      </tbody>
    </table>
  </section>
{{/if}}
<section class="stream__section">
  <header class="section__header">
    <h3 class="section__head"></h3>
  </header>
  <div class="tabmod">
    {{#ivy-tabs}}
      {{#ivy-tab-list classNames='tabmod__tabs'}}
        {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
          <a class="tab__link">
            {{t 'location.show.employment' lastYear=year}}
          </a>
        {{/ivy-tab}}
        {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active' action='puts'}}
          <a class="tab__link">
            {{t 'location.show.total_wages' lastYear=year}}
          </a>
        {{/ivy-tab}}
      {{/ivy-tab-list}}
      {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
        <div class="vizmod">
          <div class="vizmod--treemod">
            {{tree-map
              data=lastIndustryData
              immutableData=lastIndustryData
              isInTab='true'
              elementId='employment-tree-map'
              dataType='industries'
              varDependent='employment'
              delay=200
            }}
          </div>
        </div>
      {{/ivy-tab-panel}}
      {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
        <div class="vizmod">
          <div class="vizmod--treemod">
            {{tree-map
              isInTab='true'
              data=industriesData
              immutableData=industriesData
              elementId='wages-tree-map'
              dataType='industries'
              varDependent='wages'
              delay=700
            }}
          </div>
        </div>
      {{/ivy-tab-panel}}
    {{/ivy-tabs}}
  </div>
</section>
<section class="stream__section">
  <header class="section__header">
    <h3 class="section__head">
      {{t 'location.show.exports_and_imports'}}
    </h3>
  </header>
  <div class="tabmod">
    {{#ivy-tabs}}
      {{#ivy-tab-list classNames='tabmod__tabs'}}
        {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
          <a class="tab__link">
            {{t 'location.show.exports' year=year}}
          </a>
        {{/ivy-tab}}
        {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
          <a class="tab__link">
            {{t 'location.show.imports' year=year}}
          </a>
        {{/ivy-tab}}
      {{/ivy-tab-list}}

      {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
        <div class="vizmod">
          <div class="vizmod--treemod">
            {{tree-map
              isInTab='true'
              data=productsData
              immutableData=productsData
              elementId='export-tree-map'
              varDependent='export_value'
              delay=500
            }}
          </div>
        </div>
      {{/ivy-tab-panel}}
      {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
        <div class="vizmod">
          <div class="vizmod--treemod">
            {{tree-map
              isInTab='true'
              data=productsData
              immutableData=productsData
              elementId='import-tree-map'
              varDependent='import_value'
              delay=1000
            }}
          </div>
        </div>
      {{/ivy-tab-panel}}
    {{/ivy-tabs}}
  </div>
</section>

