{{navigation-questions
  entityType=entityType
  model=model
  isDepartment=isDepartment
  isMunicipality=isMunicipality
  firstYear=firstYear
  lastYear=lastYear
}}
{{#if description }}
  <p class="section__p">
    {{description}}
  </p>
{{/if}}

{{#if isDepartment }}
  {{partial 'location/department-dotplots'}}
{{else if isMsa}}
  {{partial 'location/subregion-dotplots'}}
{{else if isMunicipality}}
  {{partial 'location/municipality-dotplots'}}
{{/if}}

{{#if featureToggle.showIndustries }}
  <section class="stream__section">
    <header class="section__header">
      <h3 class="section__head">
        {{t 'location.show.employment_and_wages'}}
      </h3>
    </header>
    <div class="tabmod">
      {{#ivy-tabs}}
        {{#ivy-tab-list classNames='tabmod__tabs'}}
          {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
            <a class="tab__link">
              {{t 'location.show.employment' lastYear=lastYear}}
            </a>
          {{/ivy-tab}}
          {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active' action='puts'}}
            <a class="tab__link">
              {{t 'location.show.total_wages' lastYear=lastYear}}
            </a>
          {{/ivy-tab}}
        {{/ivy-tab-list}}
        {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
          <div class="vizmod">
            <div class="vizmod--treemod">
              {{vistk-treemap
                data=lastIndustryData
                immutableData=lastIndustryData
                isInTab='true'
                elementId='employment-vistk-treemap'
                dataType='industries'
                varDependent='employment'
                delay=200
              }}
            </div>
          </div>
        {{/ivy-tab-panel}}
        {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
          <div class="vizmod">
            <div class="vizmod--treemod">
              {{vistk-treemap
                isInTab='true'
                data=industriesData
                immutableData=industriesData
                elementId='wages-vistk-treemap'
                dataType='industries'
                varDependent='wages'
                delay=700
              }}
            </div>
          </div>
        {{/ivy-tab-panel}}
      {{/ivy-tabs}}
    </div>
  </section>
{{/if}}
<section class="stream__section">
  <header class="section__header">
    <h3 class="section__head">
      {{t 'location.show.exports_and_imports'}}
    </h3>
  </header>
  <div class="tabmod">
    {{#ivy-tabs}}
      {{#ivy-tab-list classNames='tabmod__tabs'}}
        {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
          <a class="tab__link">
            {{t 'location.show.exports' year=lastYear }}
          </a>
        {{/ivy-tab}}
        {{#if featureToggle.showImports }}
          {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
            <a class="tab__link">
              {{t 'location.show.imports' year=lastYear }}
            </a>
          {{/ivy-tab}}
        {{/if}}
      {{/ivy-tab-list}}

      {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
        <div class="vizmod">
          <div class="vizmod--treemod">
            {{vistk-treemap
              isInTab='true'
              data=productsData
              immutableData=productsData
              elementId='export-vistk-treemap'
              varDependent='export_value'
              delay=500
            }}
          </div>
        </div>
      {{/ivy-tab-panel}}
      {{#if featureToggle.showImports }}
        {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
          <div class="vizmod">
            <div class="vizmod--treemod">
              {{vistk-treemap
                isInTab='true'
                data=productsData
                immutableData=productsData
                elementId='import-vistk-treemap'
                varDependent='import_value'
                delay=1000
              }}
            </div>
          </div>
        {{/ivy-tab-panel}}
      {{/if}}
    {{/ivy-tabs}}
  </div>
</section>
{{#if isDepartment }}
  <section class="stream__section">
    <header class="section__header">
      <h3 class="section__head">
        {{t 'location.show.subregion.title'}}
      </h3>
    </header>
    <div class="tabmod">
      {{#ivy-tabs}}
        {{#ivy-tab-list classNames='tabmod__tabs'}}
          {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
            <a class="tab__link">
              {{t 'location.show.subregion.exports' year=lastYear}}
            </a>
          {{/ivy-tab}}
          {{#if featureToggle.showImports }}
            {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
              <a class="tab__link">
                {{t 'location.show.subregion.imports' year=lastYear}}
              </a>
            {{/ivy-tab}}
          {{/if}}
        {{/ivy-tab-list}}

        {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
          <div class="vizmod">
            <div class="vizmod--treemod">
              {{vistk-treemap
                isInTab='true'
                data=model.subregions
                immutableData=model.subregions
                elementId='export-subregions-map'
                varDependent='export_value'
                metadata=model.metaData
                delay=3000
              }}
            </div>
          </div>
        {{/ivy-tab-panel}}
        {{#if featureToggle.showImports }}
          {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
            <div class="vizmod">
              <div class="vizmod--treemod">
                {{vistk-treemap
                  isInTab='true'
                  data=model.subregions
                  immutableData=model.subregions
                  elementId='import-subregions-map'
                  varDependent='import_value'
                  metadata=model.metaData
                  delay=3000
                }}
              </div>
            </div>
          {{/ivy-tab-panel}}
        {{/if}}
      {{/ivy-tabs}}
    </div>
  </section>
{{/if}}

