{{#if description }}
  <p class="section__p">
    {{description}}
  </p>
{{/if}}

{{#if isDepartment }}
  {{partial 'location/department-dotplots'}}
{{else}}
  {{partial 'location/subregion-dotplots'}}
{{/if}}

<section class="stream__section">
  <header class="section__header">
    <h3 class="section__head"></h3>
  </header>
  <div class="tabmod">
    {{#ivy-tabs}}
      {{#ivy-tab-list classNames='tabmod__tabs'}}
        {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
          <a class="tab__link">
            {{t 'location.show.employment' lastYear=lastYear}}
          </a>
        {{/ivy-tab}}
        {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active' action='puts'}}
          <a class="tab__link">
            {{t 'location.show.total_wages' lastYear=lastYear}}
          </a>
        {{/ivy-tab}}
      {{/ivy-tab-list}}
      {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
        <div class="vizmod">
          <div class="vizmod--treemod">
            {{vistk-treemap
              data=lastIndustryData
              immutableData=lastIndustryData
              isInTab='true'
              elementId='employment-vistk-treemap'
              dataType='industries'
              varDependent='employment'
              delay=200
            }}
          </div>
        </div>
      {{/ivy-tab-panel}}
      {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
        <div class="vizmod">
          <div class="vizmod--treemod">
            {{vistk-treemap
              isInTab='true'
              data=industriesData
              immutableData=industriesData
              elementId='wages-vistk-treemap'
              dataType='industries'
              varDependent='wages'
              delay=700
            }}
          </div>
        </div>
      {{/ivy-tab-panel}}
    {{/ivy-tabs}}
  </div>
</section>
<section class="stream__section">
  <header class="section__header">
    <h3 class="section__head">
      {{t 'location.show.exports_and_imports'}}
    </h3>
  </header>
  <div class="tabmod">
    {{#ivy-tabs}}
      {{#ivy-tab-list classNames='tabmod__tabs'}}
        {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
          <a class="tab__link">
            {{t 'location.show.exports' year=lastYear }}
          </a>
        {{/ivy-tab}}
        {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
          <a class="tab__link">
            {{t 'location.show.imports' year=lastYear }}
          </a>
        {{/ivy-tab}}
      {{/ivy-tab-list}}

      {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
        <div class="vizmod">
          <div class="vizmod--treemod">
            {{vistk-treemap
              isInTab='true'
              data=productsData
              immutableData=productsData
              elementId='export-vistk-treemap'
              varDependent='export_value'
              delay=500
            }}
          </div>
        </div>
      {{/ivy-tab-panel}}
      {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
        <div class="vizmod">
          <div class="vizmod--treemod">
            {{vistk-treemap
              isInTab='true'
              data=productsData
              immutableData=productsData
              elementId='import-vistk-treemap'
              varDependent='import_value'
              delay=1000
            }}
          </div>
        </div>
      {{/ivy-tab-panel}}
    {{/ivy-tabs}}
  </div>
</section>

