<div class="new__buildermod__questions">

  <div class="container-fluid px-md-x10 pb-5">
    <div class="row row-without-margin">
      <div class="col-sm-12 pl-md-0">
        <h1 class="question__title my-5">Realice una búsqueda por</h1>
      </div>
    </div>
    <div class="row row-without-margin">

      <div class="col-sm-12 col-md-6 pl-md-0">
        <h2 class="new__builder__questions__header">{{t 'graph_builder.builder_questions.export'}}</h2>

        <div class="mt-4">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'product.visualization' model.id 'departments' 'geo' 'export_value' (query-params startDate=lastYear endDate=lastYear search='null' toolTips="rca" showBack="false")
            class="builder__questions__question"
          }}
            {{t 'graph_builder.page_title.product.departments.export_value'}}
          {{/link-to}}
        </div>

        <div class="mt-3">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'product.visualization' model.id  'cities' 'multiples' 'export_value' (query-params startDate=firstYear endDate=lastYear search='null' toolTips="rca" showBack="false")
            class="builder__questions__question"
          }}
            {{t 'graph_builder.page_title.product.cities.export_value'}}
          {{/link-to}}
        </div>

        <div class="mt-3">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'product.visualization' model.id 'partners' 'treemap' 'export_value' (query-params startDate=lastYear endDate=lastYear search='null' toolTips="rca" showBack="false")
            class="builder__questions__question"
          }}
            {{t 'graph_builder.page_title.product.partners.export_value'}}
          {{/link-to}}
        </div>

        <div class="mt-3">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'product.ringchart' model.id (query-params startDate=lastYear endDate=lastYear showBack="false")
            class="builder__questions__question"
          }}
            {{t 'graph_builder.page_title.product.partners.ringchart'}}
          {{/link-to}}
        </div>

      </div>

      <div class="col-sm-12 col-md-6 pt-5 pt-md-0">
        <h2 class="new__builder__questions__header">{{t 'graph_builder.builder_questions.import'}}</h2>

        <div class="mt-4">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'product.visualization' model.id 'departments' 'geo' 'import_value' (query-params startDate=lastYear endDate=lastYear search='null' toolTips="rca" showBack="false")
            class="builder__questions__question"
          }}
            {{t 'graph_builder.page_title.product.departments.import_value'}}
          {{/link-to}}
        </div>

        <div class="mt-3">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'product.visualization' model.id 'cities' 'multiples' 'import_value' (query-params startDate=firstYear endDate=lastYear search='null' toolTips="rca" showBack="false")
            class="builder__questions__question"
          }}
            {{t 'graph_builder.page_title.product.cities.import_value'}}
          {{/link-to}}
        </div>

        <div class="mt-3">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          {{#link-to 'product.visualization' model.id 'partners' 'treemap' 'import_value' (query-params startDate=lastYear endDate=lastYear search='null' toolTips="rca" showBack="false")
            class="builder__questions__question"
          }}
            {{t 'graph_builder.page_title.product.partners.import_value'}}
          {{/link-to}}
        </div>

      </div>

    </div>
  </div>
</div>

<!--<div class="buildermod__questions buildermod__drawer--questions">
  <h4 class="builder__questions__header" {{action 'togglePanel' 'exports'}}>{{t 'graph_builder.builder_questions.export'}} <span class="builder__questions__triangle"/></h4>
  {{#if (array-contains openPanels 'exports') }}
  <ul class="builder__questions__list">
    <li class="builder__questions__item">
      {{#link-to 'product.visualization' model.id 'departments' 'treemap' 'export_value' (query-params startDate=lastYear endDate=lastYear search='null')
        class="icon-cidcon_treemap builder__questions__item__icon"
        tagNmae='i'
      }} {{/link-to}}
      {{#link-to 'product.visualization' model.id 'departments' 'multiples' 'export_value' (query-params startDate=firstYear endDate=lastYear search='null')
        class="icon-cidcon_multiples builder__questions__item__icon"
        tagNmae='i'
      }} {{/link-to}}
      {{#link-to 'product.visualization' model.id 'departments' 'geo' 'export_value' (query-params startDate=lastYear endDate=lastYear search='null')
        class="icon-cidcon_geo builder__questions__item__icon"
        tagNmae='i'
      }} {{/link-to}}
      <div class="builder__questions__item__textwrap">
        <span>
          {{#link-to 'product.visualization' model.id 'departments' 'geo' 'export_value' (query-params startDate=lastYear endDate=lastYear search='null')
            class="builder__questions__question"
          }}
            {{t 'graph_builder.page_title.product.departments.export_value'}}
          {{/link-to}}
        </span>
      </div>
    </li>
    <li class="builder__questions__item">
      {{#link-to 'product.visualization' model.id  'cities' 'multiples' 'export_value' (query-params startDate=lastYear endDate=lastYear search='null')
        class="icon-cidcon_treemap builder__questions__item__icon"
        tagNmae='i'
      }} {{/link-to}}
      {{#link-to 'product.visualization' model.id  'cities' 'multiples' 'export_value' (query-params startDate=firstYear endDate=lastYear search='null')
        class="icon-cidcon_multiples builder__questions__item__icon"
        tagNmae='i'
      }} {{/link-to}}
      <div class="builder__questions__item__textwrap">
        <span>
          {{#link-to 'product.visualization' model.id  'cities' 'multiples' 'export_value' (query-params startDate=firstYear endDate=lastYear search='null')
            class="builder__questions__question"
          }}
            {{t 'graph_builder.page_title.product.cities.export_value'}}
          {{/link-to}}
        </span>
      </div>
    </li>
    <li class="builder__questions__item">
      {{#link-to 'product.visualization' model.id  'partners' 'multiples' 'export_value' (query-params startDate=lastYear endDate=lastYear search='null')
        class="icon-cidcon_treemap builder__questions__item__icon"
        tagNmae='i'
      }} {{/link-to}}
      {{#link-to 'product.visualization' model.id  'partners' 'multiples' 'export_value' (query-params startDate=firstYear endDate=lastYear search='null')
        class="icon-cidcon_multiples builder__questions__item__icon"
        tagNmae='i'
      }} {{/link-to}}
      <div class="builder__questions__item__textwrap">
        <span>
          {{#link-to 'product.visualization' model.id 'partners' 'treemap' 'export_value' (query-params startDate=lastYear endDate=lastYear search='null')
            class="builder__questions__question"
          }}
            {{t 'graph_builder.page_title.product.partners.export_value'}}
          {{/link-to}}
        </span>
      </div>
    </li>
  </ul>
  {{/if}}
  {{#if featureToggle.showImports }}
    <h4 class="builder__questions__header" {{action 'togglePanel' 'imports'}}>{{t 'graph_builder.builder_questions.import'}} <span class="builder__questions__triangle"/></h4>
    {{#if (array-contains openPanels 'imports') }}
    <ul class="builder__questions__list">
      <li class="builder__questions__item">
        {{#link-to 'product.visualization' model.id 'departments' 'treemap' 'import_value' (query-params startDate=lastYear endDate=lastYear search='null')
          class="icon-cidcon_treemap builder__questions__item__icon"
          tagNmae='i'
        }} {{/link-to}}
        {{#link-to 'product.visualization' model.id 'departments' 'multiples' 'import_value' (query-params startDate=firstYear endDate=lastYear search='null')
          class="icon-cidcon_multiples builder__questions__item__icon"
          tagNmae='i'
        }} {{/link-to}}
        {{#link-to 'product.visualization' model.id 'departments' 'geo' 'import_value' (query-params startDate=lastYear endDate=lastYear search='null')
          class="icon-cidcon_geo builder__questions__item__icon"
          tagNmae='i'
        }} {{/link-to}}
        <div class="builder__questions__item__textwrap">
          <span>
            {{#link-to 'product.visualization' model.id 'departments' 'geo' 'import_value' (query-params startDate=lastYear endDate=lastYear search='null')
              class="builder__questions__question"
            }}
              {{t 'graph_builder.page_title.product.departments.import_value'}}
            {{/link-to}}
          </span>
        </div>
      </li>
      <li class="builder__questions__item">
        {{#link-to 'product.visualization' model.id  'cities' 'multiples' 'import_value' (query-params startDate=lastYear endDate=lastYear search='null')
          class="icon-cidcon_treemap builder__questions__item__icon"
          tagNmae='i'
        }} {{/link-to}}
        {{#link-to 'product.visualization' model.id  'cities' 'multiples' 'import_value' (query-params startDate=firstYear endDate=lastYear search='null')
          class="icon-cidcon_multiples builder__questions__item__icon"
          tagNmae='i'
        }} {{/link-to}}
        <div class="builder__questions__item__textwrap">
          <span>
            {{#link-to 'product.visualization' model.id 'cities' 'multiples' 'import_value' (query-params startDate=firstYear endDate=lastYear search='null')
              class="builder__questions__question"
            }}
              {{t 'graph_builder.page_title.product.cities.import_value'}}
            {{/link-to}}
          </span>
        </div>
      </li>
      <li class="builder__questions__item">
        {{#link-to 'product.visualization' model.id  'partners' 'multiples' 'import_value' (query-params startDate=lastYear endDate=lastYear search='null')
          class="icon-cidcon_treemap builder__questions__item__icon"
          tagNmae='i'
        }} {{/link-to}}
        {{#link-to 'product.visualization' model.id  'partners' 'multiples' 'import_value' (query-params startDate=firstYear endDate=lastYear search='null')
          class="icon-cidcon_multiples builder__questions__item__icon"
          tagNmae='i'
        }} {{/link-to}}
        <div class="builder__questions__item__textwrap">
          <span>
            {{#link-to 'product.visualization' model.id 'partners' 'treemap' 'import_value' (query-params startDate=lastYear endDate=lastYear search='null')
              class="builder__questions__question"
            }}
              {{t 'graph_builder.page_title.product.partners.import_value'}}
            {{/link-to}}
          </span>
        </div>
      </li>
    </ul>
    {{/if}}
  {{/if}}
</div>-->
