<header class="stream__header">
  <h2 class="stream__head">{{ t 'pageheader.about' }}</h2>
</header>
<section class="stream__section">
  <p class="section__p">
    {{ t 'about.project_description.intro.p1' }}
  </p>
  <p class="section__p">
    {{ t 'about.project_description.intro.p2' }}
  </p>
  <p class="section__p">
    {{ t 'about.project_description.intro.p3' }}
  </p>
  <p class="section__p">
    {{ t 'about.project_description.intro.p4' }}
  </p>
</section>

<section class="stream__section">
  <h3 class="section__head">
    {{ t 'about.project_description.cid.header' }}
  </h3>
  <p class="section__p">
    {{{ t 'about.project_description.cid.p1' }}}
  </p>
  <p class="section__p">
    {{{ t 'about.project_description.cid.p2' }}}
  </p>
</section>

<section class="stream__section">
  <h3 class="section__head">
    {{ t 'about.project_description.founders.header' }}
  </h3>
  <p class="section__p">
    {{{ t 'about.project_description.founders.p' }}}
  </p>
  <h4 class="section__subhead">
    {{ t 'about.project_description.founder1.header' }}
  </h4>
  <p class="section__p">
    {{{ t 'about.project_description.founder1.p' }}}
  </p>
  <h4 class="section__subhead">
    {{ t 'about.project_description.founder2.header' }}
  </h4>
  <p class="section__p">
    {{{ t 'about.project_description.founder2.p' }}}
  </p>
</section>

<section class="stream__section">
  <h3 class="section__head">
    {{ t 'about.project_description.team.header' }}
  </h3>
  <p class="section__p">
    {{ t 'about.project_description.team.p' }}
  </p>
</section>

<section class="stream__section">
  <h3 class="section__head">
    {{ t 'about.project_description.contact.header' }}
  </h3>
  <p class="section__p">
    {{ t 'about.project_description.contact.link' }}
  </p>
</section>

<section class="stream__section">
  <h3 class="section__head">
    {{ t 'about.project_description.letter.header' }}
  </h3>
  <p class="section__p">
    {{{ t 'about.project_description.letter.p' }}}
  </p>
</section>
