<div class="buildermod__questions buildermod__drawer--questions">
  <h4 class="builder__questions__header">{{t 'graph_builder.builder_questions.location'}}</h4>
  <ul class="builder__questions__list">
    <li class="builder__questions__item">
      <i class="icon-cidcon_multiples builder__questions__item__icon"></i>
      <div class="builder__questions__item__textwrap">
        <span>
          {{#link-to 'visualization' entity_and_id 'departments' 'multiples' (query-params startDate=firstYear endDate=lastYear variable='employment') class="builder__questions__question"}}
            {{t 'graph_builder.page_title.industry.departments.employment'}}
          {{/link-to}}
        </span>
      </div>
    </li>
    <li class="builder__questions__item">
      <i class="icon-cidcon_multiples builder__questions__item__icon"></i>
      <div class="builder__questions__item__textwrap">
        <span>
          {{#link-to 'visualization' entity_and_id 'departments' 'multiples' (query-params startDate=firstYear endDate=lastYear variable='wages') class="builder__questions__question"}}
            {{t 'graph_builder.page_title.industry.departments.wages'}}
          {{/link-to}}
        </span>
      </div>
    </li>
  </ul>
  {{#if isPrescriptive }}
    <h4 class="builder__questions__header">{{t 'graph_builder.builder_questions.occupation'}}</h4>
    <ul class="builder__questions__list">
      <li class="builder__questions__item">
        <i class="icon-cidcon_multiples builder__questions__item__icon"></i>
        <div class="builder__questions__item__textwrap">
          <span>
            {{#link-to 'visualization' entity_and_id 'occupations' 'treemap' (query-params variable='num_vacancies' startDate=lastYear endDate=lastYear) class="builder__questions__question"}}
              {{t 'graph_builder.page_title.industry.occupations.num_vacancies'}}
            {{/link-to}}
          </span>
        </div>
      </li>
    </ul>
  {{/if}}
</div>

