<div class="buildermod__questions buildermod__drawer--questions">
  <h4 class="builder__questions__header">{{t 'graph_builder.builder_questions.industry'}}</h4>
  <ul class="builder__questions__list">
    <li class="builder__questions__item">
      <i class="icon-cidcon_treemap builder__questions__item__icon"></i>
      <div class="builder__questions__item__textwrap">
        <span>
          {{#link-to 'visualization' entity_and_id 'industries' 'treemap'
            (query-params variable='employment' endDate=lastYear startDate=lastYear search='null')
            data-location-industry="employment"
            class="builder__questions__question"}}
            {{t 'graph_builder.page_title.location.industries.employment' thisLevel=thisLevel}}
          {{/link-to}}
        </span>
      </div>
    </li>
    <li class="builder__questions__item">
      <i class="icon-cidcon_treemap builder__questions__item__icon"></i>
      <div class="builder__questions__item__textwrap">
        <span>
          {{#link-to 'visualization' entity_and_id 'industries' 'treemap'
            (query-params variable='wages' endDate=lastYear startDate=lastYear search='null')
            data-location-industry="wages"
            class="builder__questions__question"}}
            {{t 'graph_builder.page_title.location.industries.wages' thisLevel=thisLevel}}
          {{/link-to}}
        </span>
      </div>
    </li>
    {{#if isPrescriptive }}
      {{#unless isCountry}}
        <li class="builder__questions__item">
          <i class="icon-cidcon_scatter builder__questions__item__icon"></i>
          <div class="builder__questions__item__textwrap">
            <span>
              {{#link-to 'visualization' entity_and_id 'industries' 'scatter'
                (query-params variable='null' endDate=lastYear startDate=lastYear search='null')
                data-location-industry="scatter"
                class="builder__questions__question"}}
                {{t 'graph_builder.page_title.location.industries.scatter' thisLevel=thisLevel}}
              {{/link-to}}
            </span>
          </div>
        </li>
      {{/unless}}
      <li class="builder__questions__item">
        <i class="icon-cidcon_similarity builder__questions__item__icon"></i>
        <div class="builder__questions__item__textwrap">
          <span>
            {{#link-to 'visualization' entity_and_id 'industries' 'similarity'
              (query-params variable='rca'endDate=lastYear startDate=lastYear search='null')
              data-location-industry="similarity"
              class="builder__questions__question"}}
              {{t 'graph_builder.page_title.location.industries.similarity' thisLevel=thisLevel}}
            {{/link-to}}
          </span>
        </div>
      </li>
    {{/if}}
  </ul>
  <h4 class="builder__questions__header">{{t 'graph_builder.builder_questions.product'}}</h4>
  <ul class="builder__questions__list">
    <li class="builder__questions__item">
      <i class="icon-cidcon_treemap builder__questions__item__icon"></i>
      <div class="builder__questions__item__textwrap">
        <span data-location-product="exports">
          {{#link-to 'visualization' entity_and_id 'products' 'treemap'
            (query-params variable='export_value' search='null' startDate=lastYear  endDate=lastYear)
            class="builder__questions__question"}}
            {{t 'graph_builder.page_title.location.products.export_value' thisLevel=thisLevel}}
          {{/link-to}}
        </span>
      </div>
    </li>
    <li class="builder__questions__item">
      <i class="icon-cidcon_treemap builder__questions__item__icon"></i>
      <div class="builder__questions__item__textwrap">
        <span>
          {{#link-to 'visualization' entity_and_id 'products' 'treemap'
            (query-params variable='import_value' search='null' startDate=lastYear  endDate=lastYear)
            data-location-product="imports"
            class="builder__questions__question"}}
            {{t 'graph_builder.page_title.location.products.import_value' thisLevel=thisLevel}}
          {{/link-to}}
        </span>
      </div>
    </li>
    {{#if isPrescriptive }}
      <li class="builder__questions__item">
        <i class="icon-cidcon_scatter builder__questions__item__icon"></i>
        <div class="builder__questions__item__textwrap">
          <span>
            {{#link-to 'visualization' entity_and_id 'products' 'scatter'
              (query-params variable='null' endDate=lastYear startDate=lastYear search='null')
              data-location-product="scatter"
              class="builder__questions__question"}}
              {{t 'graph_builder.page_title.location.products.scatter' thisLevel=thisLevel}}
            {{/link-to}}
          </span>
        </div>
      </li>
      <li class="builder__questions__item">
        <i class="icon-cidcon_similarity builder__questions__item__icon"></i>
        <div class="builder__questions__item__textwrap">
          <span>
            {{#link-to 'visualization' entity_and_id 'products' 'similarity'
              (query-params variable='null' endDate=lastYear startDate=lastYear search='null')
              data-location-product="similarity"
              class="builder__questions__question"}}
              {{t 'graph_builder.page_title.location.products.similarity' thisLevel=thisLevel}}
            {{/link-to}}
          </span>
        </div>
      </li>
    {{/if}}
  </ul>
</div>
