<div class="tabmod">
  {{#ivy-tabs}}
    {{#ivy-tab-list classNames='tabmod__tabs'}}
      {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
        <a class="tab__link">Locations</a>
      {{/ivy-tab}}
      {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
        <a class="tab__link">Exports and imports</a>
      {{/ivy-tab}}
      {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
        <a class="tab__link">Industries</a>
      {{/ivy-tab}}
      {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
        <a class="tab__link">Occupations</a>
      {{/ivy-tab}}
    {{/ivy-tab-list}}

    {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
      <ul class="builder__nav__list">
        <li class="builder__list--nested">
          <ul>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.locations.export' name=model.name }}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.locations.export_to' name=model.name item=builderNavDropDown}}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.locations.import_from' name=model.name }}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.locations.import_product_from' name=model.name item=builderNavDropDown }}
                {{/link-to}}
              </div>
            </li>
          </ul>
        </li>
        <li class="builder__list--nested">
          <ul>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.locations.export_subregions' name=model.name }}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.locations.export_subregions_products' name=model.name item=builderNavDropDown }}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.locations.export_subregions_locations' name=model.name place=builderNavDropDown }}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.locations.export_subregions_products_locations' name=model.name  place=builderNavDropDown item=builderNavDropDown }}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.locations.import_subregions' name=model.name item=builderNavDropDown }}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.locations.import_subregions_products' name=model.name item=builderNavDropDown }}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.locations.import_subregions_locations' name=model.name place=builderNavDropDown }}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.locations.import_subregions_products_locations' name=model.name place=builderNavDropDown item=builderNavDropDown }}
                {{/link-to}}
              </div>
            </li>
          </ul>
        </li>
      </ul>
    {{/ivy-tab-panel}}

    {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
      <ul class="builder__nav__list">
        <li class="builder__list--nested">
          <ul>
            <li class="builder__nav__item">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id source="products" variable='export_value' vis='treemap') class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.products.export_value' name=model.name}}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.products.export_value_to' name=model.name place=builderNavDropDown}}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id source='products' variable='import_value' vis='treemap') class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.products.import_value' name=model.name}}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.products.import_value_from' name=model.name place=builderNavDropDown}}
                {{/link-to}}
              </div>
            </li>
          </ul>
        </li>
        <li class="builder__list--nested">
          <ul>
            <li class="builder__nav__item">
              <i class="icon-cidcon_scatter builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Scatterplot</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id source='products' vis='scatter') class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.products.export_value.scatter' name=model.name}}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_similarity builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Similarity map</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.products.map' name=model.name}}
                {{/link-to}}
              </div>
            </li>
          </ul>
        </li>
      </ul>
    {{/ivy-tab-panel}}

    {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
      <ul class="builder__nav__list">
        <li class="builder__list--nested">
          <ul>
            <li class="builder__nav__item">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id source="industries" variable='employment' vis='treemap') class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.industries.employment' name=model.name}}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id source="industries" variable='wages' vis='treemap') class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.industries.wages' name=model.name}}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.industries.wages_highest_per_worker' name=model.name}}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.industries.wages_highest' place=builderNavDropDown}}
                {{/link-to}}
              </div>
            </li>
          </ul>
        </li>
        <li class="builder__list--nested">
          <ul>
            <li class="builder__nav__item">
              <i class="icon-cidcon_scatter builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Scatterplot</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id source='industries' vis='scatter') class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.industries.wages.scatter' name=model.name}}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_similarity builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Similarity map</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.builder_nav.location.industries.map' name=model.name}}
                {{/link-to}}
              </div>
            </li>
          </ul>
        </li>
      </ul>
    {{/ivy-tab-panel}}

    {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
      <p>Occupation data is only available at the national level. <a class="link--inactive" href="#">View the Graph Builder for Colombia.</a></p>
    {{/ivy-tab-panel}}
  {{/ivy-tabs}}
</div>
