<div class="buildermod__drawer buildermod__drawer--questions">
  <h4 class="builder__questions__header">{{t 'graph_builder.builder_questions.location'}}</h4>
  <ul class="builder__questions__list">
    <li class="builder__questions__item">
      <i class="icon-cidcon_multiples builder__questions__item__icon"></i>
      <div class="builder__questions__item__textwrap">
        <span {{action "closeDrawer"}}>
          {{#link-to 'visualization' entity_and_id 'locations' 'multiples' (query-params variable='export_value') class="builder__questions__question"}}
            {{t 'graph_builder.page_title.product.locations.export_value'}}
          {{/link-to}}
        </span>
      </div>
    </li>
    <li class="builder__questions__item">
      <i class="icon-cidcon_multiples builder__questions__item__icon"></i>
      <div class="builder__questions__item__textwrap">
        <span {{action "closeDrawer"}}>
          {{#link-to 'visualization' entity_and_id 'locations' 'multiples' (query-params variable='import_value') class="builder__questions__question"}}
            {{t 'graph_builder.page_title.product.locations.import_value'}}
          {{/link-to}}
        </span>
      </div>
    </li>
  </ul>
</div>
