<div class="stream___head__menu">
  <div class="menu-section">
    <h5 class='menu-section__group-name'>{{t 'header.overview'}}</h5>
    <ul class="menu-section__group">
      {{#link-to 'industry.show' model.id
        tagName='li'
        data-search-profile=''
        activeClass="menu-section__link--active"
        class="menu-section__link"}}
        {{ t 'pageheader.profile_link' }}
      {{/link-to}}
    </ul>
  </div>
  <div class="menu-section">
    <h5 class='menu-section__group-name'>{{t 'header.employment'}}</h5>
    <ul class="menu-section__group">
      {{#link-to 'industry.visualization' model.id 'departments' 'multiples' 'employment'
        (query-params startDate=firstYear endDate=lastYear)
        tagName='li'
        classNameBindings="industryDepartmentEmployment:menu-section__link--active"
        class="menu-section__link"}}
        {{ t 'header.region' }}
      {{/link-to}}
      {{#link-to 'industry.visualization' model.id 'cities' 'multiples' 'employment'
        (query-params startDate=firstYear endDate=lastYear)
        tagName='li'
        classNameBindings="industryCitiesEmployment:menu-section__link--active"
        class="menu-section__link"}}
        {{ t 'header.subregion' }}
      {{/link-to}}
    </ul>
  </div>
  <div class="menu-section">
    <h5 class='menu-section__group-name'>{{t 'header.wage'}}</h5>
    <ul class="menu-section__group">
      {{#link-to 'industry.visualization' model.id 'departments' 'multiples' 'wages'
        (query-params startDate=firstYear endDate=lastYear)
        tagName='li'
        classNameBindings="industryDepartmentWage:menu-section__link--active"
        class="menu-section__link"}}
        {{t 'header.region' }}
      {{/link-to}}
      {{#link-to 'industry.visualization' model.id 'cities' 'multiples' 'wages'
        (query-params startDate=firstYear endDate=lastYear)
        tagName='li'
        classNameBindings="industryCitiesWage:menu-section__link--active"
        class="menu-section__link"}}
        {{t 'header.subregion' }}
      {{/link-to}}
    </ul>
  </div>
  {{#unless isIndustryClass}}
    <div class="menu-section">
      <h5 class='menu-section__group-name'>{{t 'header.occupation'}}</h5>
      <ul class="menu-section__group">
        {{#link-to 'industry.visualization' model.id 'occupations' 'treemap' 'num_vacancies'
          (query-params startDate=lastYear endDate=lastYear)
          tagName='li'
          classNameBindings="industryOccupationsVacancies:menu-section__link--active"
          class="menu-section__link"}}
        {{ t 'header.occupation.available_jobs' }}
        {{/link-to}}
      </ul>
    </div>
  {{/unless}}
</div>
