<div class="buildermod__drawer buildermod__drawer--changegraph">
  <div class="changegraph__btnswrap">
    <div class="changegraph__btnwrap">
      <button class="btn buildermod__changegraph__btn buildermod__changegraph__btn--treemap" {{action 'toggleVisualization'}}>
        <i class="cidcon-treemap buildermod__changegraph__icon"></i>
        Treemap
      </button>
    </div>
    <div class="changegraph__btnwrap">
      <button class="btn buildermod__changegraph__btn buildermod__changegraph__btn--treemap" {{action 'toggleVisualization'}}>
        <i class="cidcon-multiples buildermod__changegraph__icon"></i>
        Area multiples
      </button>
    </div>
    <div class="changegraph__btnwrap">
      <button class="btn buildermod__changegraph__btn buildermod__changegraph__btn--treemap" {{action 'toggleVisualization'}}>
        <i class="cidcon-geo buildermod__changegraph__icon"></i>
        Geographic map
      </button>
    </div>
    <div class="changegraph__btnwrap">
      <button class="btn buildermod__changegraph__btn buildermod__changegraph__btn--treemap" {{action 'toggleVisualization'}}>
        <i class="cidcon-scatter buildermod__changegraph__icon"></i>
        Scatterplot
      </button>
    </div>
    <div class="changegraph__btnwrap">
      <button class="btn buildermod__changegraph__btn buildermod__changegraph__btn--treemap" {{action 'toggleVisualization'}}>
        <i class="cidcon-similarity buildermod__changegraph__icon"></i>
        Similarity map
      </button>
    </div>
  </div>
</div>