<div class="stream___head__menu">
  <div class="menu-section menu-section__thin">
    <h5 class='menu-section__group-name'>{{t 'header.overview'}}</h5>
    <ul class="menu-section__group">
      {{#link-to 'agproduct.show' model.id
        tagName='li'
        data-search-profile=''
        activeClass="menu-section__link--active"
        class="menu-section__link"}}
        {{ t 'pageheader.profile_link' }}
      {{/link-to}}
    </ul>
  </div>
  <div class="menu-section">
    <h5 class='menu-section__group-name'>{{t 'header.land_sown'}}</h5>
    <ul class="menu-section__group">
      {{#link-to 'agproduct.visualization' model.id 'departments' 'geo' 'land_sown'
        (query-params startDate=lastYear endDate=lastYear search='null')
        tagName='li'
        classNameBindings="productDepartmentsExports:menu-section__link--active"
        class="menu-section__link"}}
        {{t 'header.region'}}
      {{/link-to}}
      {{#link-to 'agproduct.visualization' model.id  'municipalities' 'treemap' 'land_sown'
        (query-params startDate=lastYear endDate=lastYear search='null')
        tagName='li'
        classNameBindings="productCitiesExports:menu-section__link--active"
        class="menu-section__link"}}
        {{t 'header.subsubregion'}}
      {{/link-to}}
    </ul>
  </div>
  <div class="menu-section">
    <h5 class='menu-section__group-name'>{{t 'header.land_harvested'}}</h5>
    <ul class="menu-section__group">
      {{#link-to 'agproduct.visualization' model.id 'departments' 'geo' 'land_harvested'
        (query-params startDate=lastYear endDate=lastYear search='null')
        tagName='li'
        classNameBindings="productDepartmentsExports:menu-section__link--active"
        class="menu-section__link"}}
        {{t 'header.region'}}
      {{/link-to}}
      {{#link-to 'agproduct.visualization' model.id  'municipalities' 'treemap' 'land_harvested'
        (query-params startDate=lastYear endDate=lastYear search='null')
        tagName='li'
        classNameBindings="productCitiesExports:menu-section__link--active"
        class="menu-section__link"}}
        {{t 'header.subsubregion'}}
      {{/link-to}}
    </ul>
  </div>
  <div class="menu-section">
    <h5 class='menu-section__group-name'>{{t 'header.production_tons'}}</h5>
    <ul class="menu-section__group">
      {{#link-to 'agproduct.visualization' model.id 'departments' 'geo' 'production_tons'
        (query-params startDate=lastYear endDate=lastYear search='null')
        tagName='li'
        classNameBindings="productDepartmentsExports:menu-section__link--active"
        class="menu-section__link"}}
        {{t 'header.region'}}
      {{/link-to}}
      {{#link-to 'agproduct.visualization' model.id  'municipalities' 'treemap' 'production_tons'
        (query-params startDate=lastYear endDate=lastYear search='null')
        tagName='li'
        classNameBindings="productCitiesExports:menu-section__link--active"
        class="menu-section__link"}}
        {{t 'header.subsubregion'}}
      {{/link-to}}
    </ul>
  </div>
</div>
