<div class="stream___head__menu">
  <div class="menu-section menu-section__thin">
    <h5 class='menu-section__group-name'>{{t 'header.overview'}}</h5>
    <ul class="menu-section__group">
      {{#link-to 'product.show' model.id
        tagName='li'
        data-search-profile=''
        activeClass="menu-section__link--active"
        class="menu-section__link"}}
        {{ t 'pageheader.profile_link' }}
      {{/link-to}}
    </ul>
  </div>
  <div class="menu-section">
    <h5 class='menu-section__group-name'>{{t 'header.export'}}</h5>
    <ul class="menu-section__group">
      {{#link-to 'product.visualization' model.id 'departments' 'geo' 'export_value'
        (query-params startDate=lastYear endDate=lastYear search='null')
        tagName='li'
        classNameBindings="productDepartmentsExports:menu-section__link--active"
        class="menu-section__link"}}
        {{t 'header.region'}}
      {{/link-to}}
      {{#link-to 'product.visualization' model.id  'cities' 'multiples' 'export_value'
        (query-params startDate=firstYear endDate=lastYear search='null')
        tagName='li'
        classNameBindings="productCitiesExports:menu-section__link--active"
        class="menu-section__link"}}
        {{t 'header.subregion'}}
      {{/link-to}}
      <li class="menu-section__link" >
        {{t 'header.destination'}}
      </li>
    </ul>
  </div>
  <div class="menu-section">
    <h5 class='menu-section__group-name'>{{t 'header.import'}}</h5>
    <ul class="menu-section__group">
      {{#link-to 'product.visualization' model.id 'departments' 'geo' 'import_value'
        (query-params startDate=lastYear endDate=lastYear search='null')
        tagName='li'
        classNameBindings="productDepartmentsImports:menu-section__link--active"
        class="menu-section__link"}}
        {{t 'header.region'}}
      {{/link-to}}
      {{#link-to 'product.visualization' model.id 'cities' 'multiples' 'import_value'
        (query-params startDate=firstYear endDate=lastYear search='null')
        tagName='li'
        classNameBindings="productCitiesImports:menu-section__link--active"
        class="menu-section__link"}}
        {{t 'header.subregion'}}
      {{/link-to}}
      <li class="menu-section__link" >
        {{t 'header.origin'}}
      </li>
    </ul>
  </div>
</div>
