<div class="stream___head__menu">
  <div class="menu-section menu-section__thin">
    <h5 class='menu-section__group-name'>Overview</h5>
    <ul class="menu-section__group">
      {{#link-to 'location.show' model.id
        tagName='li'
        data-search-profile=''
        activeClass="menu-section__link--active"
        class="menu-section__link"}}
      {{ t 'pageheader.profile_link' }}
    {{/link-to}}
    </ul>
  </div>
  <div class="menu-section">
    <h5 class='menu-section__group-name'>Industry</h5>
    <ul class="menu-section__group">
      {{#link-to 'location.visualization' model.id 'industries' 'similarity' 'rca' (query-params endDate=lastYear startDate=lastYear)
        data-location-industry="similarity"
        tagName='li'
        activeClass="menu-section__link--active"
        class="menu-section__link"}}
        {{ t 'header.industry_space' }}
      {{/link-to}}
      {{#link-to 'location.visualization' model.id 'industries' 'treemap' 'employment' (query-params endDate=lastYear startDate=lastYear search='null')
        tagName='li'
        data-location-industry="employment"
        activeClass="menu-section__link--active"
        class="menu-section__link"}}
        {{ t 'header.employment' }}
      {{/link-to}}
      {{#link-to 'location.visualization' model.id 'industries' 'treemap' 'wages'(query-params endDate=lastYear startDate=lastYear search='null')
        data-location-industry="wages"
        tagName='li'
        activeClass="menu-section__link--active"
        class="menu-section__link"}}
        {{t 'header.wage' }}
      {{/link-to}}
      {{#link-to 'location.visualization' model.id 'industries' 'scatter' 'rca'(query-params endDate=lastYear startDate=lastYear search='null')
        data-location-industry="scatter"
        tagName='li'
        activeClass="menu-section__link--active"
        class="menu-section__link"}}
        {{ t 'header.industry_potential'}}
      {{/link-to}}
    </ul>
  </div>
  <div class="menu-section">
    <h5 class='menu-section__group-name'>Products</h5>
    <ul class="menu-section__group">
      {{#link-to 'location.visualization' model.id 'products' 'similarity' 'rca' (query-params endDate=lastYear startdate=lastYear search='null')
        data-location-product="similarity"
        tagName='li'
        activeClass="menu-section__link--active"
        class="menu-section__link"}}
        {{ t 'header.product_space' }}
      {{/link-to}}
      {{#link-to 'location.visualization' model.id 'products' 'treemap' 'import_value' (query-params search='null' startDate=lastYear  endDate=lastYear)
        data-location-product="imports"
        tagName='li'
        activeClass="menu-section__link--active"
        class="menu-section__link"}}
        {{t 'header.import'}}
      {{/link-to}}
      {{#link-to 'location.visualization' model.id 'products' 'scatter' 'rca' (query-params endDate=lastYear startDate=lastYear search='null')
        data-location-product="scatter"
        tagName='li'
        activeClass="menu-section__link--active"
        class="menu-section__link"}}
        {{ t 'header.product_potential' }}
      {{/link-to}}
      {{#link-to 'location.visualization' model.id  'products' 'treemap' 'export_value' (query-params search='null' startDate=lastYear  endDate=lastYear)
        tagName='li'
        activeClass="menu-section__link--active"
        class="menu-section__link"}}
        {{t 'header.export'}}
      {{/link-to}}
    </ul>
  </div>
  <div class="menu-section menu-section__thin">
    <h5 class='menu-section__group-name'>Partners</h5>
    <ul class="menu-section__group">
      {{#link-to 'location.visualization' model.id 'partners' 'treemap' 'export_value' (query-params search='null' startDate=lastYear  endDate=lastYear)
        data-location-partners="export"
        tagName='li'
        activeClass="menu-section__link--active"
        class="menu-section__link"}}
        {{t 'header.export'}}
      {{/link-to}}
    </ul>
  </div>
</div
