<div class="stream___head__menu">
  <div class="menu-section menu-section__thin">
    <h5 class='menu-section__group-name'>{{t 'header.overview'}}</h5>
    <ul class="menu-section__group">
      {{#link-to 'location.show' model.id
        tagName='li'
        data-search-profile=''
        activeClass="menu-section__link--active"
        class="menu-section__link"}}
      {{ t 'pageheader.profile_link' }}
    {{/link-to}}
    </ul>
  </div>
  {{#if featureToggle.showIndustries }}
    <div class="menu-section">
      <h5 class='menu-section__group-name'>{{t 'header.industry'}}</h5>
      <ul class="menu-section__group">
        {{#link-to 'location.visualization' model.id 'industries' 'treemap' 'employment' (query-params endDate=lastYear startDate=lastYear search='null')
          tagName='li'
          data-location-industry="employment"
          classNameBindings="locationIndustryEmployment:menu-section__link--active"
          class="menu-section__link"}}
          {{ t 'header.employment' }}
        {{/link-to}}
        {{#link-to 'location.visualization' model.id 'industries' 'treemap' 'wages'(query-params endDate=lastYear startDate=lastYear search='null')
          data-location-industry="wages"
          tagName='li'
          classNameBindings="locationIndustryWages:menu-section__link--active"
          class="menu-section__link"}}
          {{t 'header.wage' }}
        {{/link-to}}
        {{#unless isMunicipality}}
          {{#link-to 'location.visualization' model.id 'industries' 'similarity' 'rca'
            (query-params endDate=lastYear startDate=lastYear)
            data-location-industry="similarity"
            tagName='li'
            classNameBindings="locationIndustryRCA:menu-section__link--active"
            class="menu-section__link"}}
            {{ t 'header.industry_space' }}
          {{/link-to}}
          {{#unless isCountry }}
            {{#link-to 'location.visualization' model.id 'industries' 'scatter' 'opportunity' (query-params endDate=lastYear startDate=lastYear search='null')
              data-location-industry="scatter"
              tagName='li'
              classNameBindings="locationIndustryOpportunity:menu-section__link--active"
              class="menu-section__link"}}
              {{ t 'header.industry_potential'}}
            {{/link-to}}
          {{/unless}}
        {{/unless}}
      </ul>
    </div>
  {{/if}}
  <div class="menu-section">
    <h5 class='menu-section__group-name'>{{t 'header.export'}}</h5>
    <ul class="menu-section__group">
      {{#link-to 'location.visualization' model.id  'products' 'treemap' 'export_value' (query-params search='null' startDate=lastYear  endDate=lastYear)
        tagName='li'
        classNameBindings="locationProductExports:menu-section__link--active"
        class="menu-section__link"}}
        {{t 'header.product'}}
      {{/link-to}}
      {{#if showLocationProductsByDestination}}
        {{#link-to 'location.visualization-product' model.id 290 'multiples' 'export_value' (query-params search='null' startDate=firstYear endDate=lastYear)
          tagName='li'
          classNameBindings="locationProductsByDestination:menu-section__link--active"
          class="menu-section__link"}}
          {{t 'header.destination_by_products'}}
        {{/link-to}}
      {{/if}}
      {{#link-to 'location.visualization' model.id 'partners' 'treemap' 'export_value' (query-params search='null' startDate=lastYear  endDate=lastYear)
        data-location-partners="export"
        tagName='li'
        classNameBindings="locationPartnersExports:menu-section__link--active"
        class="menu-section__link"}}
        {{t 'header.destination'}}
      {{/link-to}}
      {{#unless isMunicipality }}
        {{#link-to 'location.visualization' model.id 'products' 'similarity' 'rca' (query-params endDate=lastYear startDate=lastYear search='null')
          data-location-product="similarity"
          tagName='li'
          classNameBindings="locationProductRCA:menu-section__link--active"
          class="menu-section__link"}}
          {{ t 'header.product_space' }}
        {{/link-to}}
        {{#link-to 'location.visualization' model.id 'products' 'scatter' 'opportunity' (query-params endDate=lastYear startDate=lastYear search='null')
          data-location-product="scatter"
          tagName='li'
          classNameBindings="locationProductOpportunity:menu-section__link--active"
          class="menu-section__link"}}
          {{ t 'header.product_potential' }}
        {{/link-to}}
      {{/unless}}
    </ul>
  </div>
  {{#if featureToggle.showImports }}
    <div class="menu-section">
      <h5 class='menu-section__group-name'>{{t 'header.import'}}</h5>
      <ul class="menu-section__group">
        {{#link-to 'location.visualization' model.id 'products' 'treemap' 'import_value' (query-params search='null' startDate=lastYear  endDate=lastYear)
          data-location-product="imports"
          tagName='li'
          classNameBindings="locationProductImports:menu-section__link--active"
          class="menu-section__link"}}
          {{t 'header.product'}}
        {{/link-to}}
        {{#if isDepartment}}
          {{#link-to 'location.visualization-product' model.id 1224 'multiples' 'import_value' (query-params search='null' startDate=firstYear endDate=lastYear)
            tagName='li'
            classNameBindings="locationProductsByOrigin:menu-section__link--active"
            class="menu-section__link"}}
            {{t 'header.origin_by_products'}}
          {{/link-to}}
        {{/if}}
      </ul>
        <ul class="menu-section__group">
          {{#link-to 'location.visualization' model.id 'partners' 'treemap' 'import_value' (query-params search='null' startDate=lastYear  endDate=lastYear)
            data-location-partners="export"
            tagName='li'
            classNameBindings="locationPartnersImports:menu-section__link--active"
            class="menu-section__link"}}
            {{t 'header.origin'}}
          {{/link-to}}
        </ul>
    </div>
  {{/if}}
</div>
