<div class="ctas">
  <div class="ctamod__wrap">
    <div class="ctamod">
      <h4 class="cta__header">{{t 'ctas.export'}}</h4>
      <div class="cta__btns">
        <button class="btn cta__btn btn--standalone">{{fa-icon "file-pdf-o" classNames="tool__btn__icon"}} PDF</button>
        <button class="btn cta__btn btn--standalone">{{fa-icon "file-image-o" classNames="tool__btn__icon"}} PNG</button>
        <button class="btn cta__btn btn--standalone">{{fa-icon "link" classNames="tool__btn__icon"}} Embed</button>
      </div>
    </div>
  </div>
  <div class="ctamod__wrap">
    <div class="ctamod">
      <h4 class="cta__header">{{t 'ctas.share'}}</h4>
      <div class="cta__btns">
        <button class="btn cta__btn btn--standalone">{{fa-icon "twitter" classNames="tool__btn__icon"}} Twitter</button>
        <button class="btn cta__btn btn--standalone">{{fa-icon "facebook" classNames="tool__btn__icon"}} Facebook</button>
      </div>
    </div>
  </div>
  <div class="ctamod__wrap">
    <div class="ctamod">
      <h4 class="cta__header">{{t 'ctas.download'}}</h4>
      <div class="cta__btns">
        <button class="btn cta__btn btn--standalone">{{fa-icon "table" classNames="tool__btn__icon"}} CSV</button>
        <button class="btn cta__btn btn--standalone">{{fa-icon "file-excel-o" classNames="tool__btn__icon"}} Excel</button>
      </div>
    </div>
  </div>
</div>
