<div class="tabmod">
  {{#ivy-tabs}}
    {{#ivy-tab-list classNames='tabmod__tabs'}}
      {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
        <a class="tab__link" data-tab-location>{{t 'general.locations'}}</a>
      {{/ivy-tab}}
      {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
        <a class="tab__link"data-tab-product>{{t 'general.export_and_import'}}</a>
      {{/ivy-tab}}
      {{#ivy-tab classNames='tabmod__tab' activeClass='tabmod__tab--is--active'}}
        <a class="tab__link" data-tab-industry >{{t 'general.industries'}}</a>
      {{/ivy-tab}}
    {{/ivy-tab-list}}

    {{!-- LOCATION--}}
    {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
      <ul class="builder__nav__list">
        <li class="builder__list--nested">
          <ul>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'visualization'  class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.locations.export' name=name }}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.locations.export_to' name=name item=builderNavDropDown}}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.locations.import_from' name=name }}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.locations.import_product_from' name=name item=builderNavDropDown }}
                {{/link-to}}
              </div>
            </li>
          </ul>
        </li>
        <li class="builder__list--nested">
          <ul>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.locations.export_subregions' name=name }}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.locations.export_subregions_products' name=name item=builderNavDropDown }}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.locations.export_subregions_locations' name=name place=builderNavDropDown }}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.locations.export_subregions_products_locations' name=name  place=builderNavDropDown item=builderNavDropDown }}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.locations.import_subregions' name=name item=builderNavDropDown }}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.locations.import_subregions_products' name=name item=builderNavDropDown }}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.locations.import_subregions_locations' name=name place=builderNavDropDown }}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.locations.import_subregions_products_locations' name=name place=builderNavDropDown item=builderNavDropDown }}
                {{/link-to}}
              </div>
            </li>
          </ul>
        </li>
      </ul>
    {{/ivy-tab-panel}}

    {{!-- IMPORT AND EXPORT --}}
    {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
      <ul class="builder__nav__list">
        <li class="builder__list--nested">
          <ul>
            <li class="builder__nav__item">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'visualization' entity_and_id 'products' 'treemap' (query-params variable='export_value') class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.products.export_value' name=name}}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.products.export_value_to' name=name place=builderNavDropDown}}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'visualization' entity_and_id 'products' 'treemap' (query-params variable='import_value') class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.products.import_value' name=name}}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.products.import_value_from' name=name place=builderNavDropDown}}
                {{/link-to}}
              </div>
            </li>
          </ul>
        </li>
        <li class="builder__list--nested">
          <ul>
            <li class="builder__nav__item">
              <i class="icon-cidcon_scatter builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Scatterplot</h4>
                {{#link-to 'visualization' entity_and_id 'products' 'scatter' (query-params variable='null' endDate=2014 startDate=2013) class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.products.scatter' name=name}}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item">
              <i class="icon-cidcon_similarity builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Similarity map</h4>
                {{#link-to 'visualization' entity_and_id 'products' 'similarity' (query-params variable='null' endDate=2014 startDate=2013) class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.products.similarity' name=name}}
                {{/link-to}}
              </div>
            </li>
          </ul>
        </li>
      </ul>
    {{/ivy-tab-panel}}

    {{!-- INDUSTRIES --}}
    {{#ivy-tab-panel classNames='tabmod__card' activeClass='tabmod__card--is--active'}}
      <ul class="builder__nav__list">
        <li class="builder__list--nested">
          <ul>
            <li class="builder__nav__item">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'visualization' entity_and_id 'industries' 'treemap' (query-params variable='employment') class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.industries.employment' name=name}}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'visualization' entity_and_id 'industries' 'treemap' (query-params variable='wages') class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.industries.wages' name=name}}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="inudstrie") class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.industries.wages_highest_per_worker' name=name}}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item builder__nav__item--unavailable">
              <i class="icon-cidcon_treemap builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Treemap</h4>
                {{#link-to 'graph_builder' (query-params entity=entity entity_id=entity_id data_source="products") class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.industries.wages_highest' place=builderNavDropDown}}
                {{/link-to}}
              </div>
            </li>
          </ul>
        </li>
        <li class="builder__list--nested">
          <ul>
            <li class="builder__nav__item">
              <i class="icon-cidcon_scatter builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Scatterplot</h4>
                {{#link-to 'visualization' entity_and_id 'industries' 'scatter' (query-params variable='null') class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.industries.scatter' name=name}}
                {{/link-to}}
              </div>
            </li>
            <li class="builder__nav__item">
              <i class="icon-cidcon_similarity builder__nav__item__icon"></i>
              <div class="builder__nav__item__textwrap">
                <h4 class="label builder__nav__label">Similarity map</h4>
                {{#link-to 'visualization' entity_and_id 'industries' 'similarity' (query-params variable='rca') class="builder__nav__question"}}
                  {{t 'graph_builder.page_title.location.industries.similarity' name=name}}
                {{/link-to}}
              </div>
            </li>
          </ul>
        </li>
      </ul>
    {{/ivy-tab-panel}}
  {{/ivy-tabs}}
</div>
