<header class="header--pageheader">
  <div class="pageheader__wrap">
    <div class="branding">
      {{#link-to "index"}}
        <img src="/assets/img/branding/datlas-white.svg" alt="Datlas" class="branding__logo">
      {{/link-to}}
      {{#unless isHomePageRoute }}
        <p class="branding__slogan" data-slogan>{{ t 'index.header_head' }}</p>
      {{/unless}}
    </div>
    <nav class="pageheader__nav">
      <div class="togglemod togglemod--languages">
        <p {{bind-attr class=":toggle__label__text isDefaultLocale::toggle__label--is--active"}}>
          {{otherLanguage}}
        </p>
        {{input
          type='checkbox'
          id='toggle--languages'
          class='toggle toggle--languages'
          checked=isDefaultLocale
          data-language-toggle=''
          }}
        <label class="toggle__label" for="toggle--languages"></label>
        <p {{bind-attr class=":toggle__label__text isDefaultLocale:toggle__label--is--active"}}>
          {{defaultLanguage}}
        </p>
      </div>
    </nav>
  </div>
</header>

