<header id="dgm-navbar">
<style no-shim>
  .sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}[role="button"]{cursor:pointer}.nav{margin-bottom:0;padding-left:0;list-style:none}.nav>li{position:relative;display:block}.nav>li>a{position:relative;display:block;padding:10px 15px}.nav>li>a:hover,.nav>li>a:focus{text-decoration:none;background-color:#eee}.nav>li.disabled>a{color:#777}.nav>li.disabled>a:hover,.nav>li.disabled>a:focus{color:#777;text-decoration:none;background-color:transparent;cursor:not-allowed}.nav .open>a,.nav .open>a:hover,.nav .open>a:focus{background-color:#eee;border-color:#337ab7}.nav .nav-divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5}.nav>li>a>img{max-width:none}.nav-tabs{border-bottom:1px solid #ddd}.nav-tabs>li{float:left;margin-bottom:-1px}.nav-tabs>li>a{margin-right:2px;line-height:1.42857143;border:1px solid transparent;border-radius:4px 4px 0 0}.nav-tabs>li>a:hover{border-color:#eee #eee #ddd}.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{color:#555;background-color:#fff;border:1px solid #ddd;border-bottom-color:transparent;cursor:default}.nav-tabs.nav-justified{width:100%;border-bottom:0}.nav-tabs.nav-justified>li{float:none}.nav-tabs.nav-justified>li>a{text-align:center;margin-bottom:5px}.nav-tabs.nav-justified>.dropdown .dropdown-menu{top:auto;left:auto}@media (min-width:768px){.nav-tabs.nav-justified>li{display:table-cell;width:1%}.nav-tabs.nav-justified>li>a{margin-bottom:0}}.nav-tabs.nav-justified>li>a{margin-right:0;border-radius:4px}.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:hover,.nav-tabs.nav-justified>.active>a:focus{border:1px solid #ddd}@media (min-width:768px){.nav-tabs.nav-justified>li>a{border-bottom:1px solid #ddd;border-radius:4px 4px 0 0}.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:hover,.nav-tabs.nav-justified>.active>a:focus{border-bottom-color:#fff}}.nav-pills>li{float:left}.nav-pills>li>a{border-radius:4px}.nav-pills>li+li{margin-left:2px}.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus{color:#fff;background-color:#337ab7}.nav-stacked>li{float:none}.nav-stacked>li+li{margin-top:2px;margin-left:0}.nav-justified{width:100%}.nav-justified>li{float:none}.nav-justified>li>a{text-align:center;margin-bottom:5px}.nav-justified>.dropdown .dropdown-menu{top:auto;left:auto}@media (min-width:768px){.nav-justified>li{display:table-cell;width:1%}.nav-justified>li>a{margin-bottom:0}}.nav-tabs-justified{border-bottom:0}.nav-tabs-justified>li>a{margin-right:0;border-radius:4px}.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:hover,.nav-tabs-justified>.active>a:focus{border:1px solid #ddd}@media (min-width:768px){.nav-tabs-justified>li>a{border-bottom:1px solid #ddd;border-radius:4px 4px 0 0}.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:hover,.nav-tabs-justified>.active>a:focus{border-bottom-color:#fff}}.tab-content>.tab-pane{display:none}.tab-content>.active{display:block}.nav-tabs .dropdown-menu{margin-top:-1px;border-top-right-radius:0;border-top-left-radius:0}.navbar{position:relative;min-height:50px;margin-bottom:20px;border:1px solid transparent}@media (min-width:768px){.navbar{border-radius:4px}}@media (min-width:768px){.navbar-header{float:left}}.navbar-collapse{overflow-x:visible;padding-right:15px;padding-left:15px;border-top:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1);box-shadow:inset 0 1px 0 rgba(255,255,255,0.1);-webkit-overflow-scrolling:touch}.navbar-collapse.in{overflow-y:auto}@media (min-width:768px){.navbar-collapse{width:auto;border-top:0;-webkit-box-shadow:none;box-shadow:none}.navbar-collapse.collapse{display:block !important;height:auto !important;padding-bottom:0;overflow:visible !important}.navbar-collapse.in{overflow-y:visible}.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse,.navbar-fixed-bottom .navbar-collapse{padding-left:0;padding-right:0}}.navbar-fixed-top .navbar-collapse,.navbar-fixed-bottom .navbar-collapse{max-height:340px}@media (max-device-width:480px) and (orientation:landscape){.navbar-fixed-top .navbar-collapse,.navbar-fixed-bottom .navbar-collapse{max-height:200px}}.container>.navbar-header,.container-fluid>.navbar-header,.container>.navbar-collapse,.container-fluid>.navbar-collapse{margin-right:-15px;margin-left:-15px}@media (min-width:768px){.container>.navbar-header,.container-fluid>.navbar-header,.container>.navbar-collapse,.container-fluid>.navbar-collapse{margin-right:0;margin-left:0}}.navbar-static-top{z-index:1000;border-width:0 0 1px}@media (min-width:768px){.navbar-static-top{border-radius:0}}.navbar-fixed-top,.navbar-fixed-bottom{position:fixed;right:0;left:0;z-index:1030}@media (min-width:768px){.navbar-fixed-top,.navbar-fixed-bottom{border-radius:0}}.navbar-fixed-top{top:0;border-width:0 0 1px}.navbar-fixed-bottom{bottom:0;margin-bottom:0;border-width:1px 0 0}.navbar-brand{float:left;padding:15px 15px;font-size:18px;line-height:20px;height:50px}.navbar-brand:hover,.navbar-brand:focus{text-decoration:none}.navbar-brand>img{display:block}@media (min-width:768px){.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand{margin-left:-15px}}.navbar-toggle{position:relative;float:right;margin-right:15px;padding:9px 10px;margin-top:8px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px}.navbar-toggle:focus{outline:0}.navbar-toggle .icon-bar{display:block;width:22px;height:2px;border-radius:1px}.navbar-toggle .icon-bar+.icon-bar{margin-top:4px}@media (min-width:768px){.navbar-toggle{display:none}}.navbar-nav{margin:7.5px -15px}.navbar-nav>li>a{padding-top:10px;padding-bottom:10px;line-height:20px}@media (max-width:767px){.navbar-nav .open .dropdown-menu{position:static;float:none;width:auto;margin-top:0;background-color:transparent;border:0;-webkit-box-shadow:none;box-shadow:none}.navbar-nav .open .dropdown-menu>li>a,.navbar-nav .open .dropdown-menu .dropdown-header{padding:5px 15px 5px 25px}.navbar-nav .open .dropdown-menu>li>a{line-height:20px}.navbar-nav .open .dropdown-menu>li>a:hover,.navbar-nav .open .dropdown-menu>li>a:focus{background-image:none}}@media (min-width:768px){.navbar-nav{float:left;margin:0}.navbar-nav>li{float:left}.navbar-nav>li>a{padding-top:15px;padding-bottom:15px}}.navbar-form{margin-left:-15px;margin-right:-15px;padding:10px 15px;border-top:1px solid transparent;border-bottom:1px solid transparent;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);margin-top:8px;margin-bottom:8px}@media (min-width:768px){.navbar-form .form-group{display:inline-block;margin-bottom:0;vertical-align:middle}.navbar-form .form-control{display:inline-block;width:auto;vertical-align:middle}.navbar-form .form-control-static{display:inline-block}.navbar-form .input-group{display:inline-table;vertical-align:middle}.navbar-form .input-group .input-group-addon,.navbar-form .input-group .input-group-btn,.navbar-form .input-group .form-control{width:auto}.navbar-form .input-group>.form-control{width:100%}.navbar-form .control-label{margin-bottom:0;vertical-align:middle}.navbar-form .radio,.navbar-form .checkbox{display:inline-block;margin-top:0;margin-bottom:0;vertical-align:middle}.navbar-form .radio label,.navbar-form .checkbox label{padding-left:0}.navbar-form .radio input[type="radio"],.navbar-form .checkbox input[type="checkbox"]{position:relative;margin-left:0}.navbar-form .has-feedback .form-control-feedback{top:0}}@media (max-width:767px){.navbar-form .form-group{margin-bottom:5px}.navbar-form .form-group:last-child{margin-bottom:0}}@media (min-width:768px){.navbar-form{width:auto;border:0;margin-left:0;margin-right:0;padding-top:0;padding-bottom:0;-webkit-box-shadow:none;box-shadow:none}}.navbar-nav>li>.dropdown-menu{margin-top:0;border-top-right-radius:0;border-top-left-radius:0}.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu{margin-bottom:0;border-top-right-radius:4px;border-top-left-radius:4px;border-bottom-right-radius:0;border-bottom-left-radius:0}.navbar-btn{margin-top:8px;margin-bottom:8px}.navbar-btn.btn-sm{margin-top:10px;margin-bottom:10px}.navbar-btn.btn-xs{margin-top:14px;margin-bottom:14px}.navbar-text{margin-top:15px;margin-bottom:15px}@media (min-width:768px){.navbar-text{float:left;margin-left:15px;margin-right:15px}}@media (min-width:768px){.navbar-left{float:left !important}.navbar-right{float:right !important;margin-right:-15px}.navbar-right~.navbar-right{margin-right:0}}.navbar-default{background-color:#f8f8f8;border-color:#e7e7e7}.navbar-default .navbar-brand{color:#777}.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus{color:#5e5e5e;background-color:transparent}.navbar-default .navbar-text{color:#777}.navbar-default .navbar-nav>li>a{color:#777}.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus{color:#333;background-color:transparent}.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus{color:#555;background-color:#e7e7e7}.navbar-default .navbar-nav>.disabled>a,.navbar-default .navbar-nav>.disabled>a:hover,.navbar-default .navbar-nav>.disabled>a:focus{color:#ccc;background-color:transparent}.navbar-default .navbar-toggle{border-color:#ddd}.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{background-color:#ddd}.navbar-default .navbar-toggle .icon-bar{background-color:#888}.navbar-default .navbar-collapse,.navbar-default .navbar-form{border-color:#e7e7e7}.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus{background-color:#e7e7e7;color:#555}@media (max-width:767px){.navbar-default .navbar-nav .open .dropdown-menu>li>a{color:#777}.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus{color:#333;background-color:transparent}.navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus{color:#555;background-color:#e7e7e7}.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus{color:#ccc;background-color:transparent}}.navbar-default .navbar-link{color:#777}.navbar-default .navbar-link:hover{color:#333}.navbar-default .btn-link{color:#777}.navbar-default .btn-link:hover,.navbar-default .btn-link:focus{color:#333}.navbar-default .btn-link[disabled]:hover,fieldset[disabled] .navbar-default .btn-link:hover,.navbar-default .btn-link[disabled]:focus,fieldset[disabled] .navbar-default .btn-link:focus{color:#ccc}.navbar-inverse{background-color:#222;border-color:#080808}.navbar-inverse .navbar-brand{color:#9d9d9d}.navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-brand:focus{color:#fff;background-color:transparent}.navbar-inverse .navbar-text{color:#9d9d9d}.navbar-inverse .navbar-nav>li>a{color:#9d9d9d}.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus{color:#fff;background-color:transparent}.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus{color:#fff;background-color:#080808}.navbar-inverse .navbar-nav>.disabled>a,.navbar-inverse .navbar-nav>.disabled>a:hover,.navbar-inverse .navbar-nav>.disabled>a:focus{color:#444;background-color:transparent}.navbar-inverse .navbar-toggle{border-color:#333}.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus{background-color:#333}.navbar-inverse .navbar-toggle .icon-bar{background-color:#fff}.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form{border-color:#101010}.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a:focus{background-color:#080808;color:#fff}@media (max-width:767px){.navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header{border-color:#080808}.navbar-inverse .navbar-nav .open .dropdown-menu .divider{background-color:#080808}.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{color:#9d9d9d}.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus{color:#fff;background-color:transparent}.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus{color:#fff;background-color:#080808}.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus{color:#444;background-color:transparent}}.navbar-inverse .navbar-link{color:#9d9d9d}.navbar-inverse .navbar-link:hover{color:#fff}.navbar-inverse .btn-link{color:#9d9d9d}.navbar-inverse .btn-link:hover,.navbar-inverse .btn-link:focus{color:#fff}.navbar-inverse .btn-link[disabled]:hover,fieldset[disabled] .navbar-inverse .btn-link:hover,.navbar-inverse .btn-link[disabled]:focus,fieldset[disabled] .navbar-inverse .btn-link:focus{color:#444}.clearfix:before,.clearfix:after,.form-horizontal .form-group:before,.form-horizontal .form-group:after,.nav:before,.nav:after,.navbar:before,.navbar:after,.navbar-header:before,.navbar-header:after,.navbar-collapse:before,.navbar-collapse:after{content:" ";display:table}.clearfix:after,.form-horizontal .form-group:after,.nav:after,.navbar:after,.navbar-header:after,.navbar-collapse:after{clear:both}.center-block{display:block;margin-left:auto;margin-right:auto}.pull-right{float:right !important}.pull-left{float:left !important}.hide{display:none !important}.show{display:block !important}.invisible{visibility:hidden}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.hidden{display:none !important}.affix{position:fixed}@-ms-viewport{width:device-width}.visible-xs,.visible-sm,.visible-md,.visible-lg{display:none !important}.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block{display:none !important}@media (max-width:767px){.visible-xs{display:block !important}table.visible-xs{display:table !important}tr.visible-xs{display:table-row !important}th.visible-xs,td.visible-xs{display:table-cell !important}}@media (max-width:767px){.visible-xs-block{display:block !important}}@media (max-width:767px){.visible-xs-inline{display:inline !important}}@media (max-width:767px){.visible-xs-inline-block{display:inline-block !important}}@media (min-width:768px) and (max-width:991px){.visible-sm{display:block !important}table.visible-sm{display:table !important}tr.visible-sm{display:table-row !important}th.visible-sm,td.visible-sm{display:table-cell !important}}@media (min-width:768px) and (max-width:991px){.visible-sm-block{display:block !important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline{display:inline !important}}@media (min-width:768px) and (max-width:991px){.visible-sm-inline-block{display:inline-block !important}}@media (min-width:992px) and (max-width:1199px){.visible-md{display:block !important}table.visible-md{display:table !important}tr.visible-md{display:table-row !important}th.visible-md,td.visible-md{display:table-cell !important}}@media (min-width:992px) and (max-width:1199px){.visible-md-block{display:block !important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline{display:inline !important}}@media (min-width:992px) and (max-width:1199px){.visible-md-inline-block{display:inline-block !important}}@media (min-width:1200px){.visible-lg{display:block !important}table.visible-lg{display:table !important}tr.visible-lg{display:table-row !important}th.visible-lg,td.visible-lg{display:table-cell !important}}@media (min-width:1200px){.visible-lg-block{display:block !important}}@media (min-width:1200px){.visible-lg-inline{display:inline !important}}@media (min-width:1200px){.visible-lg-inline-block{display:inline-block !important}}@media (max-width:767px){.hidden-xs{display:none}}@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none}}@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none}}@media (min-width:1200px){.hidden-lg{display:none}}.visible-print{display:none !important}@media print{.visible-print{display:block !important}table.visible-print{display:table !important}tr.visible-print{display:table-row !important}th.visible-print,td.visible-print{display:table-cell !important}}.visible-print-block{display:none !important}@media print{.visible-print-block{display:block !important}}.visible-print-inline{display:none !important}@media print{.visible-print-inline{display:inline !important}}.visible-print-inline-block{display:none !important}@media print{.visible-print-inline-block{display:inline-block !important}}@media print{.hidden-print{display:none !important}}
  header#dgm-navbar                                                               { background-color: #474747; display: block; box-sizig: border-box; box-shadow: 0 1px 4px rgba(0,0,0,0.3); }
  header#dgm-navbar .navbar-default                                                     { background-color: transparent; border: none; }
  header#dgm-navbar .navbar                                                             { max-width: 1100px; margin: 0 auto; }
  header#dgm-navbar .navbar > .container-fluid .navbar-brand                            { margin-left: 20px; padding: 10px 0 0; float: left; display: block; }
  header#dgm-navbar .navbar > .container-fluid .navbar-toggle                           { margin-right: 20px; }
  header#dgm-navbar .navbar-default ul.navbar-nav.social-navigation                     { margin-left: 20px; }
  header#dgm-navbar .navbar-default ul.navbar-nav.social-navigation li                  { display: block; width: 32px; height: 100%; text-indent: -9999px; text-align: center; }
  header#dgm-navbar .navbar-default ul.navbar-nav.social-navigation li a                { height: 18px; margin: 13.5px 0; padding: 0; background: url(https://raw.githubusercontent.com/mxabierto/assets/master/img/ic-social.png) no-repeat; background-size: 18px; }
  header#dgm-navbar .navbar-default ul.navbar-nav.social-navigation > li > a:hover      { background-color: transparent; }
  header#dgm-navbar .navbar-default ul.navbar-nav.social-navigation .item-github a      { background-position: 50% -54px; }
  header#dgm-navbar .navbar-default ul.navbar-nav                                       { margin: 0; padding: 0; list-style: none; float: right; }
  header#dgm-navbar .navbar-default ul.navbar-nav > li                                  { float: left; }
  header#dgm-navbar .navbar-default ul.navbar-nav > li > a                              { display: block; padding: 14px 20px; color: #fff; font-size: 12px; text-decoration: none; font-family: "Open Sans"; transition: all 0.1s ease-in-out 0s; }
  header#dgm-navbar .navbar-default ul.navbar-nav > li > a:hover,
  header#dgm-navbar .navbar-default ul.navbar-nav > li > a.active                       { background-color: #545454; color: #adadad; }
  @media (max-width: 991px)                                           { .navbar-collapse { display: none; } }
</style>
<nav class="navbar navbar-default">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" title="Ir a la página de inicio de datos.gob.mx" href="//datos.gob.mx/">
      <svg width="141px" height="31px" viewBox="0 0 141 31" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
      <!-- Generator: Sketch Beta 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
      <title>Logo Datos</title>
      <desc>Created with Sketch Beta.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
      <g id="Historias" sketch:type="MSArtboardGroup" transform="translate(-38.000000, -8.000000)" fill="#FFFFFF">
      <g id="Navbar-2" sketch:type="MSLayerGroup">
      <g id="Logo-Datos" transform="translate(42.000000, 11.000000)" sketch:type="MSShapeGroup">
      <path d="M12.9729803,2.64871538 L1.24951292,2.64871538 C0.591710947,2.64871538 0.058402214,2.07194615 0.058402214,1.36053846 C0.058402214,0.649130769 0.591710947,0.0723615385 1.24951292,0.0723615385 L12.9729803,0.0723615385 C13.6307823,0.0723615385 14.1639274,0.649130769 14.1639274,1.36053846 C14.1639274,2.07194615 13.6307823,2.64871538 12.9729803,2.64871538" id="Fill-1"></path>
      <path d="M17.662171,7.72003846 L1.24951292,7.72003846 C0.591547355,7.72003846 0.058402214,7.14344615 0.058402214,6.43203846 C0.058402214,5.72063077 0.591547355,5.14386154 1.24951292,5.14386154 L17.662171,5.14386154 C18.3199729,5.14386154 18.8531181,5.72063077 18.8531181,6.43203846 C18.8531181,7.14344615 18.3199729,7.72003846 17.662171,7.72003846" id="Fill-2"></path>
      <path d="M15.3175756,12.7915385 L1.24951292,12.7915385 C0.591710947,12.7915385 0.058402214,12.2147692 0.058402214,11.5033615 C0.058402214,10.7919538 0.591710947,10.2151846 1.24951292,10.2151846 L15.3175756,10.2151846 C15.9753776,10.2151846 16.5085228,10.7919538 16.5085228,11.5033615 C16.5085228,12.2147692 15.9753776,12.7915385 15.3175756,12.7915385" id="Fill-3"></path>
      <path d="M20.0067663,17.8628615 L1.24934932,17.8628615 C0.591547355,17.8628615 0.058402214,17.2862692 0.058402214,16.5746846 C0.058402214,15.8632769 0.591547355,15.2866846 1.24934932,15.2866846 L20.0067663,15.2866846 C20.6645683,15.2866846 21.197877,15.8632769 21.197877,16.5746846 C21.197877,17.2862692 20.6645683,17.8628615 20.0067663,17.8628615" id="Fill-4"></path>
      <path d="M15.3175756,22.9341846 L1.24951292,22.9341846 C0.591710947,22.9341846 0.058402214,22.3575923 0.058402214,21.6460077 C0.058402214,20.9346 0.591710947,20.3580077 1.24951292,20.3580077 L15.3175756,20.3580077 C15.9753776,20.3580077 16.5085228,20.9346 16.5085228,21.6460077 C16.5085228,22.3575923 15.9753776,22.9341846 15.3175756,22.9341846" id="Fill-5"></path>
      <path d="M25.1098438,13.2138538 C25.1098438,9.67008462 26.8237934,7.94384615 29.377786,7.94384615 C30.2852288,7.94384615 30.9741132,8.16181538 31.4110664,8.32546923 L31.4110664,3.94573846 L33.5114194,3.94573846 L33.5114194,17.9387615 L31.8311697,17.9387615 L31.5286888,16.7211769 L31.4279164,16.7029538 C30.7894182,17.4117077 29.9995978,18.1022385 28.7057515,18.1022385 C26.3533038,18.1022385 25.1098438,15.8669923 25.1098438,13.2138538 L25.1098438,13.2138538 Z M31.4110664,15.0857 L31.4110664,10.0699308 C30.8564908,9.77924615 30.2348426,9.61559231 29.7139668,9.61559231 C27.8823948,9.61559231 27.2942829,11.2330231 27.2942829,13.1230923 C27.2942829,15.1037462 28.1007897,16.3940462 29.2266273,16.3940462 C30.1003702,16.3940462 30.8901907,15.8307231 31.4110664,15.0857 L31.4110664,15.0857 Z" id="Fill-6"></path>
      <path d="M44.0305252,17.7025692 C43.408877,17.9569846 42.7702153,18.1022385 42.2828758,18.1022385 C41.3587466,18.1022385 40.9386433,17.6661231 40.8043346,16.7938923 L40.7202485,16.7576231 C39.7288831,17.6480769 38.9559127,18.1022385 37.8467614,18.1022385 C36.3513702,18.1022385 35.0743739,16.9393231 35.0743739,15.2309538 C35.0743739,13.8681154 35.7967946,13.3046154 37.1747269,12.9229923 C38.3341009,12.6140846 39.8296556,12.2869538 40.7370984,12.0325385 L40.7370984,11.4329462 C40.7370984,10.2698538 40.3169951,9.63381538 38.9559127,9.63381538 C37.9812337,9.63381538 36.9226322,9.99739231 35.9481169,10.5060462 L35.5111636,9.03404615 C36.6201513,8.36173846 38.0316199,7.94384615 39.1239213,7.94384615 C40.9890295,7.94384615 42.8878376,8.48894615 42.8878376,11.5237077 L42.8878376,15.7399615 C42.8878376,16.1215846 42.9382239,16.4122692 43.3751771,16.4122692 C43.6272718,16.4122692 43.8288167,16.3940462 43.9297528,16.376 L44.0305252,17.7025692 L44.0305252,17.7025692 Z M38.6534317,16.5394769 C39.3087798,16.5394769 40.0817503,16.1396308 40.7370984,15.3946077 L40.7370984,13.2138538 C39.9137417,13.3955538 38.8886765,13.6681923 38.2670283,13.8681154 C37.6956027,14.0315923 37.258813,14.2679615 37.258813,15.0310308 C37.258813,15.9034385 37.8804613,16.5394769 38.6534317,16.5394769 L38.6534317,16.5394769 Z" id="Fill-7"></path>
      <path d="M44.2323973,8.10732308 L45.7111021,8.10732308 L46.1312054,5.69037692 L47.7947688,5.69037692 L47.7947688,8.10732308 L50.6008561,8.10732308 L50.4496974,9.72457692 L47.8116187,9.72457692 L47.8116187,14.7948385 C47.8116187,15.6308 48.0300135,16.2123462 48.90392,16.2123462 C49.374246,16.2123462 50.0129077,16.0669154 50.6849422,15.7762308 L50.9538868,17.5026462 C49.9625215,17.9387615 49.0550787,18.1022385 48.2652583,18.1022385 C46.3833001,18.1022385 45.6775658,17.0483077 45.6775658,15.0310308 L45.6775658,9.72457692 L44.2323973,9.72457692 L44.2323973,8.10732308" id="Fill-8"></path>
      <path d="M51.7774071,13.0502 C51.7774071,9.76102308 53.340198,7.94384615 56.2303715,7.94384615 C59.1373948,7.94384615 60.6664859,9.72457692 60.6664859,13.0502 C60.6664859,16.6666846 58.8516002,18.1022385 56.2135215,18.1022385 C53.5921292,18.1022385 51.7774071,16.6121923 51.7774071,13.0502 L51.7774071,13.0502 Z M58.4820467,13.0502 C58.4820467,10.5424923 57.557754,9.65203846 56.2303715,9.65203846 C54.886139,9.65203846 53.9618462,10.5242692 53.9618462,13.0684231 C53.9618462,15.3401154 54.8355892,16.4122692 56.2303715,16.4122692 C57.6418401,16.4122692 58.4820467,15.3581615 58.4820467,13.0502 L58.4820467,13.0502 Z" id="Fill-9"></path>
      <path d="M65.0353641,18.1022385 C63.8759902,18.1022385 62.5317577,17.7388385 61.8764096,17.3389923 L62.1285043,15.7762308 C62.850925,16.1396308 64.0775351,16.5032077 65.0857503,16.5032077 C66.0604293,16.5032077 66.866936,16.2305692 66.866936,15.1764615 C66.866936,13.3228385 62.0107183,14.1588 62.0107183,10.8696231 C62.0107183,8.92506154 63.4894231,7.94384615 65.6907122,7.94384615 C66.8502497,7.94384615 68.0264736,8.25275385 68.5808856,8.50716923 L68.2617183,10.0881538 C67.6567565,9.81551538 66.598155,9.54287692 65.7075621,9.54287692 C64.7497331,9.54287692 64.1112349,9.94272308 64.1112349,10.7604615 C64.1112349,12.4688308 68.9170664,11.7236308 68.9170664,15.0857 C68.9170664,17.1937385 67.169417,18.1022385 65.0353641,18.1022385" id="Fill-10"></path>
      <path d="M71.5216089,15.5398615 C72.2441931,15.5398615 72.7819188,16.0851385 72.7819188,16.8483846 C72.7819188,17.5753615 72.2441931,18.1022385 71.5216089,18.1022385 C70.7991882,18.1022385 70.2781488,17.5753615 70.2781488,16.8483846 C70.2781488,16.0851385 70.7991882,15.5398615 71.5216089,15.5398615" id="Fill-11"></path>
      <path d="M78.2262485,7.94384615 C79.8562755,7.94384615 80.6796322,8.47072308 81.1332718,8.96150769 L81.2342079,8.96150769 C81.2845941,8.32546923 81.4022165,7.88917692 82.2422595,7.88917692 C82.6623629,7.88917692 83.1665523,7.99833846 83.4690332,8.12554615 L83.3514108,9.32490769 C82.9985437,9.27041538 82.7631353,9.27041538 82.5615904,9.27041538 C81.8390062,9.27041538 81.8223198,9.68830769 81.7886199,10.3063 C81.8725424,10.5787615 81.9230923,10.9423385 81.9230923,11.1967538 C81.9230923,13.1593615 80.3940012,14.2315154 78.1086261,14.2315154 C78.0247036,14.2315154 77.839845,14.2315154 77.7222226,14.2132923 C77.1844969,14.4314385 76.2939041,14.904 76.2939041,15.5945308 C76.2939041,16.1396308 76.8484797,16.2668385 77.2348831,16.2668385 L80.1083702,16.2668385 C82.2087232,16.2668385 83.3345609,17.1028 83.3345609,18.8654846 C83.3177109,21.5007538 80.225829,22.1185692 78.0413899,22.1185692 C76.6300849,22.1185692 73.9077565,21.7914385 73.9077565,19.6469538 C73.9077565,18.3931 74.7311132,17.7752846 75.4536974,17.3572154 L75.4536974,17.2482308 C74.5631046,16.9393231 74.4119459,16.3940462 74.4119459,15.9761538 C74.4119459,14.904 75.4370111,14.2315154 76.3274403,13.8863385 L76.310754,13.7954 C75.1345301,13.3955538 74.4287958,12.4868769 74.4287958,11.1785308 C74.4454822,9.17947692 75.9075006,7.94384615 78.2262485,7.94384615 L78.2262485,7.94384615 Z M77.6046002,17.7388385 C77.1341107,17.8297769 76.0586593,18.3203846 76.0586593,19.3380462 C76.0586593,20.4829154 77.4028918,20.7010615 78.4448069,20.7010615 C79.654567,20.7010615 81.1501218,20.3194385 81.1669717,18.9564231 C81.1669717,18.2294462 80.7972546,17.7388385 79.7386531,17.7388385 L77.6046002,17.7388385 L77.6046002,17.7388385 Z M78.1758622,12.9229923 C79.2513137,12.9229923 79.957048,12.3234 79.957048,11.1420846 C79.957048,9.96094615 79.3353998,9.27041538 78.2599483,9.27041538 C77.1172608,9.27041538 76.5291488,9.97899231 76.5291488,11.1603077 C76.5291488,12.0507615 77.0333383,12.9229923 78.1758622,12.9229923 L78.1758622,12.9229923 Z" id="Fill-12"></path>
      <path d="M84.0237724,13.0502 C84.0237724,9.76102308 85.5865633,7.94384615 88.4767368,7.94384615 C91.3837601,7.94384615 92.9128512,9.72457692 92.9128512,13.0502 C92.9128512,16.6666846 91.0981292,18.1022385 88.4598868,18.1022385 C85.8386581,18.1022385 84.0237724,16.6121923 84.0237724,13.0502 L84.0237724,13.0502 Z M90.7284121,13.0502 C90.7284121,10.5424923 89.8042829,9.65203846 88.4767368,9.65203846 C87.1325043,9.65203846 86.2082116,10.5242692 86.2082116,13.0684231 C86.2082116,15.3401154 87.0821181,16.4122692 88.4767368,16.4122692 C89.8882054,16.4122692 90.7284121,15.3581615 90.7284121,13.0502 L90.7284121,13.0502 Z" id="Fill-13"></path>
      <path d="M94.5428782,3.94573846 L96.6936175,3.94573846 L96.6936175,7.30780769 L96.6432312,9.25219231 L96.7273173,9.28846154 C97.3322792,8.65242308 98.0883998,7.94384615 99.3653961,7.94384615 C101.734694,7.94384615 103.011854,10.1790923 103.011854,12.8504538 C103.011854,16.1033615 101.617071,18.1022385 98.6261255,18.1022385 C97.6682964,18.1022385 96.6432312,17.9750308 95.5510935,17.3936615 L95.1982263,17.9387615 L94.5428782,17.9387615 L94.5428782,3.94573846 L94.5428782,3.94573846 Z M96.6936175,10.9786077 L96.6936175,15.9943769 C97.2481931,16.2850615 97.8866913,16.4485385 98.407567,16.4485385 C100.172066,16.4485385 100.827415,14.9402692 100.827415,12.9594385 C100.827415,11.0513231 100.08798,9.67008462 98.8780566,9.67008462 C98.0043137,9.67008462 97.2313432,10.2153615 96.6936175,10.9786077 L96.6936175,10.9786077 Z" id="Fill-14"></path>
      <path d="M105.61656,15.5398615 C106.33898,15.5398615 106.876706,16.0851385 106.876706,16.8483846 C106.876706,17.5753615 106.33898,18.1022385 105.61656,18.1022385 C104.893975,18.1022385 104.3731,17.5753615 104.3731,16.8483846 C104.3731,16.0851385 104.893975,15.5398615 105.61656,15.5398615" id="Fill-15"></path>
      <path d="M108.674905,8.10732308 L110.472777,8.10732308 L110.691172,9.39762308 L110.808795,9.41566923 C111.81701,8.36173846 112.707603,7.94384615 113.79974,7.94384615 C115.009664,7.94384615 115.833021,8.50716923 116.286824,9.48838462 L116.404446,9.48838462 C117.446198,8.37996154 118.521649,7.94384615 119.563401,7.94384615 C121.613368,7.94384615 122.537661,9.3794 122.537661,11.6873615 L122.537661,17.9387615 L120.386758,17.9387615 L120.386758,12.0144923 C120.386758,10.5242692 119.899418,9.79729231 118.874517,9.79729231 C118.050996,9.79729231 117.194103,10.2518077 116.690077,11.0331 L116.690077,17.9387615 L114.539175,17.9387615 L114.539175,12.0144923 C114.539175,10.5242692 114.051835,9.79729231 113.043784,9.79729231 C112.220263,9.79729231 111.312984,10.3606154 110.825645,11.1420846 L110.825645,17.9387615 L108.674905,17.9387615 L108.674905,8.10732308" id="Fill-16"></path>
      <path d="M129.914498,12.7232462 C130.721005,14.1043077 130.9731,14.5404231 131.72922,15.6670692 C132.082087,16.1215846 132.418268,16.3577769 132.922294,16.376 L132.922294,17.9387615 C132.670363,17.9932538 132.266946,18.0297 131.930929,18.0297 C131.073872,18.0297 130.687469,17.7388385 129.981734,16.7394 C129.359923,15.8307231 128.939819,15.0674769 128.368557,14.0860846 L128.284471,14.0860846 C127.830831,14.8130615 127.125097,16.0306462 126.049646,17.9387615 L123.730898,17.9387615 C125.125517,15.5763077 126.33544,13.7044615 126.856153,12.8867231 C126.234504,11.8690615 125.881637,11.2692923 125.243139,10.3425692 C124.856736,9.77924615 124.487018,9.61559231 124.167688,9.61559231 L124.167688,8.10732308 C124.487018,8.0891 124.739113,8.07105385 125.024744,8.07105385 C125.948873,8.07105385 126.33544,8.2708 127.024325,9.32490769 C127.56205,10.1608692 127.914918,10.7786846 128.385407,11.5601538 L128.46933,11.5601538 C128.771811,11.0148769 129.511245,9.79729231 130.384988,8.10732308 L132.670363,8.10732308 C131.578062,10.0517077 130.384988,11.9780462 129.914498,12.7232462" id="Fill-17"></path>
      <path d="M2.42197417,1.36053846 C2.42197417,2.0608 1.8971722,2.62836923 1.24967651,2.62836923 C0.602180812,2.62836923 0.0773788438,2.0608 0.0773788438,1.36053846 C0.0773788438,0.660276923 0.602180812,0.0927076923 1.24967651,0.0927076923 C1.8971722,0.0927076923 2.42197417,0.660276923 2.42197417,1.36053846" id="Fill-18"></path>
      <path d="M14.145278,1.36053846 C14.145278,2.0608 13.6203124,2.62836923 12.9729803,2.62836923 C12.3254846,2.62836923 11.8006827,2.0608 11.8006827,1.36053846 C11.8006827,0.660276923 12.3254846,0.0927076923 12.9729803,0.0927076923 C13.6203124,0.0927076923 14.145278,0.660276923 14.145278,1.36053846" id="Fill-19"></path>
      <path d="M2.42197417,6.43203846 C2.42197417,7.13212308 1.8971722,7.69986923 1.24967651,7.69986923 C0.602180812,7.69986923 0.0773788438,7.13212308 0.0773788438,6.43203846 C0.0773788438,5.73177692 0.602180812,5.16403077 1.24967651,5.16403077 C1.8971722,5.16403077 2.42197417,5.73177692 2.42197417,6.43203846" id="Fill-20"></path>
      <path d="M10.628385,6.43203846 C10.628385,7.13212308 10.1034194,7.69986923 9.45592374,7.69986923 C8.80842804,7.69986923 8.28362608,7.13212308 8.28362608,6.43203846 C8.28362608,5.73177692 8.80842804,5.16403077 9.45592374,5.16403077 C10.1034194,5.16403077 10.628385,5.73177692 10.628385,6.43203846" id="Fill-21"></path>
      <path d="M8.28362608,11.5033615 C8.28362608,12.2036231 7.75866052,12.7711923 7.11116482,12.7711923 C6.46366913,12.7711923 5.93886716,12.2036231 5.93886716,11.5033615 C5.93886716,10.8031 6.46366913,10.2355308 7.11116482,10.2355308 C7.75866052,10.2355308 8.28362608,10.8031 8.28362608,11.5033615" id="Fill-22"></path>
      <path d="M8.28362608,21.6463615 C8.28362608,22.3464462 7.75866052,22.9141923 7.11116482,22.9141923 C6.46366913,22.9141923 5.93886716,22.3464462 5.93886716,21.6463615 C5.93886716,20.9461 6.46366913,20.3783538 7.11116482,20.3783538 C7.75866052,20.3783538 8.28362608,20.9461 8.28362608,21.6463615" id="Fill-23"></path>
      <path d="M8.28362608,1.36053846 C8.28362608,2.0608 7.75866052,2.62836923 7.11116482,2.62836923 C6.46366913,2.62836923 5.93886716,2.0608 5.93886716,1.36053846 C5.93886716,0.660276923 6.46366913,0.0927076923 7.11116482,0.0927076923 C7.75866052,0.0927076923 8.28362608,0.660276923 8.28362608,1.36053846" id="Fill-24"></path>
      <path d="M2.42197417,11.5033615 C2.42197417,12.2036231 1.8971722,12.7711923 1.24967651,12.7711923 C0.602180812,12.7711923 0.0773788438,12.2036231 0.0773788438,11.5033615 C0.0773788438,10.8031 0.602180812,10.2355308 1.24967651,10.2355308 C1.8971722,10.2355308 2.42197417,10.8031 2.42197417,11.5033615" id="Fill-25"></path>
      <path d="M2.42197417,16.5748615 C2.42197417,17.2751231 1.8971722,17.8426923 1.24967651,17.8426923 C0.602180812,17.8426923 0.0773788438,17.2751231 0.0773788438,16.5748615 C0.0773788438,15.8746 0.602180812,15.3070308 1.24967651,15.3070308 C1.8971722,15.3070308 2.42197417,15.8746 2.42197417,16.5748615" id="Fill-26"></path>
      <path d="M11.8006827,16.5748615 C11.8006827,17.2751231 11.2757171,17.8426923 10.628385,17.8426923 C9.98072571,17.8426923 9.45592374,17.2751231 9.45592374,16.5748615 C9.45592374,15.8746 9.98072571,15.3070308 10.628385,15.3070308 C11.2757171,15.3070308 11.8006827,15.8746 11.8006827,16.5748615" id="Fill-27"></path>
      <path d="M2.42197417,21.6463615 C2.42197417,22.3464462 1.8971722,22.9141923 1.24967651,22.9141923 C0.602180812,22.9141923 0.0773788438,22.3464462 0.0773788438,21.6463615 C0.0773788438,20.9461 0.602180812,20.3783538 1.24967651,20.3783538 C1.8971722,20.3783538 2.42197417,20.9461 2.42197417,21.6463615" id="Fill-28"></path>
      <path d="M16.4898733,21.6463615 C16.4898733,22.3464462 15.9650713,22.9141923 15.3175756,22.9141923 C14.67008,22.9141923 14.145278,22.3464462 14.145278,21.6463615 C14.145278,20.9461 14.67008,20.3783538 15.3175756,20.3783538 C15.9650713,20.3783538 16.4898733,20.9461 16.4898733,21.6463615" id="Fill-29"></path>
      <path d="M16.4898733,11.5033615 C16.4898733,12.2036231 15.9650713,12.7711923 15.3175756,12.7711923 C14.67008,12.7711923 14.145278,12.2036231 14.145278,11.5033615 C14.145278,10.8031 14.67008,10.2355308 15.3175756,10.2355308 C15.9650713,10.2355308 16.4898733,10.8031 16.4898733,11.5033615" id="Fill-30"></path>
      <path d="M21.1792276,16.5748615 C21.1792276,17.2751231 20.654262,17.8426923 20.0069299,17.8426923 C19.3594342,17.8426923 18.8346322,17.2751231 18.8346322,16.5748615 C18.8346322,15.8746 19.3594342,15.3070308 20.0069299,15.3070308 C20.654262,15.3070308 21.1792276,15.8746 21.1792276,16.5748615" id="Fill-31"></path>
      <path d="M18.8531181,6.43203846 C18.8531181,7.13212308 18.3283161,7.69986923 17.6808204,7.69986923 C17.0334883,7.69986923 16.5085228,7.13212308 16.5085228,6.43203846 C16.5085228,5.73177692 17.0334883,5.16403077 17.6808204,5.16403077 C18.3283161,5.16403077 18.8531181,5.73177692 18.8531181,6.43203846" id="Fill-32"></path>
      </g>
      </g>
      </g>
      </g>
      </svg>
    </a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right social-navigation" role="navigation" aria-label="Navegación social">
      <li class="item-github"><a href="//github.com/mxabierto" target="_blank">Github</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li>
      <a aria-label="Ir al catalogo de datos" title="Ir al catalogo de datos" href="http://busca.datos.gob.mx">Datos</a>
      </li>
      <li>
      <a aria-label="Conoce las herramientas con datos" title="Conoce las herramientas con datos" href="//datos.gob.mx/herramientas">Herramientas</a>
      </li>
      <li>
      <a aria-label="Conoce el impacto de los datos" title="Conoce el impacto de los datos" href="//datos.gob.mx/impacto">Impacto</a>
      </li>
      <li>
      <a aria-label="Ir a la guía de datos" title="Ir a la guía de datos" href="//datos.gob.mx/guia">Guía</a>
      </li>
      <li>
      <a aria-label="Conoce más sobre este sitio" title="Conoce más sobre este sitio" href="//datos.gob.mx/acerca">Acerca</a>
      </li>
    </ul>
  </div>
</div>
</nav>
</header>

<header class="header--pageheader">
  <div class="pageheader__bground"></div>
  <div class="pageheader__home__cap"></div>
  <div class="pageheader__wrap">
    <div class="branding">
      {{#if featureToggle.showDatlas }}
        {{#link-to "index"}}
          <img src="assets/img/branding/datlas-white.svg" alt="Datlas" class="branding__logo">
        {{/link-to}}
      {{else}}
        {{#link-to "index" class="pageheader__title"}}
          {{t 'pageheader.alternative_title' }}
        {{/link-to}}
      {{/if}}
    </div>
    <nav class="pageheader__nav">
      <div class="togglemod togglemod--languages">
        <p {{bind-attr class=":toggle__label__text isDefaultLocale::toggle__label--is--active"}}>
          {{otherLanguage}}
        </p>
        {{input
          type='checkbox'
          id='toggle--languages'
          class='toggle toggle--languages'
          checked=isDefaultLocale
          data-language-toggle=''
          }}
        <label class="toggle__label" for="toggle--languages"></label>
        <p {{bind-attr class=":toggle__label__text isDefaultLocale:toggle__label--is--active"}}>
          {{defaultLanguage}}
        </p>
      </div>
    </nav>
    <div class="pageheader__menu">
      <ul>
        <li>
          {{#link-to "rankings"
            class="pageheader__menu__item"
            activeClass="pageheader__menu__item--active"
            data-side-search-link='about'
          }}
            {{ t 'pageheader.rankings' }}
          {{/link-to}}
        </li>
        <li>
          {{#link-to "about.project-description"
            class="pageheader__menu__item"
            activeClass="pageheader__menu__item--active"
            data-side-search-link='about'
          }}
            {{ t 'pageheader.about' }}
          {{/link-to}}
        </li>
        <li>
          {{#link-to "about.glossary"
            class="pageheader__menu__item"
            activeClass="pageheader__menu__item--active"
            data-side-search-link='glossary'
          }}
            {{ t 'general.glossary' }}
          {{/link-to}}
        </li>
        <li>
          {{#if featureToggle.show_downloads }}
            {{#link-to "downloads"
              current-when="downloads"
              class="pageheader__menu__item"
              activeClass="pageheader__menu__item--active"
              data-side-search-link='data'
            }}
              {{ t 'pageheader.download' }}
            {{/link-to}}
          {{/if}}
        </li>
      </ul>
    </div>
  </div>
</header>

{{#if isHomePageRoute }}
  <header {{bind-attr class=":header--pageheader isHomePageRoute:header--pageheader--home"}}>
    <div class="pageheader__bground" style={{heroImageStyle}}></div>
    <div class="pageheader__home__cap"></div>
    <div class="pageheader__wrap">
        {{!-- special display of introductory text on index --}}
        <div class="pageheader__homeintro">
          <header class="index__header__wrap">
            <div class="stream__header index__header">
              <h1 class="stream__head index__head">{{ t 'index.header_h1' }}</h1>
              <h2 class="stream__subhead">{{ t 'index.header_subhead' }}</h2>
            </div>
          </header>

          <form class="search__wrap">
            <div class="search__field__wrap">
              {{input
                class="search"
                placeholder=( t 'pageheader.search_placeholder' )
                value=query
                enter='query'
                target=controllers.search
                required='required'
              }}
              <button class="search__reset fa fa-close" type="reset"></button>
            </div>
            <input class="search__submit btn btn--standalone btn--search"
              type="submit"
              value="{{ t 'pageheader.search_link' }}"
              {{action 'query' query target=controllers.search}}
            >
          </form>
        </div>
    </div>
  </header>
{{/if}}
