{{#if locationResults.length}}
  <h3 class="results__header">{{t 'search.results_locations'}}</h3>
  <ul class="search__results">
    {{#each result in locationResults}}
      {{search-result
        result=result
        tagName="li"
        class="search__result"
      }}
    {{/each}}
  </ul>
{{/if}}
{{#if productResults.length}}
  <h3 class="results__header">{{t 'search.results_products'}}</h3>
  <ul class="search__results">
    {{#each result in productResults}}
      {{search-result
        result=result
        tagName="li"
        class="search__result"
      }}
    {{/each}}
  </ul>
{{/if}}
{{#if industryResults.length}}
  <h3 class="results__header">{{t 'search.results_industries'}}</h3>
  <ul class="search__results">
    {{#each result in industryResults}}
      {{search-result
        result=result
        tagName="li"
        class="search__result"
      }}
    {{/each}}
  </ul>
{{/if}}
<p class='search__copy search__copy--postscript'>{{t 'search.didnt_find'}}</p>

