<div class="container-fluid px-md-x10 my-md-5 py-md-5 my-sm-1 py-sm-1">
  <header class="stream__header">
    <h2 class="title_yellow d-inline" style="font-size: 6rem;">{{ t 'downloads.head' }}</h2>
  </header>

  <section class="stream__section">
    <h3 class="section__head">{{ t 'about.downloads.explanation.title' }}</h3>
    <table class="table table-striped table-hover dt-responsive nowrap text-white datlas" style="width:100%">
      <tr class="table__row">
        <th class="table__header downloads__table__header"></th>
        <th class="table__header downloads__table__header"></th>
      </tr>
      <tr class="table__row table__row--body">
        <td class="table__cell">
          {{ t 'about.downloads.explanation.p1' }}
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.methodology}}" class="link--stream link--stream--inline--small">
            {{ t 'downloads.cta_download' }}
          </a>
        </td>
      </tr>
    </table>
    {{#if featureToggle.isColombia }}
      <h3 class="section__head">{{ t 'downloads.list_of_cities.header' }}</h3>
      <table class="table table-striped table-hover dt-responsive nowrap text-white datlas" style="width:100%">
        <tr class="table__row">
          <th class="table__header downloads__table__header"></th>
          <th class="table__header downloads__table__header"></th>
        </tr>
        <tr class="table__row table__row--body">
          <td class="table__cell">{{ t 'about.downloads.locations' }}</td>
          <td class="table__cell">
            <a href="{{downloadFiles.location_table}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
          </td>
        </tr>
      </table>
    {{/if}}
  </section>


  <section class="stream__section">
    <h3 class="section__head">{{ t 'downloads.trade_head' }}</h3>
    <p class="section__p">{{ t 'downloads.trade_copy' }}</p>
    <table class="table table-striped table-hover dt-responsive nowrap text-white datlas" style="width:100%">
      <tr class="table__row">
        <th class="table__header downloads__table__header"></th>
        <th class="table__header downloads__table__header">{{ t 'downloads.thead_national' }}</th>
        <th class="table__header downloads__table__header">{{ t 'downloads.thead_departments' }}</th>
        <th class="table__header downloads__table__header">{{ t 'downloads.thead_met' }}</th>
        {{#if featureToggle.showMunis}}
        <th class="table__header downloads__table__header">{{ t 'downloads.thead_muni' }}</th>
        {{/if}}
      </tr>
      <tr class="table__row table__row--body">
        <td class="table__cell">{{ t 'downloads.trade_row_1' yearRange=yearRange}}</td>
        <td class="table__cell">
          <a href="{{downloadFiles.products_country}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.products_department}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.products_msa}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        {{#if featureToggle.showMunis}}
        <td class="table__cell">
          <a href="{{downloadFiles.products_municipality}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        {{/if}}
      </tr>
      <tr class="table__row table__row--body">
        <td class="table__cell">{{ t 'downloads.trade_row_2' yearRange=yearRange}}</td>
        <td class="table__cell">
          <a href="{{downloadFiles.products_rcpy_country}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.products_rcpy_department}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.products_rcpy_msa}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        {{#if featureToggle.showMunis}}
        <td class="table__cell">
          <a href="{{downloadFiles.products_rcpy_municipality}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        {{/if}}
      </tr>
    </table>
  </section>

  {{#if featureToggle.showIndustries}}
  <section class="stream__section">
    <h3 class="section__head">{{ t 'downloads.industry_head' }}</h3>
    <p class="section__p">{{ t 'downloads.industry_copy' }}</p>
    <table class="table table-striped table-hover dt-responsive nowrap text-white datlas" style="width:100%">
      <tr class="table__row">
        <th class="table__header downloads__table__header"></th>
        <th class="table__header downloads__table__header">{{ t 'downloads.thead_national' }}</th>
        <th class="table__header downloads__table__header">{{ t 'downloads.thead_departments' }}</th>
        <th class="table__header downloads__table__header">{{ t 'downloads.thead_met' }}</th>
        <th class="table__header downloads__table__header">{{ t 'downloads.thead_muni' }}</th>
      </tr>
      <tr class="table__row table__row--body">
        <td class="table__cell">{{ t 'downloads.industry_row_1' yearRange=yearRange}}</td>
        <td class="table__cell">
          <a href="{{downloadFiles.industries_country}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.industries_department}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.industries_msa}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.industries_municipality}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
      </tr>
    </table>
  </section>
  {{/if}}

  <section class="stream__section">
    <h3 class="section__head">{{ t 'downloads.rural_head' }}</h3>
    <p class="section__p">{{ t 'downloads.rural_copy' }}</p>
    <table class="table table-striped table-hover dt-responsive nowrap text-white datlas" style="width:100%">
      <tr class="table__row">
        <th class="table__header downloads__table__header"></th>
        <th class="table__header downloads__table__header">{{ t 'downloads.thead_national' }}</th>
        <th class="table__header downloads__table__header">{{ t 'downloads.thead_departments' }}</th>
        <th class="table__header downloads__table__header">{{ t 'downloads.thead_muni' }}</th>
      </tr>
      <tr class="table__row table__row--body">
        <td class="table__cell">{{ t 'downloads.rural_agproduct' yearRange=yearRange}}</td>
        <td class="table__cell">
          <a href="{{downloadFiles.rural_agproduct_country}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.rural_agproduct_department}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.rural_agproduct_municipality}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
      </tr>
      <tr class="table__row table__row--body">
        <td class="table__cell">{{ t 'downloads.rural_nonag' yearRange=yearRange}}</td>
        <td class="table__cell">
          <a href="{{downloadFiles.rural_nonag_country}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.rural_nonag_department}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.rural_nonag_municipality}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
      </tr>
      <tr class="table__row table__row--body">
        <td class="table__cell">{{ t 'downloads.rural_landuse' yearRange=yearRange}}</td>
        <td class="table__cell">
          <a href="{{downloadFiles.rural_landuse_country}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.rural_landuse_department}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.rural_landuse_municipality}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
      </tr>
      <tr class="table__row table__row--body">
        <td class="table__cell">{{ t 'downloads.rural_livestock' yearRange=yearRange}}</td>
        <td class="table__cell">
          <a href="{{downloadFiles.rural_livestock_country}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.rural_livestock_department}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.rural_livestock_municipality}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
      </tr>
      <tr class="table__row table__row--body">
        <td class="table__cell">{{ t 'downloads.rural_farmtype' yearRange=yearRange}}</td>
        <td class="table__cell">
          <a href="{{downloadFiles.rural_farmtype_country}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.rural_farmtype_department}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.rural_farmtype_municipality}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
      </tr>
      <tr class="table__row table__row--body">
        <td class="table__cell">{{ t 'downloads.rural_farmsize' yearRange=yearRange}}</td>
        <td class="table__cell">
          <a href="{{downloadFiles.rural_farmsize_country}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.rural_farmsize_department}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.rural_farmsize_municipality}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
      </tr>
    </table>
  </section>


  {{#if featureToggle.showOccupations}}
  <section class="stream__section">
    <h3 class="section__head">{{ t 'downloads.occupations_head' }}</h3>
    <p class="section__p">{{ t 'downloads.occupations_copy' }}</p>
    <table class="table table-striped table-hover dt-responsive nowrap text-white datlas" style="width:100%">
      <tr class="table__row">
        <th class="table__header downloads__table__header"></th>
        <th class="table__header downloads__table__header">{{ t 'downloads.thead_national' }}</th>
        <th class="table__header downloads__table__header">{{ t 'downloads.thead_departments' }}</th>
        <th class="table__header downloads__table__header">{{ t 'downloads.thead_met' }}</th>
        <th class="table__header downloads__table__header">{{ t 'downloads.thead_muni' }}</th>
      </tr>
      <tr class="table__row table__row--body">
        <td class="table__cell">{{ t 'downloads.occupations_row_1' }}</td>
        <td class="table__cell">
          <a href="{{downloadFiles.occupations}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">{{ t 'downloads.cta_na' }}</td>
        <td class="table__cell">{{ t 'downloads.cta_na' }}</td>
        <td class="table__cell">{{ t 'downloads.cta_na' }}</td>
      </tr>
    </table>
  </section>
  {{/if}}

  {{#if featureToggle.showCustomDemographicDownloads}}
  <section class="stream__section">
    <h3 class="section__head">{{ t 'downloads.other_head' }}</h3>
    <p class="section__p">{{ t 'downloads.other_copy' }}</p>
    <table class="table table-striped table-hover dt-responsive nowrap text-white datlas" style="width:100%">
      <tr class="table__row">
        <th class="table__header downloads__table__header"></th>
        <th class="table__header downloads__table__header">{{ t 'downloads.thead_national' }}</th>
        <th class="table__header downloads__table__header">{{ t 'downloads.thead_departments' }}</th>
        <th class="table__header downloads__table__header">{{ t 'downloads.thead_met' }}</th>
        <th class="table__header downloads__table__header">{{ t 'downloads.thead_muni' }}</th>
      </tr>
      <tr class="table__row table__row--body">
        <td class="table__cell">{{ t 'downloads.other_row_1' }}</td>
        <td class="table__cell">
          <a href="{{downloadFiles.demographics_country}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.demographics_department}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.demographics_msa}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
        <td class="table__cell">
          <a href="{{downloadFiles.demographics_municipality}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
      </tr>
    </table>
  </section>
  {{/if}}
  {{#if featureToggle.showCustomDemographicDownloadsOnlyDept}}
  <section class="stream__section">
    <h3 class="section__head">{{ t 'downloads.other_head' }}</h3>
    <p class="section__p">{{ t 'downloads.other_copy' }}</p>
    <table class="table table-striped table-hover dt-responsive nowrap text-white datlas" style="width:100%">
      <tr class="table__row">
        <th class="table__header downloads__table__header"></th>
        <th class="table__header downloads__table__header">{{ t 'downloads.thead_departments' }}</th>
      </tr>
      <tr class="table__row table__row--body">
        <td class="table__cell">{{ t 'downloads.other_row_1' }}</td>
        <td class="table__cell">
          <a href="{{downloadFiles.demographics_department}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
      </tr>
    </table>
  </section>
  {{/if}}


  <section class="stream__section">
    <h3 class="section__head">{{ t 'downloads.map.header' }}</h3>
    <table class="table table-striped table-hover dt-responsive nowrap text-white datlas" style="width:100%">
      <tr class="table__row">
        <th class="table__header downloads__table__header"></th>
        <th class="table__header downloads__table__header">{{ t 'downloads.thead_national' }}</th>
      </tr>
      <tr class="table__row table__row--body">
        <td class="table__cell">{{ t 'downloads.map.cell' }}</td>
        <td class="table__cell">
          <a href="{{mapURL}}" class="link--stream link--stream--inline--small">{{ t 'downloads.cta_download' }}</a>
        </td>
      </tr>
    </table>
  </section>
</div>