<article class="stream builder">
  <header class="stream__header">
    <img src="assets/img/builder/pentagon-test.svg" class="builder__pentagon">
    <h2 class="stream__head">{{model.name_en}}</h2>
  </header>
  <section class="stream__section">
    <header class="section__header builder__header">
      <h3 class="section__head">{{pageTitle}}</h3>
    </header>
    <div {{bind-attr class=":section__buildermod drawerSettingsIsOpen:buildermod--is--open--settings drawerChangeGraphIsOpen:buildermod--is--open--changegraph"}}>
      <header class="buildermod__header">
        <h4 class="buildermod__head">{{builderModHeader}}</h4>
        <div class="buildermod__tools">
          <div class="buildermod__tool">
            <button class="btn buildermod__tool__btn buildermod__tool__btn--sub"{{action 'zoomIn' }}>
              {{fa-icon "search-plus" classNames="tool__btn__icon"}}
            </button>
            <button class="btn buildermod__tool__btn buildermod__tool__btn--sub"{{action 'zoomOut' }}>
              {{fa-icon "search-minus" classNames="tool__btn__icon"}}
            </button>
            <button class="btn buildermod__tool__btn buildermod__tool__btn--sub">
              {{fa-icon "refresh" classNames="tool__btn__icon"}}
            </button>
          </div>
          <button class="btn buildermod__tool__btn buildermod__tool buildermod__tool--settings" {{action 'toggleDrawerSettings'}}>
            {{fa-icon "plus" classNames="tool__btn__icon"}} Settings
          </button>
          {{#if canChangeVisualization}}
            <button class="btn buildermod__tool__btn buildermod__tool buildermod__tool--changegraph" {{action 'toggleDrawerChangeGraph'}}>
              {{fa-icon "plus" classNames="tool__btn__icon"}} Change graph
            </button>
          {{/if}}
        </div>
      </header>
      <div class="buildermod__vizwrap">
        {{partial "partials/buildermod-drawer-settings"}}
        {{partial "partials/buildermod-drawer-change-graph"}}
        {{partial "partials/buildermod-search"}}
        {{component visualizationComponent
          classNames= 'buildermod__viz'
          elementId='visualization'
          immutableData=immutableData
          data=filteredData
          dataType=source
          varDependent=variable
          varY='complexity'
          varX='distance'
          varRca=rca
        }}
      </div>
      {{partial "partials/buildermod-table"}}
    </div>
  </section>
  <section class="stream__section">
    {{partial "partials/ctas"}}
  </section>
  <section class="stream__section">
    <header class="section__header">
      <h3 class="section__head">More graphs for this location</h3>
      <p class="section__intro">Select a question to see the corresponding graph. If the question has missing parameters (<i class="icon-cidcon_placeholder-1 builder__icon--placeholder"></i>) , you'll fill those in when you click.</p>
    </header>
    {{partial "partials/builder-nav" classNames="tool__btn__icon"}}
  </section>

  <section class="stream__section stream__section--recirc">
    <h3 class="section__head section__head--recirc">Read the profile and complexity analysis for this location</h3>
    <a href="#" class="btn btn--standalone btn--recirc">View now</a>
  </section>
</article>

