<article class="stream builder">
  <header class="stream__header">
    <h2 class="stream__head">{{model.name_en}}</h2>
    <ol class="breadcrumbs">
      <li class="breadcrumb"><a href="#" class="breadcrumb__link">Location</a></li>
      <li class="breadcrumb"><a href="#" class="breadcrumb__link">Colombia</a></li>
      <li class="breadcrumb"><a href="#" class="breadcrumb__link">{{model.name_en}}</a></li>
      <li class="breadcrumb"><a href="#" class="breadcrumb__link">Graph Builder</a></li>
    </ol>
  </header>

    {{#if isProducts }}
      <section class="stream__section">
        <header class="section__header builder__header">
          <h3 class="section__head">What products does {{model.name_en}} export?</h3>
        </header>
        Total Exports (${{format-largenumber totalExports}})
        <div class="section__vizmod builder__graph__wrap">
          {{d3plus-tree-map
            elementID="d3plus-tree"
            data=productsData
            dataType='products'
            varSize='export_value'
          }}
        </div>
      </section>
      <section class="stream__section">
        <div class="section__vizmod builder__graph__wrap">
          {{multiples-graph
            elementId="d3area"
            data=productsData
            varId='name'
            varY='export_value'
            yUnits='$'
          }}
          <p>Note: Only showing top 40 for demo.</p>
        </div>
      </section>
    {{else if isIndustries }}
      <section class="stream__section">
        <header class="section__header builder__header">
          <h3 class="section__head">What industries are in {{model.name_en}}?</h3>
        </header>
        Total Wages (${{format-largenumber totalWages}})
        <div class="section__vizmod builder__graph__wrap">
          {{d3plus-tree-map
            elementID="d3plus-tree"
            data=industriesData
            dataType='industries'
            varSize='wages'
          }}
        </div>
      </section>
      <section class="stream__section">
        <div class="section__vizmod builder__graph__wrap">
          {{multiples-graph
            elementId="d3area"
            data=industriesData
            varY='wages'
            varId='name'
          }}
          <p>Note: Only showing top 40 for demo.</p>
        </div>
      </section>
      <section class="stream__section">
        <div class="section__vizmod builder__graph__wrap">
          {{d3-plus-scatter
            elementId="d3-scatter"
            data=scatterPlot
            varId='name'
            varY='complexity'
            varX='distance'
            varSize='rca'
          }}
        </div>
      </section>
    {{/if}}

  <section class="stream__section">
    <header class="section__header">
      <h3 class="section__head">More graphs for this location</h3>
    </header>
    <p class="section__intro">Select a question to see the corresponding graph. If the question has missing parameters (BLANK) , you'll fill those in when you click.</p>
    {{partial "partials/builder-nav"}}
  </section>

  <section class="stream__section stream__section--recirc">
    <h3 class="section__head section__head--recirc">Read the executive profile and complexity analysis for this location</h3>
    <a href="#" class="btn btn--recirc">View now</a>
  </section>
</article>

