<div class="container-fluid pl-md-x10 pr-md-x10">
  <div class="row">

    <div class="col-sm-12 text-center" style="padding-bottom: 5vh">
      <h1 class="header__nav__title">{{ t 'header_nav.search' }}</h1>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">

      {{#link-to 'search'
        (query-params filter='location')
        class="btn btn-outline-secondary btn-lg btn-block text-uppercase"
        activeClass="active"
        data-side-search-link='locations'
      }}
        {{ t 'search.results_locations' }}
      {{/link-to}}

    </div>

    {{#if featureToggle.showIndustries }}
    <div class="col-sm-12 col-md-6 col-lg-3">

      {{#link-to 'search'
          (query-params filter='industry')
          class="btn btn-outline-secondary btn-lg btn-block text-uppercase"
          activeClass="active"
          data-side-search-link='industries'
        }}
          {{ t 'search.results_industries' }}
        {{/link-to}}

    </div>
    {{/if}}

    <div class="col-sm-12 col-md-6 col-lg-3">

      {{#link-to 'search'
        (query-params filter='product')
        class="btn btn-outline-secondary btn-lg btn-block text-uppercase"
        activeClass="active"
        data-side-search-link='products'
      }}
        {{ t 'search.results_products' }}
      {{/link-to}}

    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">

      {{#link-to 'search'
        (query-params filter='rural')
        class="btn btn-outline-secondary btn-lg btn-block text-uppercase"
        activeClass="active"
        data-side-search-link='locations'
      }}
        {{ t 'search.results_rural' }}
      {{/link-to}}

    </div>

    <div class="col-sm-12 col-md-6 mt-md-5">
      {{#link-to 'search'
        (query-params filter='results_products')
        class="btn btn-outline-secondary btn-lg btn-block text-uppercase"
        activeClass="active"
        data-side-search-link='locations'
      }}
        {{ t 'search.sophistication_path_place' }}
      {{/link-to}}
    </div>

    <div class="col-sm-12 col-md-6 mt-md-5">
      {{#link-to 'search'
        (query-params filter='results_products')
        class="btn btn-outline-secondary btn-lg btn-block text-uppercase"
        activeClass="active"
        data-side-search-link='locations'
      }}
        {{ t 'search.sophistication_path_product' }}
      {{/link-to}}
    </div>

  </div>
</div>