<main class="stream index">
  <article class="stream__article">
    <div class="index__questions__mod">
      <section class="stream__section index__section index__questions__wrap">
        <h3 class="section__head">{{ t 'index.questions_head' }}, {{ t 'index.questions_subhead' }}</h3>
        <ul class="index__topics__list">
          <li class="index__topics__item__wrap">
            <div class="index__topics__item">
              <h4 class="section__subhead">{{ t 'index.location_head' }}</h4>
              {{select-dropdown collection=cities type='location'}}
              <ul>
                <li class="index__questions__item">
                  {{#link-to
                    'location.visualization' locationFirst 'industries' 'treemap' 'employment'(query-params endDate=lastYear startDate=lastYear)
                    data-home-page-location-question='1'
                    class="link--stream index__questions__link"
                  }}
                    {{ t 'index.location_q1' }}
                  {{/link-to}}
                </li>
                <li class="index__questions__item">
                  {{#link-to
                    'location.visualization' locationSecond 'products' 'scatter' 'opportunity' (query-params endDate=lastYear startDate=lastYear)
                    data-home-page-location-question='2'
                    class="link--stream index__questions__link"
                  }}
                    {{ t 'index.location_q2' }}
                  {{/link-to}}
                </li>
                <li class="index__questions__item">
                  See all questions
                </li>
              </ul>
            </div>
          </li>
          <li class="index__topics__item__wrap">
            <div class="index__topics__item">
              <h4 class="section__subhead">{{ t 'index.industry_head' }}</h4>
                {{select-dropdown collection=industries type='industry'}}
              <ul>
                <li class="index__questions__item">
                  {{#link-to
                    'industry.visualization' industryFirst 'departments' 'multiples' 'employment'(query-params endDate=lastYear startDate=firstYear )
                    data-home-page-product-question='1'
                    class="link--stream index__questions__link"
                  }}
                    {{ t 'index.industry_q1' }}
                  {{/link-to}}
                </li>
                <li class="index__questions__item">
                  {{#link-to
                    'industry.visualization' industrySecond 'occupations' 'treemap' 'num_vacancies'(query-params endDate=lastYear startDate=firstYear )
                    data-home-page-product-question='2'
                    class="link--stream index__questions__link"
                  }}
                    {{ t 'index.industry_q2' }}
                  {{/link-to}}
                </li>
                <li class="index__questions__item">
                  See all questions
                </li>
              </ul>

            </div>
          </li>
          <li class="index__topics__item__wrap">
            <div class="index__topics__item">
              <h4 class="section__subhead">{{ t 'index.product_head' }}</h4>
                {{select-dropdown collection=products type='product'}}
              <ul>
                <li class="index__questions__item">
                  {{#link-to
                    'product.visualization' productFirst 'departments' 'geo' 'export_value' (query-params endDate=lastYear startDate=lastYear )
                    data-home-page-industry-question='1'
                    class="link--stream index__questions__link"
                  }}
                    {{ t 'index.product_q1' }}
                  {{/link-to}}
                </li>
                <li class="index__questions__item">
                  {{#link-to
                    'product.visualization' productSecond 'departments' 'multiples' 'import_value'(query-params endDate=lastYear startDate=firstYear )
                    data-home-page-industry-question='2'
                    class="link--stream index__questions__link"
                  }}
                    {{ t 'index.product_q2' }}
                  {{/link-to}}
                </li>
                <li class="index__questions__item">
                  See all questions
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </section>
    </div>
    <section class="stream__section search">
      <h3 class="section__head">Search</h3>
      <form class="search__wrap">
        <div class="search__field__wrap">
          {{input
            class="search"
            placeholder=( t 'pageheader.search_placeholder' )
            value=query
            enter='query'
            required='required'
          }}
          <button class="search__reset fa fa-close" type="reset"></button>
        </div>
        <input class="search__submit btn btn--standalone btn--search" type="submit" value="{{ t 'pageheader.search_link' }}" {{action 'query' query}}>
      </form>
    </section>
    <section class="stream__section recirc">
      <div class="recirc__bground" style="background-image: url(assets/img/hero_images/location/COL.jpg)"></div>
      <div class="recirc__wrap">
        <h3 class="section__head recirc__head">
          {{t 'index.colombia_profile'}}
        </h3>
        {{#link-to
          'location.show' 0
          data-home-page-industry-question='2'
          class="btn btn--standalone btn--stream"
        }}
          {{ t 'pageheader.profile_link' }}
        {{/link-to}}
      </div>
    </section>
  </article>
</main>
