<main>
  <article>

    <div class="container-fluid px-md-x10">

      <!-- P1 -->
      <div class="row px-md-x10 pt-md-x10 mt-sm-5">
        <div class="col-sm-12 col-md-6">
          <h1 class="title_yellow">{{ t 'index.header_h1_p1' }}</h1>
          <h1 class="title_white" style="font-size: 5rem;">{{ t 'index.header_h1_p2' }}</h1>
        </div>
        <div class="col-sm-12 col-md-6">
          <h2 class="text-uppercase text-white mb-5">{{ t 'index.header_subhead' }}</h2>

          <div class="input-group mb-3">
            {{input
              class="form-control search"
              type="text"
              placeholder=( t 'pageheader.search_placeholder' )
              value=query
              enter='query'
              target=controllers.search
              required='required'
              autocomplete='off'
            }}
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" {{action 'query' query target=controllers.search}}>{{ t 'pageheader.search_link' }}</button>
            </div>
          </div>

        </div>
      </div>

      <!-- P2 -->

      <div class="row pt-md-x10 pt-sm-5">
        <div class="col-sm-12">
          <h1 class="title_yellow text-uppercase text-center">{{ t 'index.questions_head_p1' }}</h1>
        </div>
      </div>


    </div>

    <div>
      <!-- P3 -->

      <div class="row mt-5 pt-5 row-without-margin">
        <div class="col-sm-12 col-md-6 px-md-5 d-flex flex-column justify-content-around">

          {{#if showLocations }}
          <div class="row mb-5">
            <div class="col-sx-6 col-md-6">
              <h2 class="section__message_dropbox text-right mb-sm-3">{{ t 'index.location_head' }}</h2>
            </div>
            <div class="col-sx-6 col-md-6">
              {{autocomplete-input-datlas data_search=locationsData type='location' idSelect='location_search'}}
            </div>
          </div>
          {{/if}}

          {{#if showIndustries }}
          <div class="row mb-5">
            <div class="col-sx-6 col-md-6">
              <h2 class="section__message_dropbox text-right mb-sm-3">{{ t 'index.industry_head' }}</h2>
            </div>
            <div class="col-sx-6  col-md-6">
              {{autocomplete-input-datlas data_search=industriesData type='industry' idSelect='industry_search'}}
            </div>
          </div>
          {{/if}}

          {{#if showProducts }}
          <div class="row mb-5">
            <div class="col-sx-6 col-md-6">
              <h2 class="section__message_dropbox text-right mb-sm-3">{{ t 'index.product_head' }}</h2>
            </div>
            <div class="col-sx-6  col-md-6">
              {{autocomplete-input-datlas data_search=productsData type='product' idSelect='product_search'}}
            </div>
          </div>
          {{/if}}

          {{#if showFarmAndLand }}
          <div class="row mb-5">
            <div class="col-sx-6  col-md-6">
              <h2 class="section__message_dropbox text-right mb-sm-3">{{ t 'index.farmandland_head' }}</h2>
            </div>
            <div class="col-sx-6  col-md-6">
              {{autocomplete-input-datlas data_search=ruralData type='rural' idSelect='agproduct_search'}}
            </div>
          </div>
          {{/if}}


        </div>
        <div class="col-sm-12 col-md-6 mt-sm-5 mt-md-0 px-0">


          <div class="section__card-cian-sophistication_route mb-5">
            <h1 class="mb-5"><strong>{{ t 'search.sophistication_path_place'}}</strong></h1>
            <p>
              Conoce más acerca de las oportunidades de desarrollo que tiene el territorio
            </p>
            <button class="btn btn-outline-light mt-5" {{action 'transitionLocationRouteSearch' }}>VER MÁS</button>

          </div>


          <div class="section__card-cian-sophistication_route my-5">
            <h1 class="mb-5"><strong>{{ t 'search.sophistication_path_product'}}</strong></h1>
            <p>
              Conoce más acerca de las oportunidades de desarrollo que tiene el producto
            </p>
            <button type="button" class="btn btn-outline-light mt-5" {{action 'transitionProductRouteSearch' }}>VER MÁS</button>
          </div>


        </div>
      </div>

      <!-- P4 -->


      <div class="row bordered-div-yellow row-without-margin">
        <div class="section__card-yellow col-sm-12 col-md-6 col-lg-3">
          <h1 class="text-uppercase mb-5"><bold>{{ t 'index.present_head' }}</bold></h1>
          <p>{{ t 'index.present_subhead' }}</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 py-5">
          <img src="assets/img/branding/ico_grafico_composicion.svg" class="mx-auto d-block mb-2">
          <h2 class="text-center text-white ">{{ t 'general.treemap' }}</h2>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 py-5">
          <img src="assets/img/branding/ico_grafico_de_areas.svg" class="mx-auto d-block mb-2">
          <h2 class="text-center text-white ">{{ t 'general.multiples' }}</h2>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 py-5">
          <img src="assets/img/branding/ico_mapa_geografico.svg" class="mx-auto d-block mb-2">
          <h2 class="text-center text-white ">{{ t 'general.geo' }}</h2>
        </div>
      </div>

      <div class="row bordered-div-yellow row-without-margin">
        <div class="col-sm-12 col-md-6 col-lg-4 py-5">
          <img src="assets/img/branding/ico_grafico_de_dispersion.svg" class="mx-auto d-block mb-2">
          <h2 class="text-center text-white ">{{ t 'general.scatter' }}</h2>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 py-5">
          <img src="assets/img/branding/ico_mapa_de_sectores.svg" class="mx-auto d-block mb-2">
          <h2 class="text-center text-white ">{{ t 'general.similarity' }}</h2>
        </div>
        <div class="section__card-yellow col-sm-12 col-md-6 col-lg-4">
          <h1 class="text-uppercase mb-5"><bold>{{ t 'index.future_head' }}</bold></h1>
          <p>{{ t 'index.future_subhead' }}</p>
        </div>
      </div>

      <div class="row row-without-margin">
        <div class="col-sm-12 col-md-5 section__card-cian-sophistication_route">
          <h1 class="mb-5 text-uppercase"><strong>{{ t 'index.complexity_head' }}</strong></h1>
          <p>{{ t 'index.complexity_subhead' }}</p>
          <div style="margin-top: 5rem;">
            {{#link-to 'about.glossary'
              data-home-page-product=''
              class="text-uppercase btn btn-outline-light btn-large mt-5"
            }}
              {{ t 'index.complexity_cta' }}
            {{/link-to}}
          </div>
        </div>
        <div class="col-sm-12 col-md-7">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="section__card__profile">
                <h1 class="section__card__wrap__white">{{ t 'index.country_profile_p1' }}</h1>
                <h1 class="section__card__wrap__yellow mt-4">{{ t 'index.country_profile_p2' }}</h1>
                {{#link-to
                  'location.show' 0
                  data-home-page-industry-question='2'
                  class="text-uppercase btn btn-outline-light btn-large mt-5"
                }}
                  {{ t 'pageheader.profile_link' }}
                {{/link-to}}
              </div>

            </div>
            <div class="col-sm-12 col-md-6">
              <img src="assets/img/branding/ico_mapa_colombia.svg" class="mx-sm-auto d-block mb-2" style="height: 70%; margin-top: 4rem;">
            </div>
          </div>
        </div>
      </div>

      {{#if featureToggle.homepage_logos }}
      <section class="stream__section index__featuredin__wrap">
        <ul class="index__featuredin__list" style="margin-bottom: 30px;">
          {{#each logo in featureToggle.homepage_logos}}
          <li class="index__featuredin__item">
          <a href="{{logo.link}}" target="_blank">
            <img src="{{logo.logo}}" style="max-width: {{logo.max-width}};" alt="{{logo.name}}" class="index__featuredin__img">
          </a>
          </li>
          {{/each}}
        </ul>
      </section>
      {{/if}}


    </div>


  </article>
</main>
