<main class="stream index">
  <article class="stream__article">
    <section class="stream__section index__section index__questions__wrap">
      <div class="stream__section__wrap">
        <h3 class="section__head">{{ t 'index.questions_head' }}, {{ t 'index.questions_subhead' }}</h3>
        <ul class="index__topics__list">
          <li class="index__topics__item__wrap">
            <div class="index__topics__item">
              <h4 class="section__subhead">{{ t 'index.location_head' }}</h4>
              {{select-dropdown collection=cities type='location'}}
              <ul>
                <li class="index__questions__item">
                  {{#link-to
                    'location.visualization' locationFirst 'industries' 'treemap' 'employment'(query-params endDate=lastYear startDate=lastYear)
                    data-home-page-location-question='1'
                    class="link--stream index__questions__link"
                  }}
                    {{ t 'index.location_q1' }}
                  {{/link-to}}
                </li>
                <li class="index__questions__item">
                  {{#link-to
                    'location.visualization' locationSecond 'products' 'scatter' 'opportunity' (query-params endDate=lastYear startDate=lastYear)
                    data-home-page-location-question='2'
                    class="link--stream index__questions__link"
                  }}
                    {{ t 'index.location_q2' }}
                  {{/link-to}}
                </li>
                <li class="index__questions__item">
                  See all questions
                </li>
              </ul>
            </div>
          </li>
          <li class="index__topics__item__wrap">
            <div class="index__topics__item">
              <h4 class="section__subhead">{{ t 'index.industry_head' }}</h4>
                {{select-dropdown collection=industries type='industry'}}
              <ul>
                <li class="index__questions__item">
                  {{#link-to
                    'industry.visualization' industryFirst 'departments' 'multiples' 'employment'(query-params endDate=lastYear startDate=firstYear )
                    data-home-page-product-question='1'
                    class="link--stream index__questions__link"
                  }}
                    {{ t 'index.industry_q1' }}
                  {{/link-to}}
                </li>
                <li class="index__questions__item">
                  {{#link-to
                    'industry.visualization' industrySecond 'occupations' 'treemap' 'num_vacancies'(query-params endDate=lastYear startDate=firstYear )
                    data-home-page-product-question='2'
                    class="link--stream index__questions__link"
                  }}
                    {{ t 'index.industry_q2' }}
                  {{/link-to}}
                </li>
                <li class="index__questions__item">
                  See all questions
                </li>
              </ul>
            </div>
          </li>
          <li class="index__topics__item__wrap">
            <div class="index__topics__item">
              <h4 class="section__subhead">{{ t 'index.product_head' }}</h4>
                {{select-dropdown collection=products type='product'}}
              <ul>
                <li class="index__questions__item">
                  {{#link-to
                    'product.visualization' productFirst 'departments' 'geo' 'export_value' (query-params endDate=lastYear startDate=lastYear )
                    data-home-page-industry-question='1'
                    class="link--stream index__questions__link"
                  }}
                    {{ t 'index.product_q1' }}
                  {{/link-to}}
                </li>
                <li class="index__questions__item">
                  {{#link-to
                    'product.visualization' productSecond 'departments' 'multiples' 'import_value'(query-params endDate=lastYear startDate=firstYear )
                    data-home-page-industry-question='2'
                    class="link--stream index__questions__link"
                  }}
                    {{ t 'index.product_q2' }}
                  {{/link-to}}
                </li>
                <li class="index__questions__item">
                  See all questions
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="stream__section index__section onboarding">
      <div class="stream__section__wrap">
        <div class="column__container">
          <div class="column__6">
            <h3 class="section__head">Charting the present</h3>
            <ul class="onboarding--glyphs">
              <li>
                <i class="icon-cidcon_treemap onboarding--glyphs--icon"></i>
                <h6>Treemap</h6>
              </li>
              <li>
                <i class="icon-cidcon_multiples onboarding--glyphs--icon"></i>
                <h6>Area Chart</h6>
              </li>
              <li>
                <i class="icon-cidcon_geo onboarding--glyphs--icon"></i>
                <h6>Map</h6>
              </li>
            </ul>
            <p>Use our treemaps, charts, and maps to break down your department, city or municipality's exports and employment.</p>
          </div>
          <div class="column__6">
            <h3 class="section__head">Mapping the future</h3>
            <ul class="onboarding--glyphs">
              <li>
                <i class="icon-cidcon_scatter onboarding--glyphs--icon"></i>
                <h6>Scatterplot</h6>
              </li>
              <li>
                <i class="icon-cidcon_similarity onboarding--glyphs--icon"></i>
                <h6>Network</h6>
              </li>
            </ul>
            <p>Scatterplots and network diagrams help find the untapped markets best suited to your location.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="stream__section index__section complexity">
      <div class="stream__section__wrap">
        <div class="column__container">
          <div class="column__3">
            <h3 class="section__head">The complexity advantage</h3>
          </div>
          <div class="column__9">
            <p class="section__p">Countries that export complex products, which require a lot of knowledge, grow faster than those that export simpler products. Using the methods of measuring and visualizing economic complexity developed by us, Datlas helps to explore the production and export possibilities of every city and department in Colombia.</p>

            {{#link-to 'about.glossary'
              data-home-page-product=''
              class="btn btn--standalone btn--stream index__complexity__cta"
            }}
              {{ t 'index.complexity_cta' }}
            {{/link-to}}

          </div>
        </div>
      </div>
    </section>
    <section class="stream__section index__section recirc">
      <div class="recirc__wrap stream__section__wrap">
        <h3 class="section__head recirc__head">
          {{t 'index.colombia_profile'}}
        </h3>
        {{#link-to
          'location.show' 0
          data-home-page-industry-question='2'
          class="btn btn--standalone btn--stream"
        }}
          {{ t 'pageheader.profile_link' }}
        {{/link-to}}
      </div>
    </section>
  </article>
</main>
