<article class="profile">
  <img src="profile__header--img" class="">
  <header class="profile__header">
    <h2 class="profile__head">{{model.name}}</h2>
  </header>
  <section class="profile__section">
    <header class="section__header">
      <h3 class="section__head">Overview</h3>
    </header>
    <ul class="section__ul section__ul--takeaways">
      <li class="section__li section__li--takeaway">GDP grew {{model.gdpGrowth}}% per year from 2009–2013</li>
      <li class="section__li section__li--takeaway">{{model.name}} has the 9th highest GDP per capita at {{model.gdp}}</li>
      <li class="section__li section__li--takeaway">The population is {{model.population}}, making {{model.name}} the 5th largest department</li>
    </ul>
    <table class="section__table--takeaways">
      <tr class="section__table__row section__table__row--header">
        <th class="section__table__header">All 32 departments</th>
        <th class="section__table__header">Value</th>
        <th class="section__table__header">Growth, annual (2009-2013)</th>
      </tr>
      <tr class="section__table__row section__table__row--body">
        <td class="section__table__datum">GDP</td>
        <td class="section__table__datum">dot plot</td>
        <td class="section__table__datum">$8.2M</td>
        <td class="section__table__datum">line chart + 2.4%</td>
      </tr>
    </table>
  </section>
  <section class="profile__section">
    <header class="section__header">
      <h3 class="section__head">Exports and imports</h3>
    </header>
    <ul class="section__ul section__ul--takeaways">
      <li class="section__li section__li--takeaway">Atlántico exported USD $1.1B in 2013, 3% of Colombia's total exports</li>
      <li class="section__li section__li--takeaway">Atlántico's main export partners in 2013 were the United States, China, and Venezuela</li>
      <li class="section__li section__li--takeaway">Atlántico's main exports are metals, chemical products, and textiles</li>
    </ul>
    <table class="section__table--takeaways">
      <tr class="section__table__row section__table__row--header">
        <th class="section__table__header">All 32 departments</th>
        <th class="section__table__header">Value</th>
        <th class="section__table__header">Growth, annual (2009-2013)</th>
      </tr>
      <tr class="section__table__row section__table__row--body">
        <td class="section__table__datum">GDP</td>
        <td class="section__table__datum">dot plot</td>
        <td class="section__table__datum">$8.2M</td>
        <td class="section__table__datum">line chart + 2.4%</td>
      </tr>
    </table>
  </section>
</article>