<header class="stream__header">
  <h2 class="stream__head">{{ t 'rankings.pagetitle' }}</h2>
</header>

<section class="stream__section">
	<p class="section__p">
		{{ t 'rankings.intro.p' }}
	</p>
</section>

<section class="stream__section">
	<h3 class="section__head">{{ t 'rankings.section.departments' }}</h3>
	{{component 'graphbuilder-table'
	  data=model.department
	  source='rankings'
	  sortby='eci'
	}}
</section>

<section class="stream__section">
	<h3 class="section__head">{{ t 'rankings.section.cities' }}</h3>
	{{component 'graphbuilder-table'
	  data=model.msa
	  source='rankings'
	  sortby='eci'
	}}
</section>