<header class="stream__header">
  <h2 class="stream__head">{{ pageTitle }}</h2>
</header>

<section class="stream__section">
	<p class="section__p">
		{{ t 'rankings.intro.p' }}
	</p>
</section>

<section class="stream__section">
	<h3 class="section__head">{{ t 'rankings.section.departments' }}</h3>
  {{component 'table-download'
    name=sectionDepartments
    data=model.departments
    source='rankings'
    pageTitle=pageTitle
  }}
	{{component 'graphbuilder-table'
	  data=model.departments
	  source='rankings'
	}}
</section>

{{#if featureToggle.showCities }}
  <section class="stream__section">
    <h3 class="section__head">{{ t 'rankings.section.cities' }}</h3>
    {{component 'table-download'
      name=sectionCities
      data=model.msas
      source='rankings'
      pageTitle=pageTitle
    }}
    {{component 'graphbuilder-table'
      data=model.msas
      source='rankings'
    }}
  </section>
{{/if}}
