<div class="container-fluid px-md-x10 py-5 my-5">

  {{#if filter}}

  <div class="row h-100">

    <div class="col-sm-12 col-md-6 my-auto">
      <h1 class="text-uppercase seach__placeholder__title">{{ t 'pageheader.search_placeholder.header' }}</h1>
      <h1 class="text-uppercase seach__placeholder__title">{{t placeHolderText}}</h1>
    </div>

    <div class="col-sm-12 col-md-6 my-auto">

      <div class="row">

        <div class="col-sm-12 col-md-8 my-auto mt-sm-5">
          <p class="text-light">{{t 'search.message.p1' }}</p>
          <p class="text-light my-5">{{t 'search.message.p2' }}</p>
        </div>
        
        <div class="col-sm-12 col-md-4 my-auto text-center mt-sm-5">

          <a href="" data-toggle="modal" data-target="#modalHelp">
            <img src="assets/img/general/ico_questions.svg" class="img-fluid">
          </a>



          <div class="modal fade" id="modalHelp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  
                  <div class="row h-100 px-4">
                    <div class="col-sm-12 col-md-6 my-auto text-left">
                      <h2 class="modal-title title_yellow mb-4" id="exampleModalCenterTitle">{{ t 'search.modal.title' }}</h2>
                      <p class="text-white">{{ t 'search.modal.p1' }}</p>
                      <a target="_blank" href="https://clasificaciones.dane.gov.co/ciiu4-0/ciiu4_dispone">https://clasificaciones.dane.gov.co/ciiu4-0/ciiu4_dispone</a>
                    </div>
                    <div class="col-sm-12 col-md-6 my-auto">
                      <img src="assets/img/general/illustracion_2.svg" class="img-fluid">
                    </div>
                  </div>

                </div>
                <div class="modal-footer">

                  <div class="col text-center mb-4">
                    <button type="button" class="btn btn-outline-secondary text-uppercase" data-dismiss="modal">{{ t 'search.modal.close' }}</button>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>


          
        </div>

        <div class="col-sm-12 mt-5">
          {{autocomplete-input-datlas data_search=modelData type=filter idSelect='search_select'}}
        </div>

      </div>

    </div>

  </div>
  {{/if}}

  {{#if query}}

    {{#if filter}}
    {{else}}
      {{#if landuseResults.length}}
        <h3 class="section__head results__subhead">{{t 'search.results_landuses'}}</h3>
        <ul class="results__list">
          {{#each result in landuseResults}}
            {{search-result
              result=result
              tagName="li"
              class="results__item"
              levelOnly=true
            }}
          {{/each}}
        </ul>
      {{/if}}
      {{#if locationResults.length}}
        <h3 class="section__head results__subhead">{{t 'search.results_locations'}}</h3>
        <ul class="results__list">
          {{#each result in locationResults}}
            {{search-result
              result=result
              tagName="li"
              class="results__item"
              metaData=metaData
              isLocation="True"
            }}
          {{/each}}
        </ul>
      {{/if}}
      {{#if productResults.length}}
        <h3 class="section__head results__subhead">{{t 'search.results_products'}}</h3>
        <ul class="results__list">
          {{#each result in productResults}}
            {{search-result
              result=result
              tagName="li"
              class="results__item"
            }}
          {{/each}}
        </ul>
      {{/if}}
      {{#if agproductResults.length}}
        <h3 class="section__head results__subhead">{{t 'search.results_agproducts'}}</h3>
        <ul class="results__list">
          {{#each result in agproductResults}}
            {{search-result
              result=result
              tagName="li"
              class="results__item"
              levelOnly=true
            }}
          {{/each}}
        </ul>
      {{/if}}
      {{#if nonagResults.length}}
        <h3 class="section__head results__subhead">{{t 'search.results_nonag'}}</h3>
        <ul class="results__list">
          {{#each result in nonagResults}}
            {{search-result
              result=result
              tagName="li"
              class="results__item"
              levelOnly=true
            }}
          {{/each}}
        </ul>
      {{/if}}
      {{#if livestockResults.length}}
        <h3 class="section__head results__subhead">{{t 'search.results_livestock'}}</h3>
        <ul class="results__list">
          {{#each result in livestockResults}}
            {{search-result
              result=result
              tagName="li"
              class="results__item"
              levelOnly=true
            }}
          {{/each}}
        </ul>
      {{/if}}
      {{#if industryResults.length}}
        <h3 class="section__head results__subhead">{{t 'search.results_industries'}}</h3>
        <ul class="results__list">
          {{#each result in industryResults}}
            {{search-result
              result=result
              tagName="li"
              class="results__item"
            }}
          {{/each}}
        </ul>
      {{/if}}

    {{/if}}

  {{/if}}

</div>
