<article class="stream search">
  <header class="search__header">
  <h2 class="search__header__head">{{t 'search.header'}}</h2>
  </header>
  <section class="search__section">
    <p class='search__copy search__copy--intro'>{{searchCopy}}</p>
    <form class="search__wrap">
      {{input
        class="search__field"
        placeholder=placeholder
        value=search
        enter='search'
        data-search-input=''
      }}
      <input class="btn search__btn fa fa-search" type="submit" value="&#xf002;" data-search{{action 'search'}}>
    </form>
  </section>
  <section class="results__section">
    {{#if query }}
      {{partial 'partials/results'}}
    {{/if}}
  </section>
</article>
