<nav class="side-nav">
  <ul class="side-nav__list">
    <li class="side-nav__item">
      {{#link-to 'search'
        (query-params filter='null' query='null')
        class="side-nav__item__link"
        activeClass="side-nav__item--active"
        data-side-search-link='industries'
      }}
        {{ t 'pageheader.search_link'}}
      {{/link-to}}
    </li>
    <li class="side-nav__item">
      {{#link-to 'search'
        (query-params filter='industry')
        class="side-nav__item__link"
        activeClass="side-nav__item--active"
        data-side-search-link='industries'
      }}
        {{fa-icon icon= "search"}}
        {{ t 'search.results_industries' }}
      {{/link-to}}
    </li>
    <li class="side-nav__item">
      {{#link-to 'search'
        (query-params filter='product')
        class="side-nav__item__link"
        activeClass="side-nav__item--active"
        data-side-search-link='products'
      }}
        {{fa-icon icon= "search"}}
        {{ t 'search.results_products' }}
      {{/link-to}}
    </li>
    <li class="side-nav__item">
      {{#link-to 'search'
        (query-params filter='location')
        class="side-nav__item__link"
        activeClass="side-nav__item--active"
        data-side-search-link='locations'
      }}
        {{fa-icon icon= "search"}}
        {{ t 'search.results_locations' }}
      {{/link-to}}
    </li>
  </ul>
  <ul class="side-nav__list">
    <li class="side-nav__item">
      {{#link-to "about.project-description"
        class="side-nav__item__link"
        activeClass="side-nav__item--active"
        data-side-search-link='about'
      }}
        {{ t 'pageheader.about' }}
      {{/link-to}}
    </li>
    <li class="side-nav__item">
      {{#link-to "about.glossary"
        class="side-nav__item__link"
        activeClass="side-nav__item--active"
        data-side-search-link='glossary'
      }}
        {{ t 'general.glossary' }}
      {{/link-to}}
    </li>

    <li class="side-nav__item">
      {{#link-to "downloads"
        current-when="downloads"
        class="side-nav__item__link"
        activeClass="side-nav__item--active"
        data-side-search-link='data'
      }}
        {{ t 'pageheader.download' }}
      {{/link-to}}
    </li>
  </ul>
</nav>

