{{#if query }}
  <h2 class="results__head">{{resultsLength}} {{t 'search.header'}}</h2>
{{else}}
  <h2 class="results__head">{{t placeHolderText}}</h2>
{{/if}}
<form class="search__wrap">
  <div class="search__field__wrap">
    {{input
      class="search"
      placeholder=( t placeHolderText )
      value=textsearch
      enter='query'
      required='required'
      data-search-input=''
    }}
    <button class="search__reset fa fa-close" type="reset"></button>
  </div>
  <input class="search__submit btn btn--standalone btn--search"
    data-search
    type="submit"
    value="{{ t 'pageheader.search_link' }}"
    {{action 'query' textsearch}} >
</form>

{{#if results.length}}
  <h3 class="section__head results__subhead">{{t 'search.results_products'}}</h3>
  <ul class="results__list">
    {{#each result in results}}
      {{search-result
        result=result
        tagName="li"
        class="results__item"
      }}
    {{/each}}
  </ul>
{{/if}}
<p class='results__copy results__copy--postscript'>{{t 'search.didnt_find'}}</p>
