{{component "stream-header"
  model=model.entity
  type=entityType
  source=source
  variable=variable
  firstYear=firstYearForMenu
  lastYear=lastYearForMenu
  agproductFirstYear=agproductFirstYear
  agproductLastYear=agproductLastYear
  agcensusFirstYear=agcensusFirstYear
  agcensusLastYear=agcensusLastYear
  occupationLastYear=occupationLastYear
  metaData=model.metaData
  isVisualization=true
  pageTitle=pageTitle
}}
{{navigation-questions
  entityType=entityType
  model=model.entity
  isDepartment=isDepartment
  isMunicipality=isMunicipality
  firstYear=firstYearForMenu
  lastYear=lastYearForMenu
  agproductFirstYear=agproductFirstYear
  agproductLastYear=agproductLastYear
  agcensusFirstYear=agcensusFirstYear
  agcensusLastYear=agcensusLastYear
  occupationLastYear=occupationLastYear
}}

<div class="container-fluid px-md-x10 my-5 py-5" id="scrollData">
  <div class="row row-without-margin d-flex align-items-center">

    {{#if (is-equal hideVisualization false)}}

      <div class="col-sm-12 col-md-6">
        <h3 class="title_yellow">{{pageTitle}}</h3>
      </div>

      <div class="col-sm-12 col-md-6">
        <h1 class="text-center my-5 text_yellow">{{ t 'graph_builder.types' }}</h1>
        {{partial "partials/buildermod-drawer-change-graph"}}
      </div>

    {{else}}
      <div class="col-sm-12">
        <h3 class="title_yellow">{{pageTitle}}</h3>
      </div>
    {{/if}}


  </div>
</div>


<div class="container-fluid px-md-x10 my-md-5 py-md-5 my-sm-1 py-sm-1">
  <div class="row row-without-margin d-flex align-items-center">

    {{#unless hideVisualization }}

      <div class="col-sm-12 col-md-8">

        <h1 class="title_yellow d-inline" style="font-size: 6rem;">{{builderModHeader}}</h1>
        {{#if showCensus }}

        <a href="" data-toggle="modal" data-target="#modalHelpCensus" class="d-inline ml-3">
          <img src="assets/img/general/ico_questions.svg" class="img-fluid" style="height: 60px; margin-top: -30px;">
        </a>

        <div class="modal fade" id="modalHelpCensus" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close">
                  <i class="fas fa-times fa-2x"></i>
                </button>
              </div>
              <div class="modal-body">

                <div class="row h-100 px-4">
                  <img src="assets/img/infografias/census.png" class="img-fluid">
                </div>

              </div>
              <div class="modal-footer">

                <div class="col text-center mb-4">
                  <button type="button" class="btn btn-outline-secondary text-uppercase" data-dismiss="modal">{{ t 'search.modal.close' }}</button>
                </div>

              </div>
            </div>
          </div>
        </div>

        {{/if}}

        <h1 class="pt-2" style="font-size: 6rem;">{{headerValue}}</h1>
        <h1 class="pt-2 mb-5" style="font-size: 6rem;">{{years}}</h1>
      </div>

      <!--<div class="col-sm-12 col-md-4">
        {{partial "partials/buildermod-search"}}
      </div>-->

      <div class="col-sm-12 col-md-4">
        {{
          component 'buildermod-search'
          source=source
          filterData=filterData
          partnersDataChained=partnersDataChained
          placeHolderText=placeHolderText
          visualization=visualization
          startDate=startDate
          endDate=endDate
          dateExtent=dateExtent
          canYearToggle=canYearToggle
          isScatter=isScatter
          rcaFilter=rcaFilter
          isSingleYearData=isSingleYearData
          source=source
        }}
      </div>

      <div class="col-sm-12 mt-5 pt-5 mb-5 pb-5 {{if isGeo 'row'}} visualizationComponent_div geo_background">
        <div class="visualizationComponent {{if isGeo 'col-md-8'}}" style="{{if isGeo 'border: 1px #555 solid;'}}">

          {{component visualizationComponent
            classNames='buildermod__viz'
            immutableData=immutableData
            modelData=modelData
            data=filteredData
            dataType=source
            varDependent=varDependent
            scale=scale
            startDate=startDate
            dateExtent=dateExtent
            endDate=endDate
            metadata=metadata
            isFiltered=isFiltered
            entityType=entityType
            entityId=entityId
            variable=variable
            search=search
            graph=graph
            elementId=source
            toolTips=toolTips
            range=range
            canUpdateBuildermodSearchService=canUpdateBuildermodSearchService
            filterCategory=canFilterCategory
            resetFilter=resetFilter
            canFilterVcr=canFilterVcr
            filename=(is-concat endDate ' - ' variableTitle ' - ' model.entity.name ' (' model.entity.code ')')
            groupByParent=groupByParent
          }}
          <div id="screens" style="padding: 10px"></div>
        </div>

        {{#if needsLegend }}
          {{#unless isGeo }}

          {{else}}
              {{component 'visualization-legend-geomap'
                          legend=geoLegend
                          varDependent=varDependent
                          startDate=startDate
                          dateExtent=dateExtent
                          endDate=endDate
                          classNames='col-md-4 d-flex flex-column justify-content-around' }}
          {{/unless}}
        {{/if}}

      </div>



      <div class="col-sm-12 mt-5">
        {{component 'visualization-explanation' text=visualizationExplanation}}
      </div>

      <div class="col-sm-12 mt-5">

        {{
          datlas-table
          data=filteredDataTable
          source=source
          entityType=entityType
          search=search
          startDate=startDate
          endDate=endDate
          elementId="sourceTable"
          title_data=(is-concat endDate ' - ' variableTitle ' - ' model.entity.name ' (' model.entity.code ')')
          source_data=visualizationExplanation
        }}

      </div>

    {{/unless}}

    {{#if (is-equal hideVisualization true)}}
      <div class="col-sm-12 mt-5">
        {{component 'visualization-explanation' text=visualizationExplanation}}
      </div>
      <div class="col-sm-12 mt-5">

        {{
          datlas-table
          data=filteredDataTable
          source=source
          entityType=entityType
          search=search
          startDate=startDate
          endDate=endDate
          elementId="sourceTable"
        }}

      </div>
    {{/if}}

  </div>
  {{#if (is-equal entityType "product")}}

    {{#if (is-equal showBack "true")}}

      {{#if (is-equal variable "export_value")}}
        <div class="container-fluid my-5">
          <div class="text-right">
            {{#link-to 'product.abstract' model.entity.id class="btn btn-outline-secondary"}}
            ANTERIOR
            {{/link-to}}
          </div>
        </div>
      {{/if}}

      {{#if (is-equal variable "import_value")}}
        <div class="container-fluid my-5">
          <div class="text-right">
            {{#link-to 'product.abstract' model.entity.id class="btn btn-outline-secondary"}}
            ANTERIOR
            {{/link-to}}
          </div>
        </div>
      {{/if}}

    {{/if}}

  {{/if}}

  {{#if (is-equal entityType "location")}}

    {{#if (is-equal variable "export_value")}}
      <div class="container-fluid my-5">
        <div class="text-right">
          {{#link-to 'location.route' model.entity.id class="btn btn-outline-secondary"}}
          ANTERIOR
          {{/link-to}}
        </div>
      </div>
    {{/if}}

    {{#if (is-equal variable "import_value")}}
      <div class="container-fluid my-5">
        <div class="text-right">
          {{#link-to 'location.locationimports' model.entity.id class="btn btn-outline-secondary"}}
          ANTERIOR
          {{/link-to}}
        </div>
      </div>
    {{/if}}

    {{#if (is-equal variable "employment")}}
      <div class="container-fluid my-5">
        <div class="text-right">
          {{#link-to 'location.locationwages' model.entity.id class="btn btn-outline-secondary"}}
          ANTERIOR
          {{/link-to}}
        </div>
      </div>
    {{/if}}

    {{#if (is-equal variable "wages")}}
      <div class="container-fluid my-5">
        <div class="text-right">
          {{#link-to 'location.locationwages' model.entity.id class="btn btn-outline-secondary"}}
          ANTERIOR
          {{/link-to}}
        </div>
      </div>
    {{/if}}

    {{#if (is-equal source "landUses")}}
      <div class="container-fluid my-5">
        <div class="text-right">
          {{#link-to 'location.ruralactivities' model.entity.id class="btn btn-outline-secondary"}}
          ANTERIOR
          {{/link-to}}
        </div>
      </div>
    {{/if}}


    {{#if (is-equal source "farmtypes")}}
      <div class="container-fluid my-5">
        <div class="text-right">
          {{#link-to 'location.ruralactivities' model.entity.id class="btn btn-outline-secondary"}}
          ANTERIOR
          {{/link-to}}
        </div>
      </div>
    {{/if}}

    {{#if (is-equal source "agproducts")}}
      <div class="container-fluid my-5">
        <div class="text-right">
          {{#link-to 'location.ruralactivities' model.entity.id class="btn btn-outline-secondary"}}
          ANTERIOR
          {{/link-to}}
        </div>
      </div>
    {{/if}}

    {{#if (is-equal source "nonags")}}
      <div class="container-fluid my-5">
        <div class="text-right">
          {{#link-to 'location.ruralactivities' model.entity.id class="btn btn-outline-secondary"}}
          ANTERIOR
          {{/link-to}}
        </div>
      </div>
    {{/if}}

    {{#if (is-equal source "livestock")}}
      <div class="container-fluid my-5">
        <div class="text-right">
          {{#link-to 'location.ruralactivities' model.entity.id class="btn btn-outline-secondary"}}
          ANTERIOR
          {{/link-to}}
        </div>
      </div>
    {{/if}}


  {{/if}}

</div>




<section class="stream__section recirc builder__recirc">
  <div class="recirc__bground" style="background-image: url({{recircUrl}})"></div>
  <div class="recirc__wrap">
    <h3 class="section__head recirc__head">
      {{recircCopy}}
    </h3>
  </div>
</section>

