{{component "stream-header"
  model=model.entity
  type=entityType
  source=source
  variable=variable
  firstYear=firstYearForMenu
  lastYear=lastYearForMenu
  agproductFirstYear=agproductFirstYear
  agproductLastYear=agproductLastYear
  agcensusFirstYear=agcensusFirstYear
  agcensusLastYear=agcensusLastYear
  occupationLastYear=occupationLastYear
  metaData=model.metaData
}}
{{navigation-questions
  entityType=entityType
  model=model.entity
  isDepartment=isDepartment
  isMunicipality=isMunicipality
  firstYear=firstYearForMenu
  lastYear=lastYearForMenu
  agproductFirstYear=agproductFirstYear
  agproductLastYear=agproductLastYear
  agcensusFirstYear=agcensusFirstYear
  agcensusLastYear=agcensusLastYear
  occupationLastYear=occupationLastYear
}}

<div class="container-fluid px-md-x10 my-5 py-5">
  <div class="row row-without-margin d-flex align-items-center">

    <div class="col-sm-12 col-md-6">
      <h3 class="title_yellow">{{pageTitle}}</h3>
    </div>

    <div class="col-sm-12 col-md-6">
      <h1 class="text-center my-5 text_yellow">{{ t 'graph_builder.types' }}</h1>
      {{partial "partials/buildermod-drawer-change-graph"}}
    </div>

  </div>
</div>


<div class="container-fluid px-md-x10 my-md-5 py-md-5 my-sm-1 py-sm-1">
  <div class="row row-without-margin d-flex align-items-center">

    {{#unless hideVisualization }}

      <div class="col-sm-12 col-md-8">
        <h1 class="title_yellow" style="font-size: 6rem;">{{builderModHeader}}</h1>
        <h1 class="pt-2" style="font-size: 6rem;">{{headerValue}}</h1>
        <h1 class="pt-2 mb-5" style="font-size: 6rem;">{{years}}</h1>
      </div>

      <div class="col-sm-12 col-md-4">
        {{partial "partials/buildermod-search"}}
      </div>

      <div class="col-sm-12 mt-5 pt-5 {{if isGeo 'row'}} visualizationComponent_div geo_background">
        <div class="visualizationComponent {{if isGeo 'col-md-8'}}">
          {{component visualizationComponent
            classNames='buildermod__viz'
            immutableData=immutableData
            modelData=modelData
            data=filteredData
            dataType=source
            varDependent=varDependent
            scale=scale
            startDate=startDate
            dateExtent=dateExtent
            endDate=endDate
            metadata=metadata
            isFiltered=isFiltered
            entityType=entityType
            entityId=entityId
            variable=variable
            search=search
            graph=graph
            elementId=source
          }}
          <div id="screens" style="padding: 10px"></div>
        </div>

        {{#if needsLegend }}
          {{#unless isGeo }}
              {{component 'visualization-legend' legend=legend }}
          {{else}}
              {{component 'visualization-legend-geomap' legend=geoLegend classNames='col-md-4 d-flex flex-column justify-content-around' }}
          {{/unless}}
        {{/if}}

      </div>



      <div class="col-sm-12 mt-5">
        {{component 'visualization-explanation' text=visualizationExplanation}}
      </div>

      <div class="col-sm-12 mt-5">

        {{
          datlas-table
          data=filteredData
          source=source
          entityType=entityType
          search=search
          startDate=startDate
          endDate=endDate
          elementId="sourceTable"
        }}

      </div>

    {{/unless}}

  </div>
</div>




<section class="stream__section recirc builder__recirc">
  <div class="recirc__bground" style="background-image: url({{recircUrl}})"></div>
  <div class="recirc__wrap">
    <h3 class="section__head recirc__head">
      {{recircCopy}}
    </h3>
  </div>
</section>

